<div class="dialog-med">
  <div class="panel-header">
    <h2>Advanced Settings</h2>
  </div>
  <form
     class="forms"
     ng-submit="xdcrEditDialogCtl.createReplication()"
     mn-spinner="xdcrEditDialogCtl.viewLoading">
    <div class="panel-content">
      <div class="formrow">
        <label for="replication_priority">Replication Priority</label>
        <select
           id="xdcr_advaced_settings_type"
           ng-model="xdcrEditDialogCtl.settings.priority">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
      <div
         mn-pool-default="xdcrEditDialogCtl.mnPoolDefault"
         mn-pools="xdcrEditDialogCtl.mnPools"
         mn-xdcr-settings="xdcrEditDialogCtl.settings"></div>
    </div>
    <div class="panel-footer">
      <a ng-click="$dismiss()">Cancel</a>
      <button type="submit">Save</button>
    </div>
  </form>
</div>
