<div class="dialog-lg">
  <div class="panel-header">
    <h2 class="ellipsis">
      <span ng-if="!userRolesAddDialogCtl.isEditingMode">
        Add New User
      </span>
      <span ng-if="userRolesAddDialogCtl.isEditingMode">
        Edit User {{userRolesAddDialogCtl.userID}}
      </span>
    </h2>
  </div>
  <form
     name="userRolesAddDialogCtl.form"
     novalidate
     ng-submit="userRolesAddDialogCtl.save()"
     mn-spinner="userRolesAddDialogCtl.viewLoading">
    <div class="panel-content forms row resp-sml items-top" style="padding-bottom: .5rem;">
      <div
         mn-focus="userRolesAddDialogCtl.focusError"
         tabindex="1"
         class="error error-form"
         ng-show="userRolesAddDialogCtl.errors"
         ng-repeat="error in userRolesAddDialogCtl.errors">
        {{error}}
      </div>

      <div class="column width-5">
        <div class="formrow checkbox-list">
          <div ng-if="userRolesAddDialogCtl.isLdapEnabled && poolDefault.compat.atLeast50">
            <h4>Authentication Domain</h4>
            <input
               type="radio"
               name="domain"
               value="local"
               ng-disabled="userRolesAddDialogCtl.isEditingMode"
               id="user-domain-local"
               ng-model="userRolesAddDialogCtl.user.domain">
            <label for="user-domain-local">Couchbase</label>
            <input
               type="radio"
               name="domain"
               value="external"
               ng-disabled="userRolesAddDialogCtl.isEditingMode"
               id="user-domain-external"
               ng-model="userRolesAddDialogCtl.user.domain">
            <label for="user-domain-external">External</label>
          </div>
        </div>
        <div class="formrow">
          <label for="name_inp">Username</label>
          <input
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             mn-autocomplete-off="enforce"
             ng-disabled="userRolesAddDialogCtl.isEditingMode"
             id="name_inp"
             ng-model="userRolesAddDialogCtl.user.id">
        </div>
        <div class="formrow">
          <label for="name_full_inp">Full Name <small>(optional)</small></label>
          <input
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             mn-autocomplete-off="enforce"
             id="name_full_inp"
             ng-model="userRolesAddDialogCtl.user.name">
        </div>
        <div ng-if="userRolesAddDialogCtl.user.domain !== 'external' && !userRolesAddDialogCtl.isEditingMode">
          <div class="formrow">
            <label for="password_inp">Password</label>
            <input
               type="password"
               autocorrect="off"
               spellcheck="false"
               autocapitalize="off"
               mn-autocomplete-off="enforce"
               name="password"
               mn-equal="{{userRolesAddDialogCtl.user.verifyPassword}}"
               id="password_inp"
               ng-model="userRolesAddDialogCtl.user.password">
          </div>
          <div
             class="error error-form"
             ng-show="userRolesAddDialogCtl.form.$submitted && userRolesAddDialogCtl.form.password.$error.mnEqual">
            'Password' and 'Verify Password' do not match
          </div>
          <div class="formrow">
            <label for="secure-password-verify">Verify Password</label>
            <input
               type="password"
               autocorrect="off"
               spellcheck="false"
               name="passwordVerify"
               id="secure-password-verify"
               mn-autocomplete-off="enforce"
               ng-model="userRolesAddDialogCtl.user.verifyPassword">
          </div>
        </div>
      </div>

      <div class="column width-7">
        <label>Roles</label>
        <fieldset class="select-user-roles hide-track show-scrollbar">
          <script type="text/ng-template" id="rolesTree">
            <div ng-init="::isArray = ('isArray' | lodash:role);
                          isObject = ('isObject' | lodash:role) && !isArray">
              <div
                 ng-if="::isArray"
                 ng-init="::
                          isFirstArray = ('isArray' | lodash:role[0]);
                          getUIID = userRolesAddDialogCtl.getUIID(isFirstArray ? role[0] : role[1][0], true);
                          roles = role;">
                <label
                   ng-if="!isFirstArray"
                   ng-click="::userRolesAddDialogCtl.toggleWrappers(getUIID)"
                   class="disclosure initialcaps"
                   ng-class="{
                             'disclosed': userRolesAddDialogCtl.openedWrappers[getUIID],
                             'has-selection': !userRolesAddDialogCtl.openedWrappers[getUIID] && userRolesAddDialogCtl.containsSelected[getUIID]
                             }">
                  {{::role[0]}}
                </label>
                <div ng-class="{'indent-1': !isFirstArray}">
                  <div
                     ng-show="userRolesAddDialogCtl.openedWrappers[getUIID]"
                     ng-repeat="role in (isFirstArray ? roles : roles[1])"
                     ng-include="'rolesTree'">
                  </div>
                </div>
              </div>
              <div
                 ng-if="isObject"
                 ng-init="::getUIID = userRolesAddDialogCtl.getUIID(role);
                          userRolesAddDialogCtl.show(getUIID);"
                 ng-class="[{'has-selection': userRolesAddDialogCtl.selectedRoles[getUIID]}, 'dynamic-' + role.role, 'dynamic-' + (role.bucket_name ? role.bucket_name : 'no_bucket')]">
                <input
                   type="checkbox"
                   id="for-{{::getUIID}}"
                   ng-disabled="(
                                role.role !== 'admin' &&
                                userRolesAddDialogCtl.selectedRoles[
                                userRolesAddDialogCtl.getUIID({role: 'admin'})
                                ]) || (
                                role.bucket_name !== '*' &&
                                userRolesAddDialogCtl.selectedRoles[
                                userRolesAddDialogCtl.getUIID({role: role.role, bucket_name: '*'})
                                ])"
                   ng-change="::userRolesAddDialogCtl.onCheckChange(role, getUIID)"
                   ng-model="userRolesAddDialogCtl.selectedRoles[getUIID]">
                <label
                   ng-attr-title="{{role.desc}}"
                   for="for-{{::getUIID}}">
                  {{::role.name}}
                  <span
                     ng-if="getUIID === userRolesAddDialogCtl.getUIID({role: 'query_external_access'})"
                     tooltip-trigger="'mouseenter'"
                     tooltip-append-to-body="true"
                     class="fa-exclamation-circle icon orange-3"
                     uib-tooltip="Warning: Granting the query_external_access role permits execution of the N1QL function CURL() and may allow access to other network endpoints in the local network and the Internet.">
                  </span>
                </label>
              </div>
            </div>
          </script>
          <div>
            <div
               ng-repeat="role in userRolesAddDialogCtl.rolesTree"
               ng-include="'rolesTree'"></div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="panel-footer scroll-shadow">
      <a ng-click="$dismiss()">Cancel</a>
      <button type="submit">
        <span ng-if="userRolesAddDialogCtl.isEditingMode">
          Save Changes
        </span>
        <span ng-if="!userRolesAddDialogCtl.isEditingMode">
          Add User
        </span>
      </button>
    </div>
  </form>
</div>
