%% Top-level rebar.config drives the build of all of our applications and
%% dependencies. This configuration file is applied to all applications that we
%% compile.
%%
%% Rebar3 will, by default, compile all applications in
%% ["apps/*","lib/*","."], this configuration parameter is known as
%% project_app_dirs.

{erl_opts, [{src_dirs, ["src"]}, debug_info, warnings_as_errors]}.

{profiles, [
  {test, [
    {deps, [
      {meck, {path, "deps/meck"}},
      {triq, {path, "deps/triq"}}
    ]},

    {erl_opts, [{extra_src_dirs, ["test"]}]}
  ]}]}.

{project_plugins, [
  {rebar3_path_deps, "0.4.0"}
]}.