body {
  overflow: auto;
}

.dialog_main_wrapper {
  z-index: 1050;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.dialog {
  position: relative;
  z-index: 101;
  top: 2.5rem;
}

.modal-backdrop {
  z-index: 1040;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  opacity: 0.8;
  background-color: #000000;
}

/* dialog closing (X) hyperlinks ------------ */
.modal-close {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  position: absolute;
  top: .25rem;
  right: .5rem;
  color: #fff;
  border-radius: 50%;
  padding: .25rem .75rem;
  opacity: .7;
  transition: all .4s ease;
  opacity: 1;
}
.modal-close:link {
  color: #fff;
}
.modal-close:visited {
  color: #fff;
}
.modal-close:hover {
  color: #000;
  font-weight: 600;
  background-color: #fff;
  opacity: .8;
}
.modal-close:active {
  color: #689fde;
  background-color: #eceff2;
  opacity: .5;
}
.chart-overlay .modal-close,
.chart-overlay .modal-close:link,
.chart-overlay .modal-close:visited {
  color: #333;
}
.chart-overlay .modal-close:hover {
  background-color: #eceff2;
}
