<!--
Copyright 2019-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="row flex-left min-height-2 margin-bottom-half"
     ng-click="$event.stopPropagation();">
  <p class="disclosure margin-bottom-0"
     ng-class="{'disclosed': $ctrl.showStats}"
     ng-click="$ctrl.showStats = !$ctrl.showStats;">
    {{$ctrl.mnTitle}}
  </p>
  <mn-select
     ng-if="$ctrl.showStats"
     class="margin-left-1 fix-width-1-5"
     ng-model="$ctrl.zoom"
     on-select="$ctrl.onSelectZoom(selectedOption)"
     values="['minute', 'hour', 'day', 'week', 'month']"
     capitalize="true">
  </mn-select>
</div>
<div class="row charts"
   ng-if="$ctrl.showStats"
   ng-click="$event.stopPropagation();">
  <mn-statistics-chart
     ng-if="$ctrl.scope"
     stats-poller="$ctrl.mnAdminStatsPoller"
     sync-scope="$ctrl.scope"
     ng-repeat="config in $ctrl.charts track by config.id"
     items="$ctrl.items"
     ng-class="'statistics-' + config.size"
     bucket="{{$ctrl.bucket}}"
     node="{{$ctrl.nodeName || 'all'}}"
     zoom="{{$ctrl.zoom}}"
     class="panel cursor-default"
     config="config"></mn-statistics-chart>
</div>
