<div class="row flex-left min-height-2 margin-bottom-half"
     ng-click="$event.stopPropagation();">
  <p class="text-medium disclosure margin-0"
     ng-class="{'disclosed': $ctrl.showStats}"
     ng-click="$ctrl.showStats = !$ctrl.showStats;">
    {{$ctrl.mnTitle}}
  </p>
  <select
     ng-model="$ctrl.zoom"
     ng-change="$ctrl.onSelectZoom()"
     ng-if="$ctrl.showStats"
     class="margin-left-1">
    <option value="minute">minute</option>
    <option value="hour">hour</option>
    <option value="day">day</option>
    <option value="week">week</option>
    <option value="month">month</option>
  </select>
</div>
<div class="row charts"
   ng-if="$ctrl.showStats"
   ng-click="$event.stopPropagation();">
  <mn-statistics-chart
     ng-if="$ctrl.scope"
     sync-scope="$ctrl.scope"
     ng-repeat="config in $ctrl.charts track by config.id"
     items="$ctrl.items"
     ng-class="'statistics-' + config.size"
     bucket="{{$ctrl.bucket}}"
     node="{{$ctrl.nodeName || 'all'}}"
     zoom="{{$ctrl.zoom}}"
     class="panel cursor-default"
     config="config"></mn-statistics-chart>
</div>
