<!--
Copyright 2019-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="formrow">
  <label ng-attr-for="{{::mnId}}">{{::mnLabel}}</label>
  <input
     ng-if="mnType == 'checkbox'"
     ng-attr-id="{{::mnId}}"
     ng-disabled="mnDisabled"
     type="checkbox"
     ng-model="mnModel[mnName]">
  <label
     ng-if="mnType == 'checkbox'"
     ng-attr-for="{{::mnId}}"
     class="checkbox">
    {{::mnLabel}}
  </label>
  <input
     ng-if="mnType == 'text'"
     ng-attr-id="{{::mnId}}"
     autocorrect="off"
     spellcheck="false"
     autocapitalize="off"
     ng-disabled="mnDisabled"
     type="text"
     ng-model="mnModel[mnName]">
  <input
     ng-if="mnType == 'number'"
     ng-attr-id="{{::mnId}}"
     autocorrect="off"
     spellcheck="false"
     autocapitalize="off"
     ng-disabled="mnDisabled"
     type="number"
     ng-model="mnModel[mnName]">
  <mn-select
     ng-if="mnType == 'select'"
     mn-disabled="mnDisabled"
     ng-model="mnModel[mnName]"
     values="mnItems">
  </mn-select>
  <div
     class="error"
     ng-show="mnErrors[mnName]">
    {{mnErrors[mnName]}}
  </div>
</div>
