<form class="margin-bottom-1" ng-submit="submit()">
  <div class="row flex-left">
    <mn-keyspace-selector [service]="mnCollectionSelectorService">
    </mn-keyspace-selector>
    <button
       type="submit"
       class="ks-control-button append"> ADD</button>
  </div>
</form>

<div
   class="ks-control-selectedrole"
   ng-repeat="cfg in state.selectedRolesConfigs[item.role]">
  <div class="row">
    <span>
      <span class="icon fa-check green-1"></span>
      <span class="text-small">{{cfg}}</span>
    </span>
    <a ng-click="del(cfg)">
      X
    </a>
  </div>
</div>
<div
   class=""
   ng-repeat="(params, groups) in state.selectedGroupsRolesConfigs[item.role]">
  <div class="row">
    {{params}}
    <span
       class="role-from-group"
       ng-if="groups.length"
       tooltip-trigger="mouseenter"
       tooltip-append-to-body="true"
       uib-tooltip="{{groups.join(', ')}}">&nbsp;</span>
  </div>
</div>
