<!--
Copyright 2018-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<!-- the "dynamic_ + X" style is added w/ ng-class to either the section container or the cbui-tablerow depending on node status and whether the row is expanded or not -->
<section
  class="has-hover"
  (click)="detailsHashObserver.stream.toggleDetails.next(node.hostname)"
  [ngClass]="[('dynamic_' + node.clusterMembership + ' dynamic_' + node.status)]">
  <div class="cbui-tablerow">
    <span class="cbui-table-cell flex-grow-2-5 cbui-tablerow-title flex-left">
      <span class="ellipsis padding-right-min" title="{{hostname | async}}">
        {{hostname | async}}
      </span>
    </span>
    <!-- <span -->
    <!--    class="cbui-table-cell flex-grow-1-5 flex-left" -->
    <!--    ng-show="rbac.cluster.server_groups.read && serversCtl.mnPoolDefault.value.isGroupsAvailable" -->
    <!--    title="{{serversCtl.getGroupsByHostname[node.hostname].name}}"> -->
      <!--     {{serversCtl.getGroupsByHostname[node.hostname].name | mnLimitTo: 20}} -->
      <!-- </span> -->
    <span class="cbui-table-cell flex-grow-3 wrap resp-hide-xsml">
      <span *ngFor="let service of (services | async)" class="label neutral nocaps">{{service}}</span>
    </span>
    <span class="cbui-table-cell flex-grow-half flex-basis-2 resp-hide-sml">
      {{cpuUsage | async}}
    </span>
    <span class="cbui-table-cell flex-grow-half flex-basis-2 resp-hide-sml">
      {{ramUsage | async}}
    </span>
    <span class="cbui-table-cell flex-grow-half flex-basis-2 resp-hide-med">
      {{swapUsage | async}}
    </span>
    <span class="cbui-table-cell resp-hide-med">
      {{couchDiskUsage | async}}
    </span>
    <span
      class="cbui-table-cell resp-hide-med"
      [attr.title]="(node.interestingStats.curr_items || 0 | mnFormatQuantity:' ':1000) + '/' + (node.interestingStats.vb_replica_curr_items || 0 | mnFormatQuantity:' ':1000)">
      {{node.interestingStats.curr_items || 0 | mnFormatQuantity:' ':1000 }}/{{node.interestingStats.vb_replica_curr_items || 0 | mnFormatQuantity:' ':1000 }}
    </span>
    <span class="cbui-table-cell text-right resp-hide-sml">
      <a
        [hidden]="(isNodeInactiveFailed | async) ||
                  (isNodeUnhealthy | async) ||
                  !(statsRead | async) ||
                  !(bucketAnyStatsRead | async)"
        [attr.title]="'View Analytics for ' + node.hostname"
        (click)="$event.stopPropagation()">
        <!-- ui-state="'app.admin.servers.list.analytics.list'" -->
        <!-- ui-state-params="{statsHostname: node.hostname, bucket: rbac.bucketNames['.stats!read'][0] || null}"> -->
        Statistics
      </a>
    </span>
  </div>

  <!-- InactiveFailed, InactiveAdded and Unhealthy states-->
  <div
    class="cbui-tablerow error"
    [hidden]="(isRebalancing | async) ||
              !(tasksRead | async) ||
              (!(isNodeInactiveFailed | async) &&
              !(isNodeInactiveAdded | async) &&
              !(isNodeUnhealthy | async))">
    <span>
      <span>
        {{(isNodeInactiveAdded | async) && (isNodeRecoveryNone | async) ?
        'New node' :
        'Node '}}</span>
      <span [hidden]="!(isNodeUnhealthy | async)">unresponsive</span>
      <span [hidden]="!(isNodeUnhealthy | async) ||
                      (!(isNodeInactiveFailed | async) &&
                      (!(isNodeInactiveAdded | async) || (isNodeRecoveryNone | async)))">,</span>
      <span [hidden]="!(isNodeInactiveFailed | async) &&
                      (!(isNodeInactiveAdded | async) || (isNodeRecoveryNone | async))">
        failed-over
      </span>
      <span>
        | Not taking traffic
      </span>
      <span [hidden]="!(isNodeUnhealthy | async) ||
                      !(poolsWrite | async) ||
                      (isNodeInactiveFailed | async) ||
                      (isNodeInactiveAdded | async) ||
                      !(isNodeRecoveryNone | async)">
        | FAILOVER to activate available replicas
      </span>
      <span [hidden]="!(isNodeInactiveAdded | async) ||
                      !(isNodeRecoveryNone | async)">
        | ADD pending rebalance
      </span>
      <span [hidden]="!(isNodeInactiveFailed | async)">
        | REMOVAL pending rebalance
      </span>
      <span [hidden]="!(isNodeInactiveAdded | async) ||
                      (isNodeRecoveryNone | async)">
        | <span class="allcaps">{{node.recoveryType}}</span> RECOVERY pending rebalance
      </span>
    </span>
    <button
      [hidden]="!(isNodeInactiveAdded | async) ||
                (isNodeRecoveryNone | async) ||
                !(poolsWrite | async)"
      class="outline"
      [disabled]="(isRecoveryMode | async)"
      (click)="$event.stopPropagation(); postReFailover.submit.next(node.otpNode)">
      Cancel Add Back
    </button>
    <!-- looks like we don't need this button since we have it in item-details -->
    <!-- <button -->
    <!--   [hidden]="!(isNodeUnhealthy | async) || -->
    <!--             !(poolsWrite | async) || -->
    <!--             (isNodeInactiveFailed | async) || -->
    <!--             (isNodeInactiveAdded | async) || -->
    <!--             !(isNodeRecoveryNone | async)"> -->
    <!--   <\!-- ng-click="serversItemCtl.failOverNode(node);$event.stopPropagation();"> -\-> -->
    <!--   Failover -->
    <!-- </button> -->
    <button
      [hidden]="!(poolsWrite | async) ||
                !(isNodeInactiveAdded | async) ||
                !(isNodeRecoveryNone | async)"
      class="outline"
      [disabled]="(isRecoveryMode | async)"
      (click)="$event.stopPropagation(); ejectNode.submit.next(node)">
      Cancel Add
    </button>
  </div>

  <div
    class="cbui-tablerow"
    [hidden]="!(isNodeInactiveFailed | async) || (isNodeUnhealthy | async)">
    <div>
      This server is now reachable. Do you want to add it back to the cluster on the next rebalance?
    </div>

    <div
      class="nowrap"
      [hidden]="!(poolsWrite | async)">
      <button
        type="button"
        class="outline"
        (click)="postSetRecoveryType.submit.next(['full', node.otpNode]);$event.stopPropagation()">
        <span [hidden]="!(isKVNode | async)">Add Back: Full Recovery</span>
        <span [hidden]="(isKVNode | async)">Add Back</span>
      </button>
      <button
        type="button"
        class="outline"
        [hidden]="!(isKVNode | async)"
        (click)="postSetRecoveryType.submit.next(['delta', node.otpNode]);$event.stopPropagation()">
        Add Back: Delta Recovery
      </button>
    </div>
  </div>

  <!-- <\!-- active node flagged for removal -\-> -->
    <div
      class="cbui-tablerow"
      [hidden]="(isRebalancing | async) ||
                (isNodeInactiveAdded | async) ||
                (isNodeUnhealthy | async) ||
                !(tasksRead | async) ||
                !((ejectedNodesByUI | async) && (ejectedNodesByUI | async)[node.otpNode])">
      <span class="error">Node flagged for removal | Still taking traffic | REMOVAL pending rebalance</span>

      <button
        [hidden]="!(poolsWrite | async)"
        class="outline"
        [disabled]="(isRecoveryMode | async)"
        (click)="$event.stopPropagation(); doCancelEjectNode.next(node)">
        Cancel Remove
      </button>
    </div>


    <!-- rebalance progress metering -->
    <div
      class="row row-min items-bottom"
      [hidden]="!(isRebalancing | async) || !(runningTasksRebalance | async) || !(tasksRead | async)">
      <div class="task-progress-row-text indent-1">
        rebalance {{rebalanceTaskProgress | async | number}}% complete
      </div>
    </div>

    <!-- server details section -->
    <div
      class="cbui-tablerow-expanded"
      *ngIf="(detailsHashObserver.stream.isOpened | async) && (nodesRead || async)">
      <mn-servers-item-details
        [node]="node"
        [hostname]="hostname"
        ></mn-servers-item-details>
    </div>
</section>
