<!--
Copyright 2018-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<mn-element-cargo depot="actions">
  <div class="header-controls">
    <mn-search
       class="row borderless"
       mnPlaceholder="filter users list"
       [mnFormGroup]="userRolesFieldsGroup">
    </mn-search>
    <!-- <a ng-show="rbac.cluster.admin.security.write" -->
    <!--    ng-click="userRolesCtl.addUser()"> -->
    <!--   ADD USER -->
    <!-- </a> -->
  </div>
</mn-element-cargo>
<div>
  <!-- mn-spinner="!userRolesCtl.state || userRolesCtl.viewLoading" min-height="300px" -->
  <div
     *ngIf="(isEnterprise | async) && (ldapEnabled | async)"
     class="users-auth-check">
    <span
       class="icon margin-right"
       [ngClass]="{'fa-check': (isSaslauthdAuthEnabled | async),
                  'success': (isSaslauthdAuthEnabled | async),
                  'fa-ban': !(isSaslauthdAuthEnabled | async),
                  'grayblack-3': !(isSaslauthdAuthEnabled | async)}">
    </span>
    <ng-template #saslauthdAuthTooltip>
      Use the CLI to change the state of external authentication (LDAP).
    </ng-template>
    <p
       [ngbTooltip]="saslauthdAuthTooltip"
       placement="left"> external authentication is
      <span [hidden]="(isSaslauthdAuthEnabled | async)">not</span> enabled
    </p>
  </div>
</div>
<div class="cbui-table">
  <div class="cbui-table-header padding-left">
    <span class="cbui-table-cell">
      <span
         (click)="onSortByClick.next('id')"
         class="sorter">username</span>
      <!-- sort-by-default="true"  -->
    </span>
    <span class="cbui-table-cell resp-hide-sml">
      <span
         (click)="onSortByClick.next('name')"
         class="sorter">full name</span>
    </span>
    <span class="cbui-table-cell flex-grow-3">
      <span
         (click)="onSortByClick.next('roles')"
         class="sorter">roles</span>
    </span>
    <span class="cbui-table-cell resp-hide-xsml">
      <span
         (click)="onSortByClick.next('domain')"
         class="sorter">auth domain</span>
    </span>
  </div>

  <mn-user-roles-item
     [user]="user"
     class="has-hover"
     *ngFor="let user of (filteredUsers | async); trackBy: trackByFn"></mn-user-roles-item>

  <div
     *ngIf="!(users | async)?.users.length"
     class="zero-content">
    You don't have any users to display yet. <span [hidden]="!(securityWrite | async)">Use ADD USER above to create one.</span>
  </div>
</div>

<div class="row pagination" [formGroup]="userRolesFieldsGroup">
  <div class="simple-select">
    <select
       formControlName="pageSize">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
  <span>
    <a
       [hidden]="(users | async)?.skipped == 0"
       uiSref="."
       [uiParams]="(firstPageParams | async)">
      &lt;&lt; First</a>
    <a
       uiSref="."
       [uiParams]="(users | async)?.links.prev"
       [hidden]="!(users | async)?.links.prev">
      &lt; Prev</a>
    <a
       uiSref="."
       [uiParams]="(users | async)?.links.next"
       [hidden]="!(users | async)?.links.next">
      Next &gt;</a>
    <a
       uiSref="."
       [uiParams]="(users | async)?.links.last"
       [hidden]="!(users | async)?.links.last">
      Last &gt;&gt;</a>
  </span>
</div>
