.bar-usages .usage {
  background-color: #efebe0;
  height: .75rem;
  margin-bottom: .25rem;
  overflow: hidden;
}
.bar-usages .usage .item {
  position: relative;
  float:left;
}
.bar-usages .usage .usage-item-0 {
  background-color: #8eb7e6; /* .blue-3 */
}
.bar-usages .usage .usage-item-1 {
  background-color: #b3cfef; /* .blue-4 */
}
.bar-usages .usage .usage-item-2 {
  background-color: #d8dde4;  /* .gray-blue-3 */
}

/* bar usages specifics by case ----------------------------------------- */

.bar-usages.overcommitted .usage {
  background-color: #e07f82; /* .red-3 */
}

.modal-backdrop {
  z-index: 1040;
  background-color: #000000;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.modal {
  position: fixed;
  overflow: auto;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: 1050;
  justify-content: center;
  align-items: flex-start;
  display: flex!important;
  min-height: 1rem;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  z-index: 101;
  top: 2.5rem;
  background-color: #fff;
  border: none;
  border-radius: 3px 3px 2px 2px;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.25);
}
