<!--
Copyright 2025-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div>
  {{vm.getStatusLabel(vm.encryptionInfo.dataStatus)}}

  <span
     class="icon cursor-pointer margin-left-quarter"
     ng-class="{
       'fa-eye green-3': !vm.hasIssues() && vm.encryptionInfo.dataStatus === 'encrypted',
       'fa-low-vision orange-3': !vm.hasIssues() && vm.encryptionInfo.dataStatus === 'partiallyEncrypted',
       'fa-eye-slash red-3': !vm.hasIssues() && vm.encryptionInfo.dataStatus === 'unencrypted',
       'fa-warning red-3': vm.hasIssues()}"
     tooltip-trigger="mouseenter"
     tooltip-append-to-body="true"
     uib-tooltip-template="'app/components/directives/mn_encryption_status/mn_encryption_status_template.html'"
     tooltip-class="med">
  </span>
</div>
