<!--
Copyright 2018-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="dialog-med">
  <div class="panel-header">
    <h2>{{bucket ? 'Edit Bucket Settings' : 'Add Data Bucket'}}</h2>
    <a class="ui-dialog-titlebar-close modal-close" (click)="activeModal.dismiss()">X</a>
  </div>
  <form
     novalidate
     [formGroup]="form.group"
     (submit)="form.submit.next()">
    <div class="forms panel-content">
      <div class="formrow">
        <div class="row">
          <label>Name</label>
          <ng-template #authorizedUsers>
            <div *ngFor="let user of ((users | async).slice(0, 3))">
              {{user}}
            </div>
            <a
               *ngIf="showUsersRedirect | async"
               (click)="clickShowUsersRedirect.next()">
              more ...</a>
          </ng-template>
          <span
             *ngIf="(showAuthorizedUsers | async)"
             [ngbTooltip]="authorizedUsers"
             triggers="click"
             placement="right">
            <a class="cursor-pointer">
              <span class="text-smaller">authorized users</span>
            </a>
          </span>
        </div>
        <input
           type="text"
           formControlName="name"
           [mnFocus]="focusFieldSubject"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
        <div
           class="error"
           [hidden]="!(httpError | async)?.errors?.name">
          {{(httpError | async)?.errors?.name}}
        </div>
      </div>

      <div class="formrow">
        <label>Memory Quota <small>in megabytes per server node</small></label>
        <div class="form-inline margin-bottom-1">
          <input
             type="number"
             formControlName="ramQuotaMB">
          <abbr>MiB</abbr>
        </div>
        <mn-bar-usage
           class="bar-usages mn-bar-usages bucket-add"
           [ngClass]="{overcommitted: !!(bucketRam | async)?.topLeft}"
           [total]="bucketTotalRam"
           [baseInfo]="bucketRam">
        </mn-bar-usage>
        <div
           class="error"
           [hidden]="!(httpError | async)?.errors?.ramQuota">
          {{(httpError | async)?.errors?.ramQuota}}
        </div>
      </div>

      <div class="formrow">
        <label>Bucket Type</label>
        <input
           type="radio"
           value="membase"
           formControlName="bucketType"
           id="for-bucket-type-membase">
        <label for="for-bucket-type-membase">Couchbase</label>
        <input
           type="radio"
           value="memcached"
           formControlName="bucketType"
           id="for-bucket-type-memcached">
        <label for="for-bucket-type-memcached">Memcached</label>
        <input
           type="radio"
           value="ephemeral"
           formControlName="bucketType"
           id="for-bucket-type-ephemeral">
        <label
           for="for-bucket-type-ephemeral">Ephemeral</label>
        <div
           class="error error-form"
           [hidden]="(bucketType | async) !== 'memcached'">
          Warning: Memcached buckets are deprecated.
        </div>
      </div>

      <div class="formrow">
        <span
           class="disclosure inline"
           [ngClass]="{'disclosed': (showAdvancedSettings.state | async)}"
           (click)="showAdvancedSettings.click.next()">
          Advanced bucket settings
        </span>
      </div>
      <div [hidden]="!(showAdvancedSettings.state | async)">
        <div
           class="formrow checkbox-list"
           [hidden]="(bucketType | async) === 'memcached'">
          <label>Replicas</label>
          <div class="row flex-left">
            <span class="column">
              <input
                 type="checkbox"
                 id="for-enable-replicas"
                 formControlName="replicaNumberEnabled">
              <label for="for-enable-replicas">Enable</label>
            </span>
            <div
               class="row flex-left width-8"
               [hidden]="!(replicaNumberEnabled | async)">
              <mn-select
                 class="inline margin-right-half fix-width-3-quarters"
                 [values]="[1, 2, 3]"
                 [group]="form.group"
                 mnFormControlName="replicaNumber">
              </mn-select>
              <small>Number of replica (backup) copies</small>
            </div>
          </div>
          <div
             class="error margin-bottom-half"
             [hidden]="!(showReplicaNumberError | async)">
            {{(showReplicaNumberError | async)}}
          </div>
          <div
             class="formrow"
             [hidden]="(bucketType | async) !== 'membase'">
            <input
               type="checkbox"
               id="enable-view-replicas"
               formControlName="replicaIndex">
            <label for="enable-view-replicas">Replicate view indexes</label>
          </div>
        </div>

        <div
           class="formrow"
           [hidden]="!(showMaxTTL | async)">
          <label class="inline">Bucket Max Time-To-Live</label>
          <ng-template #bucketMaxTTLTooltip>
            The maximum time-to-live (TTL) for all documents in
            this bucket in seconds. If enabled and a document is mutated with no TTL
            or a TTL greater than the maximum, its TTL will be set to the
            maximum bucket TTL. The largest TTL allowed is 2147483647.
          </ng-template>
          <span
             class="fa-stack icon-info"
             [ngbTooltip]="bucketMaxTTLTooltip"
             triggers="click"
             placement="top">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <div class="row flex-left">
            <span
               class="width-3"
               [formGroup]="form.group">
              <input
                 type="checkbox"
                 id="enable_bucket_ttl"
                 formControlName="maxTTLEnabled">
              <label for="enable_bucket_ttl">Enable</label>
            </span>
            <span class="row flex-left width-9">
              <input
                 type="text"
                 formControlName="maxTTL"
                 class="margin-right-half width-3">
              <small> second{{isMaxTTLPlural | async}}</small>
            </span>
          </div>
          <div
             class="error"
             [hidden]="!(httpError | async)?.errors?.maxTTL">
            {{(httpError | async)?.errors?.maxTTL}}
          </div>
          <div
             [hidden]="!(showMaxTTLWarning | async)"
             class="content-box row margin-top-1">
            <p>
              <strong>NOTE</strong> &nbsp;A non-zero value will result in eventual data loss.
              You should not, for example, enable Bucket TTL
              on permanent storage buckets or the metadata buckets for Eventing.
            </p>
          </div>
        </div>

        <div
           class="formrow"
           [hidden]="!(showCompressionMode | async)">
          <label class="inline">Compression Mode</label>
          <ng-template #compressionModeTooltip>
            <strong>Off</strong> - compressed documents are accepted but actively decompressed for storage in memory and for streaming. Not advised!<br>
            <strong>Passive</strong> - compressed documents can be stored and streamed from the server,
            but the server does not try to actively compress documents (client-initiated)<br>
            <strong>Active</strong> - the server will try to actively compress documents in memory
          </ng-template>
          <span
             class="fa-stack icon-info"
             [ngbTooltip]="compressionModeTooltip"
             triggers="click"
             placement="right">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <div class="formrow checkbox-list">
            <input
               type="radio"
               id="for-comp-mode-off"
               formControlName="compressionMode"
               value="off">
            <label for="for-comp-mode-off">Off</label> <!--  default value -->
            <input
               type="radio"
               id="for-comp-mode-passive"
               formControlName="compressionMode"
               value="passive">
            <label for="for-comp-mode-passive">Passive</label>
            <input
               type="radio"
               id="for-comp-mode-active"
               formControlName="compressionMode"
               value="active">
            <label for="for-comp-mode-active">Active</label>
          </div>
        </div>

        <div [hidden]="!(showConflictResolution | async)">
          <label class="inline">Conflict Resolution</label>
          <ng-template #conflictResolutionTooltip>
            Choose the timestamp conflict resolution method if XDCR replications will be set up for this bucket. Attention: timestamp conflict resolution requires additional NTP setup.
          </ng-template>
          <span
             class="fa-stack icon-info"
             [ngbTooltip]="conflictResolutionTooltip"
             triggers="click"
             placement="right">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <div class="formrow checkbox-list">
            <input
               type="radio"
               id="for-conflict-resolution-seqno"
               formControlName="conflictResolutionType"
               name="conflictResolutionType"
               value="seqno">
            <label for="for-conflict-resolution-seqno">Sequence number</label>
            <input
               type="radio"
               id="for-conflict-resolution-lww"
               formControlName="conflictResolutionType"
               name="conflictResolutionType"
               value="lww">
            <label for="for-conflict-resolution-lww">Timestamp</label>
            <span [hidden]="!(isDeveloperPreview | async)">
              <input
                 type="radio"
                 id="for-conflict-resolution-custom"
                 formControlName="conflictResolutionType"
                 name="conflictResolutionType"
                 value="custom">
              <label for="for-conflict-resolution-custom">Custom</label>
            </span>
            <div
               class="error"
               [hidden]="!(httpError | async)?.errors?.conflictResolutionType">
              {{(httpError | async)?.errors?.conflictResolutionType}}
            </div>
            <div
               class="error"
               [hidden]="(form.group.get('conflictResolutionType').valueChanges | async) !== 'lww'">
              Warning: Timestamp-based conflict resolution requires NTP to be correctly set up
              on all the nodes in your replication topology to ensure high-quality time synchronization.
              See  <a href="https://docs.couchbase.com/server/{{majorMinorVersion | async}}/install/synchronize-clocks-using-ntp.html"
                      target="_blank" rel="noopener noreferrer">Setting Up NTP</a> in the Couchbase documentation.
            </div>
          </div>
        </div>

        <div
           class="formrow checkbox-list"
           [hidden]="(bucketType | async) !== 'membase'">
          <label class="inline">Ejection Method</label>
          <ng-template #ejectionMethodTooltip>
            <strong>Value Ejection:</strong>
            During ejection, only the value will be ejected
            (key and metadata will remain in memory).
            <br><br>
            <strong>Full Ejection:</strong> During ejection,
            everything (including key, metadata, and value) will be ejected.
            <br><br>
            Value Ejection needs more system memory, but provides
            the best performance. Full Ejection reduces the memory
            overhead requirement.
          </ng-template>
          <span
             class="fa-stack icon-info"
             [ngbTooltip]="ejectionMethodTooltip"
             triggers="click"
             placement="top">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <div class="formrow">
            <input
               type="radio"
               name="evictionPolicy"
               formControlName="evictionPolicy"
               value="valueOnly"
               id="for-metadata-value-eject">
            <label for="for-metadata-value-eject">Value-only</label>
            <input
               type="radio"
               formControlName="evictionPolicy"
               name="evictionPolicy"
               value="fullEviction"
               id="for-metadata-full-eject">
            <label for="for-metadata-full-eject">Full</label>
            <div
               class="error"
               [hidden]="!(evictionPolicyWarning | async)">
              {{(evictionPolicyWarning | async)}}
            </div>
          </div>
        </div>

        <div
           class="formrow checkbox-list"
           [hidden]="(bucketType | async) !== 'ephemeral'">
          <label class="inline">Ejection Policy</label>
          <ng-template #ejectionMethodEphemeralTooltip>
            Ejection automatically removes older data from RAM
            to create space for new data if you reach your bucket quota.
            <br><br>
            Without automatic ejection, Couchbase Server keeps all data
            until explicitly deleted, but will reject any new data if
            you reach the quota (dedicated memory) you set for your bucket.
          </ng-template>
          <span
             class="fa-stack icon-info"
             [ngbTooltip]="ejectionMethodEphemeralTooltip"
             triggers="click"
             placement="top">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <div class="formrow">
            <input
               type="radio"
               name="evictionPolicyEphemeral"
               formControlName="evictionPolicyEphemeral"
               value="noEviction"
               id="for-metadata-value-eject-ephemeral">
            <label for="for-metadata-value-eject-ephemeral">No ejection</label>
            <input
               type="radio"
               name="evictionPolicyEphemeral"
               formControlName="evictionPolicyEphemeral"
               value="nruEviction"
               id="for-metadata-full-eject-ephemeral">
            <label for="for-metadata-full-eject-ephemeral">Eject data when RAM is full</label>
            <div
               class="error"
               [hidden]="!(httpError | async)?.errors?.evictionPolicy">
              {{(httpError | async)?.errors?.evictionPolicy}}
            </div>
          </div>
        </div>

        <div
           class="formrow"
           [hidden]="(bucketType | async) !== 'ephemeral'">
          <label class="inline">Metadata Purge Interval</label>

          <ng-template #metadataPurgeIntervalTooltip>
            Set how frequently a node will purge metadata on deleted items. The available range for is 0.0007 - 60 where 0.0007 = 1m, 0.5 = 12h. If set too high, it may significantly delay the node from reclaiming memory space. If set too low, it may cause data inconsistencies in XDCR or Views.
          </ng-template>
          <span
             [ngbTooltip]="metadataPurgeIntervalTooltip"
             triggers="click"
             class="fa-stack icon-info"
             placement="top">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <div class="form-inline">
            <input
               type="text"
               formControlName="purgeInterval"
               id="metadata-purge-frequency">
            <small>Range 0.0007 (1 minute) - 60 days</small>
          </div>
          <div
             class="error"
             [hidden]="!(httpError | async)?.errors?.purgeInterval">
            {{(httpError | async)?.errors?.purgeInterval}}
          </div>
        </div>

        <div [hidden]="(bucketType | async) === 'memcached'">
          <label class="inline">Bucket Priority</label>

          <ng-template #bucketPriorityTooltip>
            This allows tasks to be handled based on priority. The effect is relative between buckets: if all buckets are set to "high", then no bucket will have priority over another.
          </ng-template>
          <span
             [ngbTooltip]="bucketPriorityTooltip"
             triggers="click"
             class="fa-stack icon-info"
             placement="right">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <div class="formrow checkbox-list">
            <input
               type="radio"
               formControlName="threadsNumber"
               value="3"
               id="for-low-threads">
            <label for="for-low-threads">Default</label>
            <input
               type="radio"
               formControlName="threadsNumber"
               value="8"
               id="for-high-threads">
            <label for="for-high-threads">High</label>
          </div>
          <div
             class="error"
             [hidden]="!(threadsNumberWarning | async)">
            {{(threadsNumberWarning | async)}}
          </div>
        </div>

        <div
           class="formrow"
           [hidden]="(bucketType | async) === 'memcached'">
          <div>
            <label class="inline">Minimum Durability Level</label>

            <ng-template #minDurabilityLevelTooltip>
              Bucket Minimum Durability Level. The Data Service upgrades any write request to this minimum level of durability if the write level is lower than the minimum level. It will also upgrade an async write to a sync write if the minimum level is higher than none.
            </ng-template>
            <span
               [ngbTooltip]="minDurabilityLevelTooltip"
               triggers="click"
               class="fa-stack icon-info"
               placement="right">
              <span class="icon fa-circle-thin fa-stack-2x"></span>
              <span class="icon fa-info fa-stack-1x"></span>
            </span>
          </div>
          <mn-select
             mnFormControlName="durabilityMinLevel"
             [values]="durabilityMinLevelOptions | async"
             [group]="form.group"
             class="inline fix-width-3-5">
          </mn-select>
          <div
             class="error"
             [hidden]="!(httpError | async)?.errors?.durability_min_level">
            {{(httpError | async)?.errors?.durability_min_level}}
          </div>
        </div>

        <div
           class="formrow checkbox-list"
           [hidden]="!(showStorageBackend | async)">
          <label>Storage Backend</label>
          <div class="formrow checkbox-list">
            <input
               type="radio"
               formControlName="storageBackend"
               value="couchstore"
               id="for-storage-backend-couchstore">
            <label for="for-storage-backend-couchstore">CouchStore</label>
            <input
               type="radio"
               formControlName="storageBackend"
               value="magma"
               id="for-storage-backend-magma">
            <label for="for-storage-backend-magma">Magma</label>
            <div
               class="error"
               [hidden]="!(httpError | async)?.errors?.storageBackend">
              {{(httpError | async)?.errors?.storageBackend}}
            </div>
          </div>
        </div>

        <div
           class="formrow"
           [hidden]="(bucketType | async) !== 'membase'">
          <label class="inline">Auto-Compaction</label>

          <ng-template #autoCompactionTooltip>
            Auto-Compaction settings trigger the compaction process. The process compacts databases and their respective view indexes.
          </ng-template>
          <span
             [ngbTooltip]="autoCompactionTooltip"
             triggers="click"
             class="fa-stack icon-info"
             placement="right">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <div class="formrow checkbox-list">
            <input
               formControlName="autoCompactionDefined"
               type="checkbox"
               id="for-auto-compaction-override">
            <label for="for-auto-compaction-override">Override the default auto-compaction settings?</label>
          </div>
          <div
             class="formrow checkbox-list"
             [hidden]="(autoCompactionMode | async) !== 'magma'">
            <label>Magma Fragmentation Threshold</label>
            <div class="formrow form-inline">
              <input
                 formControlName="fragmentationPercentage"
                 type="number">
              <small> %</small>
              <div
                 class="error"
                 [hidden]="!(httpError | async)?.errors?.fragmentationPercentage">
                {{(httpError | async)?.errors?.fragmentationPercentage}}
              </div>
            </div>
          </div>
          <div
             class="formrow"
             [hidden]="(autoCompactionMode | async) !== 'couchstore'">
            <mn-auto-compaction-form
               class="margin-bottom-2"
               [mnGroup]="form.group.get('autoCompactionSettings')"
               [mnErrors]="httpError"
               isBucketSettings="true">
            </mn-auto-compaction-form>
          </div>
        </div>

        <label class="inline">Flush</label>
        <ng-template #flushTooltip>
          When flushed, ALL items in the bucket are removed as soon as possible. NOTE: This does not immediately show in item count statistics with memcached buckets.
        </ng-template>
        <span
           [ngbTooltip]="flushTooltip"
           triggers="click"
           class="fa-stack icon-info"
           placement="right">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
        <div class="formrow checkbox-list">
          <input
             formControlName="flushEnabled"
             type="checkbox"
             id="for-enable-flush">
          <label for="for-enable-flush">Enable</label>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <a (click)="activeModal.dismiss()">Cancel</a>
      <button type="submit">
        <span>{{bucket ? 'Save Changes' : 'Add Bucket'}}</span>
      </button>
    </div>
  </form>
</div>
