<div *ngIf="(buckets | async) != null && (buckets | async).length">
  <mn-element-cargo depot="actions">
    <div class="header-controls resp-xsml">
      <a (click)="clickAddScope.next()"
         [hidden]="!permissions.cluster.bucket['.'].collections.write">
        ADD SCOPE
      </a>
      <a (click)="clickAddCollection.next()"
         [hidden]="!permissions.cluster.bucket['.'].collections.write">
        ADD COLLECTION
      </a>
    </div>
  </mn-element-cargo>

  <div class="row">
    <div [formGroup]="bucketSelect">
      <select formControlName="item">
        <option *ngFor="let bucket of (buckets | async)" [ngValue]="bucket">
          {{bucket.name}}
        </option>
      </select>
    </div>

    <mn-input-filter
       [group]="scopesFilter.group"
       placeholder="filter scopes">
    </mn-input-filter>
  </div>

  <div class="cbui-table">
    <div class="cbui-table-header">
      <span class="cbui-table-cell flex-grow-3">
        <span
           class="sorter"
           [ngClass]="{
                  'dynamic-active': (scopesSorter.click | async) == 'name',
                  'dynamic-inverted': (scopesSorter.state | async)
                  }"
           (click)="scopesSorter.click.next('name')">scope name</span></span>
      <span class="cbui-table-cell">collections</span>
      <span class="cbui-table-cell flex-grow-1-5 resp-hide-xsml"></span>
    </div>
    <div *ngIf="(scopes | async) != null && !(scopes | async).length"
       class="zero-content">
      No collections to display.
    </div>
    <div *ngFor="let scope of (scopesPaginator.page | async); trackBy: trackByFn">
      <mn-collections-scope
         [scope]="scope"
         [statusClass]="(statusClass | async)"
         [bucketName]="bucketSelect.get('item').value.name"></mn-collections-scope>
    </div>
    <div class="row">
      <div [formGroup]="scopesPaginator.group">
        <select formControlName="size"  class="cbui-select-small margin-top-half">
          <option *ngFor="let num of [10,20,40,80]" [ngValue]="num">
            {{num}}
          </option>
        </select>
      </div>
      <ngb-pagination
         *ngIf="(scopesPaginator.values | async)?.size && (scopes | async)?.length"
         [page]="(scopesPaginator.values | async)?.page"
         [maxSize]="5"
         [pageSize]="(scopesPaginator.values | async)?.size"
         [collectionSize]="(scopes | async)?.length"
         (pageChange)="scopesPaginator.group.patchValue({page:$event})">
        <ng-template ngbPaginationPrevious>&#60; prev</ng-template>
        <ng-template ngbPaginationNext>next &#62;</ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>
<div *ngIf="(buckets | async) != null && !(buckets | async).length"
   class="zero-content">
  There are currently no Couchbase buckets and no collections to show.
</div>
