<div class="row force-icon-size-16">
  <mn-input-filter
     [group]="filter.group"
     mnPlaceholder="filter collections">
  </mn-input-filter>
</div>
<div class="cbui-table inner-table">
  <div class="cbui-table-header">
    <span class="cbui-table-cell flex-grow-3 text-fine">
      <span
         class="sorter"
         [ngClass]="{
                'dynamic-active': (sorter.click | async) == 'name',
                'dynamic-inverted': (sorter.state | async)
                }"
         (click)="$event.stopPropagation();sorter.click.next('name')">
        collection name
      </span>
    </span>
    <span class="cbui-table-cell">
      ttl
    </span>
    <span class="cbui-table-cell">
      items
    </span>
    <span class="cbui-table-cell">
      memory used
    </span>
    <span class="cbui-table-cell">
      disk used
    </span>
    <span class="cbui-table-cell">
      ops/sec
    </span>
    <span class="cbui-table-cell flex-grow-1-5 resp-hide-xsml"></span>
  </div>
  <span *ngIf="!scope.collections.length" class="zero-content">
    You have no collections yet. Use Add Collection above to start.
  </span>
  <!-- <div *ngIf="!(collections | async)?.length" class="text-fine padding-half">
   No collections match.
  </div> -->
  <div
     class="cbui-table-body"
     (click)="$event.stopPropagation();"
     *ngIf="scope.collections.length">
    <section *ngFor="let collection of (paginator.page | async); trackBy: trackByFn.bind(this)">
      <div [ngClass]="statusClass">
        <mn-collections-item
           [scopeName]="scope.name"
           [bucketName]="bucketName"
           [collection]="collection"></mn-collections-item>
      </div>
    </section>
  </div>
  <div class="row row-min">
    <div
       (click)="$event.stopPropagation();"
       [formGroup]="paginator.group"
       *ngIf="(collections | async)?.length">
      <select formControlName="size" class="cbui-select-small">
        <option *ngFor="let num of [10,20,40,80]" [ngValue]="num">
          {{num}}
        </option>
      </select>
    </div>

    <ngb-pagination
       (click)="$event.stopPropagation();"
       *ngIf="(collections | async)?.length && (paginator.values | async)?.page"
       [page]="(paginator.values | async)?.page"
       [maxSize]="5"
       [pageSize]="(paginator.values | async)?.size"
       [collectionSize]="(collections | async)?.length"
       (pageChange)="paginator.group.patchValue({page:$event})">
      <ng-template ngbPaginationPrevious>&#60; prev</ng-template>
      <ng-template ngbPaginationNext>next &#62;</ng-template>
    </ngb-pagination>
  </div>
</div>
