<div class="row">
  <mn-input-filter
     [group]="filter.group"
     placeholder="filter collections">
  </mn-input-filter>
</div>
<div class="cbui-table inner-table">
  <div class="cbui-table-header">
    <span class="cbui-table-cell flex-grow-3">collections</span>
    <span class="cbui-table-cell"></span>
    <span class="cbui-table-cell flex-grow-1-5 resp-hide-xsml"></span>
  </div>
  <div class="cbui-table-body">
    <div *ngIf="!scope.collections.length">
      There are no collections yet.
    </div>
    <div *ngFor="let collection of (filter.result | async); trackBy: trackByFn">
      <mn-collections-item
         [scopeName]="scope.name"
         [bucketName]="bucketName"
         [collection]="collection"></mn-collections-item>
    </div>
  </div>
</div>
