<!--
Copyright 2025-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<ng-template #tooltipTemplate>
  <ul>
    <li>Encryption Status: {{statusLabel | async}}</li>
    <li *ngIf="isEncryptionEnabled && !(hasIssues | async) && (currentEncryptionInfo | async).dataStatus === 'partiallyEncrypted'">
        Click <a (click)="forceEncryption()">Here</a> to Encrypt Everything
        <span class="text-finer grayblack-2" style="line-height: 1.25">
           <span class="block">Some of this data is not encrypted.</span>
           <span class="block">This can occur when data existed before encryption was enabled.</span>
        </span>
    </li>
    <li *ngIf="!isEncryptionEnabled && !(hasIssues | async) && (currentEncryptionInfo | async).dataStatus === 'partiallyEncrypted'">
       Click <a (click)="forceEncryption()">Here</a> to Decrypt Everything
       <span class="text-finer grayblack-2" style="line-height: 1.25">
          <span class="block">Some of this data is still encrypted.</span>
          <span class="block">This can occur when encrypted data existed before encryption was disabled.</span>
       </span>
    </li>
    <li>DEK Number: {{(currentEncryptionInfo | async).dekNumber}}</li>
    <li [hidden]="!(currentEncryptionInfo | async).oldestDekCreationDatetime">Oldest DEK Creation Time:
      <span class="semi-bold nowrap">{{(currentEncryptionInfo | async).oldestDekCreationDatetime | date: 'mediumTime'}}</span>
      <span>{{(currentEncryptionInfo | async).oldestDekCreationDatetime | date: 'd MMM, y'}}</span>
      <span class="text-finer grayblack-2" style="line-height: 1.25">
        <span class="block">Date-times are displayed in browser local time:</span>
        <span class="block margin-left-quarter"><strong>{{mnTimezoneDetailsService.getLocalTimezoneLabel()}}</strong> {{mnTimezoneDetailsService.getLocalGMTString()}}</span>
        <span class="block">Server timezone offset is {{mnTimezoneDetailsService.getServerGMTOffset((currentEncryptionInfo | async).oldestDekCreationDatetime)}}</span>
      </span>
    </li>
    <li *ngIf="(hasIssues | async)">Encryption Issues</li>
    <span *ngIf="(hasIssues | async)">
      <span
         class="block margin-left-half padding-bottom-half padding-top-half text-smaller"
         [ngStyle]="{'border-bottom': i < ((currentEncryptionInfo | async).issues.length - 1) ? '1px solid #ececec' : 'none'}"
         *ngFor="let issue of (currentEncryptionInfo | async).issues; index as i">
        {{issue}}
      </span>
    </span>
  </ul>
</ng-template>

<div class="row flex-left">
   <strong>Encryption At Rest:</strong>&nbsp;{{isEncryptionEnabled ? 'Enabled' : 'Disabled'}}
</div>
<div *ngIf="(shouldShowIcon | async) && !(hasIssues | async)" class="row margin-left-half flex-left">
   <strong>Data Status:</strong>
   <span class="orange--1 text-smaller cursor-pointer margin-left-quarter"
         [ngbTooltip]="tooltipTemplate"
         placement="right"
         triggers="click:hover"
         tooltipClass="med"
         [ngClass]="{
           'green-0': (currentEncryptionInfo | async).dataStatus === 'encrypted',
           'orange--1':  (currentEncryptionInfo | async).dataStatus === 'partiallyEncrypted'
         }">
     {{(currentEncryptionInfo | async).dataStatus === 'partiallyEncrypted' ? 'Partially Encrypted' : ''}}
     {{(currentEncryptionInfo | async).dataStatus === 'encrypted' ? 'Fully Encrypted': ''}}
   </span>
   <span
       class="icon cursor-pointer margin-left-quarter"
       [hidden]="!(shouldShowIcon | async)"
       [ngbTooltip]="tooltipTemplate"
       placement="right"
       triggers="click:hover"
       tooltipClass="med"
       [ngClass]="{
              'fa-eye green-0': !(hasIssues | async) && (currentEncryptionInfo | async).dataStatus === 'encrypted',
              'fa-low-vision orange--1': !(hasIssues | async) && (currentEncryptionInfo | async).dataStatus === 'partiallyEncrypted',
              'fa-eye-slash red-3': !(hasIssues | async) && (currentEncryptionInfo | async).dataStatus === 'unencrypted',
              'fa-warning red-3': (hasIssues | async)
              }">
   </span>
</div>
