<!--
Copyright 2025-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<ng-template #tooltipTemplate>
  <ul>
    <li>Encryption Status: {{statusLabel | async}}</li>
    <li>DEK Number: {{(currentEncryptionInfo | async).dekNumber}}</li>
    <li [hidden]="!(currentEncryptionInfo | async).oldestDekCreationDatetime">Oldest DEK Creation Time:
      <span class="semi-bold nowrap">{{(currentEncryptionInfo | async).oldestDekCreationDatetime | date: 'mediumTime'}}</span>
      <span>{{(currentEncryptionInfo | async).oldestDekCreationDatetime | date: 'd MMM, y'}}</span>
      <span class="text-finer grayblack-2" style="line-height: 1.25">
        <span class="block">Date-times are displayed in browser local time:</span>
        <span class="block margin-left-quarter"><strong>{{mnTimezoneDetailsService.getLocalTimezoneLabel()}}</strong> {{mnTimezoneDetailsService.getLocalGMTString()}}</span>
        <span class="block">Server timezone offset is {{mnTimezoneDetailsService.getServerGMTOffset((currentEncryptionInfo | async).oldestDekCreationDatetime)}}</span>
      </span>
    </li>
    <li *ngIf="(hasIssues | async)">Encryption Issues</li>
    <span *ngIf="(hasIssues | async)">
      <span
         class="block margin-left-half padding-bottom-half padding-top-half text-smaller"
         [ngStyle]="{'border-bottom': i < ((currentEncryptionInfo | async).issues.length - 1) ? '1px solid #ececec' : 'none'}"
         *ngFor="let issue of (currentEncryptionInfo | async).issues; index as i">
        {{issue}}
      </span>
    </span>
  </ul>
</ng-template>

{{isEncryptionEnabled ? 'Enabled' : 'Disabled'}}
<span
   class="icon cursor-pointer margin-left-quarter"
   [hidden]="!(shouldShowIcon | async)"
   [ngClass]="{
              'fa-eye green-3': !(hasIssues | async) && (currentEncryptionInfo | async).dataStatus === 'encrypted',
              'fa-low-vision orange-3': !(hasIssues | async) && (currentEncryptionInfo | async).dataStatus === 'partiallyEncrypted',
              'fa-eye-slash red-3': !(hasIssues | async) && (currentEncryptionInfo | async).dataStatus === 'unencrypted',
              'fa-warning red-3': (hasIssues | async)
              }"
   [ngbTooltip]="tooltipTemplate"
   tooltipClass="med">
</span>
