<!--
Copyright 2020-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div [formGroup]="group">
  <div class="formrow">
    <div class="row">
      <label for="setup_hostname">Host Name / IP Address</label>
      <small class="text-smaller">Fully-qualified domain name</small>
    </div>
    <input
       type="text"
       autocorrect="off"
       spellcheck="false"
       autocapitalize="off"
       name="hostname"
       id="setup_hostname"
       [mnFocus]="focusFieldSubject"
       mnName="hostname"
       formControlName="hostname">
    <div
       class="error error-form"
       [hidden]="!(hostnameHttp.error | async)">
      <div *ngFor="let error of (hostnameHttp.error | async)">{{error}}</div>
    </div>
  </div>

  <div class="formrow form-inline"
     formGroupName="hostConfig"
     *ngIf="isHostCfgEnabled && (isEnterprise | async)">
    <input
       type="checkbox"
       formControlName="afamily"
       id="for-use-ipv6-addresses">
    <label for="for-use-ipv6-addresses">
      use IPv6 addresses
    </label>
    <input
       type="checkbox"
       id="for-node-encryption"
       formControlName="nodeEncryption">
    <label for="for-node-encryption">
      enable node-to-node encryption
    </label>
    <div
       class="error error-form"
       [hidden]="!(enableExternalListenerHttp.error | async)?.errors.afamily">
      {{(enableExternalListenerHttp.error | async)?.errors.afamily}}
    </div>
    <div
       class="error error-form"
       [hidden]="!(enableExternalListenerHttp.error | async)?.errors._">
      {{(enableExternalListenerHttp.error | async)?.errors._}}
    </div>
    <div
       class="error error-form"
       [hidden]="!(setupNetConfigHttp.error | async)?.errors.afamily">
      {{(setupNetConfigHttp.error | async)?.errors.afamily}}
    </div>
    <div
       class="error error-form"
       [hidden]="!(setupNetConfigHttp.error | async)?.errors.nodeEncryption">
      {{(setupNetConfigHttp.error | async)?.errors.nodeEncryption}}
    </div>
    <div
       class="error error-form"
       [hidden]="!(setupNetConfigHttp.error | async)?.errors._">
      {{(setupNetConfigHttp.error | async)?.errors._}}
  </div>
</div>
