<form
   (ngSubmit)="form.submit.next()"
   [formGroup]="form.group">
  <div class="ks-control-wrapper">
    <mn-input-filter
       *ngFor="let step of service.options.steps"
       [group]="service.filters[step].group"
       [mnFocusStatus]="service.stream.onFocus[step]"
       [mnFocus]="service.stream.doFocus"
       [mnClearDisabled]="true"
       mnName="{{step}}"
       mnPlaceholder="{{step}}...">
      </mn-input-filter>
  </div>
</form>

<div *ngIf="(service.stream.showHideDropdown | async)">
  <div
     class="selector-scroll"
     [hidden]="!(service.stream.list | async)?.length">
    <a
       (click)="form.submit.next(item)"
       *ngFor="let item of (service.stream.list | async)">
      {{item[service.filterKey]}}
    </a>
  </div>
</div>
