<!--
Copyright 2021-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<form
   (ngSubmit)="form.submit.next()"
   [formGroup]="form.group">
  <div class="ks-control-wrapper">
    <mn-input-filter
       *ngFor="let step of service.options.steps"
       [group]="service.filters[step].group"
       [mnFocusStatus]="service.stream.onFocus[step]"
       [mnFocus]="service.stream.doFocus"
       [mnClearDisabled]="true"
       mnName="{{step}}"
       mnPlaceholder="{{step}}...">
    </mn-input-filter>
  </div>
</form>

<div *ngIf="(service.stream.showHideDropdown | async)">
  <div *ngFor="let step of service.options.steps">
    <div
       class="selector-scroll"
       *ngIf="(service.stream.step | async) === step">
      <div
         [style.min-height.rem]="(service.stream.list | async) ? null : 2.1"
         [mnSpinner]="(service.stream.list | async) !== null">
        <a
           (click)="form.submit.next(item)"
           *ngFor="let item of (service.stream.list | async)">
          {{item[service.filterKey]}}
        </a>
      </div>
    </div>
  </div>
</div>
