<!--
Copyright 2021-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<mn-element-cargo depot="actions">
  <div class="header-controls">
    <a
      (click)="onAddSecretClick.next()"
      [hidden]="!(permissions | async)?.cluster.admin.security.write"
    >
      ADD SECRET
    </a>
    <a
      (click)="onEncryptionAtRestClick.next()"
      [hidden]="!(permissions | async)?.cluster.admin.security.read"
    >
      SETTINGS
    </a>
  </div>
</mn-element-cargo>

<mn-main-spinner
  [mnSpinnerValue]="(secrets | async) === null"
></mn-main-spinner>

<mn-input-filter
  *ngIf="(secrets | async)?.length"
  class="row flex-left"
  [group]="filter.group"
  mnPlaceholder="filter secrets..."
>
</mn-input-filter>

<div class="zero-content" *ngIf="!(secrets | async)?.length">
  You have no secrets. Use "ADD SECRET" above to create one.
</div>

<div
  class="cbui-table"
  *ngIf="(secrets | async)?.length"
  [mnSpinner]="secrets | async"
>
  <div class="cbui-table-header padding-left resp-hide-sml">
    <span class="cbui-table-cell">
      <span
        class="sorter"
        [ngClass]="{
          'dynamic-active': (sorter.state | async)[0] == 'name',
          'dynamic-inverted': (sorter.state | async)[1]
       }"
        (click)="sorter.click.next('name')"
      >
        name
      </span>
    </span>
    <span class="cbui-table-cell">
      <span
        class="sorter"
        [ngClass]="{
            'dynamic-active': (sorter.state | async)[0] == 'type',
            'dynamic-inverted': (sorter.state | async)[1]
         }"
        (click)="sorter.click.next('type')"
      >
        type
      </span>
    </span>
    <span class="cbui-table-cell">
      <span
        class="sorter"
        [ngClass]="{
            'dynamic-active': (sorter.state | async)[0] == 'usage',
            'dynamic-inverted': (sorter.state | async)[1]
         }"
        (click)="sorter.click.next('usage')"
      >
        usage
      </span>
    </span>
    <span class="cbui-table-cell flex-grow-half">
      <span
        class="sorter"
        [ngClass]="{
            'dynamic-active': (sorter.state | async)[0] == 'creationDateTime',
            'dynamic-inverted': (sorter.state | async)[1]
         }"
        (click)="sorter.click.next('creationDateTime')"
      >
        created at
      </span>
    </span>
  </div>

  <mn-security-secrets-item
    *ngFor="let secret of (filteredSecrets | async); trackBy: trackByMethod"
    [item]="secret"
  ></mn-security-secrets-item>
</div>
