<!--
     Copyright 2021-Present Couchbase, Inc.

     Use of this software is governed by the Business Source License included
     in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
     in that file, in accordance with the Business Source License, use of this
     software will be governed by the Apache License, Version 2.0, included in
     the file licenses/APL2.txt.
-->

<mn-main-spinner
   [mnSpinnerValue]="!(getAlerts | async)">
</mn-main-spinner>

<div>
  <form
     class="forms"
     [formGroup]="form.group"
     (ngSubmit)="form.submit.next()">
    <div class="row flex-left items-stretch resp-flex-column-med margin-bottom-2">
      <div>
        <div class="row flex-left margin-bottom-1-5">
          <label
             class="toggle-control margin-0"
             for="for-email-alert-enable">
            <input
               type="checkbox"
               id="for-email-alert-enable"
               formControlName="enabled">
            <span class="toggle-control-body"></span>
          </label>
          <span class="text-small">&nbsp; Enable email alerts</span>
        </div>

        <div formGroupName="config">
          <div class="formrow width-300">
            <label for="email_alerts_host">Email Server Host</label>
            <input
               type="text"
               autocorrect="off"
               spellcheck="false"
               autocapitalize="off"
               id="email_alerts_host"
               formControlName="emailHost">
          </div>
          <div class="formrow width-300">
            <label for="email_alerts_port">Port</label>
            <input
               type="number"
               autocorrect="off"
               spellcheck="false"
               autocapitalize="off"
               id="email_alerts_port"
               formControlName="emailPort">
            <div
               class="error error-field"
               *ngIf="(saveAlerts.error | async)?.errors.emailPort">
              {{(saveAlerts.error | async)?.errors.emailPort}}.
            </div>
            <div
               [hidden]="!form.group.get('config').get('emailPort').dirty"
               class="error error-field">
              <div
                 [hidden]="!form.group.get('config').get('emailPort').errors?.min">
                Port must be a positive integer.
              </div>
            </div>
            <div>
            </div>
          </div>
          <div class="formrow width-300">
            <label for="email_alerts_user">Username</label>
            <input
               type="text"
               autocorrect="off"
               spellcheck="false"
               autocapitalize="off"
               id="email_alerts_user"
               formControlName="emailUser">
          </div>
          <div class="formrow width-300">
            <label for="email_alerts_pass">Password</label>
            <input
               type="password"
               autocorrect="off"
               spellcheck="false"
               id="email_alerts_pass"
               formControlName="emailPass">
          </div>
          <div class="formrow checkbox-list width-300">
            <input
               type="checkbox"
               id="for-email-alerts-encrypt"
               formControlName="emailEncrypt">
            <label for="for-email-alerts-encrypt">
              Require encryption (TLS)
            </label>
          </div>

          <div class="formrow width-300">
            <label for="email_alerts_sender">
              Sender Email <small>the FROM field</small>
            </label>
            <input
               type="text"
               autocorrect="off"
               spellcheck="false"
               autocapitalize="off"
               id="email_alerts_sender"
               formControlName="sender">
            <div
               class="error error-field"
               *ngIf="(saveAlerts.error | async)?.errors.sender">
              {{(saveAlerts.error | async)?.errors.sender}}
            </div>
          </div>
          <div class="formrow width-300">
            <label for="email_alerts_sender">Recipients</label>
            <p class="desc">separate addresses with comma "," or spaces " "</p>
            <textarea
               id="email_alerts_recipients"
               autocorrect="off"
               autocapitalize="off"
               spellcheck="false"
               formControlName="recipients">
            </textarea>
            <div
               class="error error-field"
               *ngIf="(saveAlerts.error | async)?.errors.recipients">
              {{(saveAlerts.error | async)?.errors.recipients}}
            </div>
          </div>
          <div class="margin-bottom-1-5">
            <button
               class="outline"
               type="button"
               [disabled]="!(testEmailIsDisabled | async)"
               (click)="testEmailForm.submit.next()">
              Send Test Email
            </button>
          </div>
        </div>
      </div>

      <div class="vertical-page-splitter resp-hide-med">&nbsp;</div>

      <div class="margin-bottom-2">
        <h4 class="margin-bottom-half">Available Alerts</h4>
        <div *ngFor="let alert of knownAlerts"
           class="row flex-left margin-bottom-half items-top">
          <div class="row flex-left nowrap">
            <div
               class="margin-right-half"
               formGroupName="alerts">
              <input
                 type="checkbox"
                 [attr.id]="alert"
                 [formControlName]="alert">
              <label [attr.for]="alert">
                Email
              </label>
            </div>
            <div formGroupName="popUpAlerts">
              <input
                 type="checkbox"
                 [attr.id]="'pop_' + alert"
                 [formControlName]="alert">
              <label [attr.for]="'pop_' + alert">
                UI popup
              </label>
            </div>
          </div>
          <span class="wrap text-medium margin-left-1">{{getAlertLabel(alert)}}</span>
        </div>
      </div>
    </div>
    <footer
       class="footer-save"
       [hidden]="!(permissions | async)?.cluster.settings.write">
      <button
         type="submit"
         class="margin-right-2"
         [disabled]="form.group.get('config').invalid">
        Save
      </button>
      <a
         class="text-medium"
         (click)="cancel()">
        Cancel/Reset
      </a>
    </footer>
  </form>
</div>
