<!--
Copyright 2018-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="dialog-med">
  <div class="panel-header">
    <h2>{{item ? 'Edit Secret Key' : 'Add Secret Key'}}</h2>
    <a
      class="ui-dialog-titlebar-close modal-close"
      (click)="activeModal.dismiss()"
      >X</a
    >
  </div>
  <form novalidate (ngSubmit)="form.submit.next()" [formGroup]="form.group">
    <div class="forms panel-content">
      <div class="error error-field" *ngIf="(httpError | async)?.errors._">
        {{(httpError | async)?.errors._}}
      </div>
      <div class="formrow">
        <label for="for-secrets-name-field">Name</label>
        <input
          id="for-secrets-name-field"
          type="text"
          autocorrect="off"
          spellcheck="false"
          autocapitalize="off"
          formControlName="name"
        />
      </div>
      <div
        class="error error-form"
        [hidden]="!(httpError | async)?.errors?.name"
      >
        {{(httpError | async)?.errors?.name}}
      </div>

      <div class="formrow" formGroupName="usage">
        <label>
          Can be used for:
          <i>{{isAllUsesSelected() ? 'all uses' : getSelected()}}</i>
        </label>
        <h4
          class="disclosure"
          [ngClass]="{disclosed: (toggler.state | async)}"
          (click)="toggler.click.next()"
        >
          Configure
        </h4>
        <div
          class="formrow margin-left-1-5"
          [hidden]="!(toggler.state | async)"
        >
          <div *ngFor="let option of options">
            <div>
              <input
                type="checkbox"
                [formControlName]="option + '-encryption'"
                [attr.id]="'for-' + option + '-encryption'"
              />
              <label [attr.for]="'for-' + option + '-encryption'"
                >{{mapTypeToNames(option)}}</label
              >
            </div>
            <div *ngIf="option === 'bucket'">
              <div
                *ngFor="let bucketName of bucketNames"
                class="row flex-left margin-left-half"
                [formGroup]="form.group.get('usageBuckets')"
              >
                <input
                  type="checkbox"
                  [formControlName]="'bucket-encryption-' + bucketName"
                  [attr.id]="'for-bucket-encryption-' + bucketName"
                />
                <label [attr.for]="'for-bucket-encryption-' + bucketName"
                  >{{bucketName}}</label
                >
              </div>
            </div>
          </div>
        </div>
        <div
          class="error error-form"
          [hidden]="!(httpError | async)?.errors?.usage"
        >
          {{(httpError | async)?.errors?.usage}}
        </div>
      </div>

      <div class="formrow">
        <label>Secret Type</label>
        <input
          type="radio"
          value="awskms-aes-key-256"
          formControlName="type"
          id="for-aws-type"
        />
        <label for="for-aws-type">AWS</label>
        <input
          type="radio"
          value="auto-generated-aes-key-256"
          formControlName="type"
          id="for-generated-type"
        />
        <label for="for-generated-type">Generated</label>
      </div>

      <div
        formGroupName="aws-secret"
        class="formrow"
        [hidden]="!((formType | async) !== 'auto-generated-aes-key-256')"
      >
        <div class="formrow">
          <label for="for-key-arn-field">Aws Key ARN</label>
          <input
            id="for-key-arn-field"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            formControlName="keyARN"
          />
        </div>
        <div
          class="error error-form"
          [hidden]="!(httpError | async)?.errors?.data?.keyARN"
        >
          {{(httpError | async)?.errors?.data?.keyARN}}
        </div>
        <div class="formrow">
          <label for="for-aws-region-field">AWS Region</label>
          <input
            id="for-aws-region-field"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            formControlName="region"
          />
        </div>
        <div
          class="error error-form"
          [hidden]="!(httpError | async)?.errors?.data?.region"
        >
          {{(httpError | async)?.errors?.data?.region}}
        </div>
        <div class="formrow">
          <input
            type="checkbox"
            formControlName="useIMDS"
            id="for-use-imds-field"
          />
          <label for="for-use-imds-field"
            >Use the Instance Metadata Service</label
          >
        </div>
        <div class="formrow">
          <label for="for-aws-credential-file-path"
            >AWS Credential File Path</label
          >
          <input
            id="for-aws-credential-file-path"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            formControlName="credentialsFile"
          />
        </div>
        <div class="formrow">
          <label for="for-aws-config-file-path">AWS Config File Path</label>
          <input
            id="for-aws-config-file-path"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            formControlName="configFile"
          />
        </div>
        <div class="formrow">
          <label for="for-aws-profile-path">AWS Profile Path</label>
          <input
            id="for-aws-profile-path"
            type="text"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            formControlName="profile"
          />
        </div>
      </div>

      <div
        formGroupName="generated-secret"
        class="formrow"
        [hidden]="!((formType | async) === 'auto-generated-aes-key-256')"
      >
        <div class="formrow">
          <label>Secret Encryption</label>
          <input
            type="radio"
            value="nodeSecretManager"
            formControlName="encryptBy"
            id="for-encryption-service"
          />
          <label for="for-encryption-service">Master Password</label>
          <input
            type="radio"
            value="clusterSecret"
            formControlName="encryptBy"
            id="for-secret"
          />
          <label for="for-secret">Secret</label>
        </div>
        <div
          class="error error-form"
          [hidden]="!(httpError | async)?.errors?.data?.encryptBy"
        >
          {{(httpError | async)?.errors?.data?.encryptBy}}
        </div>
        <div
          *ngIf="(form.group.get('generated-secret.encryptBy').valueChanges | async) === 'clusterSecret'"
        >
          <div class="formrow">
            <label>Available Secrets</label>
            <mn-select
              class="inline fix-width-3"
              [group]="form.group.get('generated-secret')"
              [values]="filteredSecrets"
              mnPlaceholder="select secret..."
              [valuesMapping]="valuesMapping"
              mnFormControlName="encryptSecretId"
            >
            </mn-select>
          </div>
          <div
            class="error error-form indent-1-5"
            [hidden]="!(httpError | async)?.errors?.data?.encryptSecretId"
          >
            {{(httpError | async)?.errors?.data?.encryptSecretId}}
          </div>
        </div>

        <div class="formrow">
          <input
            type="checkbox"
            formControlName="autoRotation"
            id="for-auto-rotation"
          />
          <label for="for-auto-rotation">Enable Auto Rotation</label>
        </div>
        <div class="formrow row flex-left indent-1-5">
          Rotate every
          <input
            formControlName="rotationIntervalInDays"
            type="number"
            class="input-short-1 margin-left-half margin-right-half"
            id="for-rotation-interval"
          />
          days
        </div>
        <div
          class="error error-form indent-1-5"
          [hidden]="!(httpError | async)?.errors?.data?.rotationIntervalInDays"
        >
          {{(httpError | async)?.errors?.data?.rotationIntervalInDays}}
        </div>
        <div class="formrow row flex-left indent-1-5">
          starting on
          <div formGroupName="nextRotationTime" class="row flex-left">
            <input
              type="date"
              [disabled]="form.group.get('generated-secret.nextRotationTime.date').status === 'DISABLED'"
              [value]="form.group.get('generated-secret.nextRotationTime.date').value | date:'yyyy-MM-dd'"
              (input)="setDate($event.target.value)"
              class="margin-left-half margin-right-half"
            />

            <input
              class="input-short-1 margin-left-half margin-right-half"
              type="number"
              placeholder="HH"
              formControlName="hour"
            />
            :
            <input
              class="input-short-1 margin-left-half"
              formControlName="minute"
              type="number"
              placeholder="MM"
            />
          </div>
        </div>
        <div
          class="error error-form indent-1-5"
          [hidden]="!(httpError | async)?.errors?.data?.nextRotationTime"
        >
          {{(httpError | async)?.errors?.data?.nextRotationTime}}
        </div>
      </div>
      <div class="panel-footer">
        <a (click)="activeModal.dismiss()">Cancel</a>
        <button type="submit">
          <span>{{item ? 'Save Secret' : 'Add Secret'}}</span>
        </button>
      </div>
    </div>
  </form>
</div>
