<!--
Copyright 2018-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="dialog-med">
  <div class="panel-header">
    <h2>Encryption At Rest Settings</h2>
    <a
      class="ui-dialog-titlebar-close modal-close"
      (click)="activeModal.dismiss()"
      >X</a
    >
  </div>
  <form novalidate (ngSubmit)="form.submit.next()" [formGroup]="form.group">
    <div class="forms panel-content">
      <div class="error error-field" *ngIf="(httpError | async)?.errors._">
        {{(httpError | async)?.errors._}}
      </div>

      <div class="formrow">
        <h3>{{mapTypeToNames(type)}} Encryption</h3>
        <input
          type="radio"
          value="disabled"
          formControlName="encryptionMethod"
          [attr.id]="'for-disabled-' + type"
        />
        <label [attr.for]="'for-disabled-' + type">Disabled</label>
        <input
          type="radio"
          value="encryption_service"
          formControlName="encryptionMethod"
          [attr.id]="'for-encryption-service-' + type"
        />
        <label [attr.for]="'for-encryption-service-' + type"
          >Master Password</label
        >
        <input
          type="radio"
          value="secret"
          formControlName="encryptionMethod"
          [attr.id]="'for-secret-' + type"
        />
        <label [attr.for]="'for-secret-' + type">Secret</label>
      </div>

      <div
        class="indent-1-5"
        hidden
        [hidden]="form.group.get('encryptionMethod').value === 'disabled'"
      >
        <div
          class="formrow"
          *ngIf="form.group.get('encryptionMethod').value  === 'secret'"
        >
          <label>Available Secrets</label>
          <mn-select
            class="inline fix-width-3"
            [group]="form.group"
            [values]="filteredSecrets"
            mnPlaceholder="select secret..."
            [valuesMapping]="valuesMapping"
            mnFormControlName="encryptionSecretId"
          >
          </mn-select>
        </div>
        <div class="formrow">
          <label [attr.for]="'for-dek-life-time-' + type">DEK Life Time</label>
          <input
            type="number"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            formControlName="dekLifetime"
            [attr.id]="'for-dek-life-time-' + type"
          />
        </div>
        <div
          class="error error-form"
          [hidden]="!(httpError | async)?.errors['config.dekLifetime']"
        >
          {{(httpError | async)?.errors['config.dekLifetime']}}
        </div>
        <div class="formrow">
          <label [attr.for]="'for-dek-rotation-interval-' + type"
            >DEK Rotation Interval</label
          >
          <input
            type="number"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            formControlName="dekRotationInterval"
            [attr.id]="'for-dek-rotation-interval-' + type"
          />
        </div>
        <div
          class="error error-form"
          [hidden]="!(httpError | async)?.errors['config.dekRotationInterval']"
        >
          {{(httpError | async)?.errors['config.dekRotationInterval']}}
        </div>
      </div>

      <div class="panel-footer">
        <a (click)="activeModal.dismiss()">Cancel</a>
        <button type="submit">
          <span>Save</span>
        </button>
      </div>
    </div>
  </form>
</div>
