<!--
Copyright 2024-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="dialog-med">
  <div class="panel-header">
    <h2>{{item ? 'Edit Encryption Key' : 'Add Encryption Key'}}</h2>
    <a
       class="ui-dialog-titlebar-close modal-close"
       (click)="activeModal.dismiss()"
    >X</a
    >
  </div>
  <form novalidate (ngSubmit)="form.submit.next()" [formGroup]="form.group">
    <div class="forms panel-content">
      <div class="error error-field" *ngIf="(httpError | async)?.errors._">
        {{(httpError | async)?.errors._}}
      </div>
      <div class="formrow">
        <label for="for-secrets-name-field">Name</label>
        <input
           id="for-secrets-name-field"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           formControlName="name"
        />
        <div
           class="error error-form"
           [hidden]="!((error | async)?.errors?.name)"
        >
          {{(error | async)?.errors?.name}}
        </div>
      </div>


      <div class="formrow" formGroupName="usage">
        <label>
          Can be used for:
          <i>{{isAllUsesSelected() ? 'all uses' : getSelected()}}</i>
        </label>
        <h4
           class="disclosure"
           [ngClass]="{disclosed: (toggler.state | async)}"
           (click)="toggler.click.next()"
        >
          Configure
        </h4>
        <div
           class="margin-left-1-5"
           [hidden]="!(toggler.state | async)"
        >
          <div *ngFor="let option of options">
            <div>
              <input
                 type="checkbox"
                 [formControlName]="option + '-encryption'"
                 [attr.id]="'for-' + option + '-encryption'"
              />
              <label [attr.for]="'for-' + option + '-encryption'"
              >{{mapTypeToNames(option)}}</label
              >
            </div>
            <div *ngIf="option === 'bucket'">
              <div
                 *ngFor="let bucketName of bucketNames"
                 class="row flex-left margin-left-half"
                 [formGroup]="form.group.get('usageBuckets')"
              >
                <input
                   type="checkbox"
                   [formControlName]="'bucket-encryption-' + bucketName"
                   [attr.id]="'for-bucket-encryption-' + bucketName"
                />
                <label [attr.for]="'for-bucket-encryption-' + bucketName"
                >{{bucketName}}</label
                >
              </div>
            </div>
          </div>
        </div>
        <div
           class="error error-form"
           [hidden]="!((error | async)?.errors?.usage)"
        >
          {{(error | async)?.errors?.usage}}
        </div>
      </div>

      <div class="formrow">
        <label>Key Type</label>
        <input
           type="radio"
           value="awskms-aes-key-256"
           formControlName="type"
           id="for-aws-type"
        />
        <label for="for-aws-type">AWS</label>
        <input
           type="radio"
           value="kmip-aes-key-256"
           formControlName="type"
           id="for-kmip-type"
        />
        <label for="for-kmip-type">KMIP</label>
        <input
           type="radio"
           value="cb-server-managed-aes-key-256"
           formControlName="type"
           id="for-cb-managed-type"
        />
        <label for="for-cb-managed-type">Couchbase Server Managed</label>
      </div>

      <div
         formGroupName="aws-secret"
         class="formrow"
         [hidden]="!((formType | async) === 'awskms-aes-key-256')"
      >
        <div class="formrow">
          <label for="for-key-arn-field">AWS Key ARN</label>
          <input
             id="for-key-arn-field"
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             formControlName="keyARN"
          />
          <div
             class="error error-form"
             [hidden]="!((error | async)?.errors?.data?.keyARN)"
          >
            {{(error | async)?.errors?.data?.keyARN}}
          </div>
        </div>
        <div class="formrow">
          <label for="for-aws-region-field">AWS Region</label>
          <input
             id="for-aws-region-field"
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             formControlName="region"
          />
          <div
             class="error error-form"
             [hidden]="!((error | async)?.errors?.data?.region)"
          >
            {{(error | async)?.errors?.data?.region}}
          </div>
        </div>

        <div class="formrow">
          <input
             type="checkbox"
             formControlName="useIMDS"
             id="for-use-imds-field"
          />
          <label for="for-use-imds-field"
          >Use the Instance Metadata Service</label
          >
        </div>

        <div class="formrow">
          <label for="for-aws-credential-file-path">AWS Credential File Path</label>
          <input
             id="for-aws-credential-file-path"
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             formControlName="credentialsFile"
          />
          <div
             class="error error-form"
             [hidden]="!((error | async)?.errors?.data?.credentialsFile)"
          >
            {{(error | async)?.errors?.data?.credentialsFile}}
          </div>
        </div>

        <div class="formrow">
          <label for="for-aws-config-file-path">AWS Config File Path</label>
          <input
             id="for-aws-config-file-path"
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             formControlName="configFile"
          />
          <div
             class="error error-form"
             [hidden]="!((error | async)?.errors?.data?.configFile)"
          >
            {{(error | async)?.errors?.data?.configFile}}
          </div>
        </div>

        <div class="formrow">
          <label for="for-aws-profile-path">AWS Profile Path</label>
          <input
             id="for-aws-profile-path"
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             formControlName="profile"
          />
        </div>
      </div>

      <div
         formGroupName="generated-secret"
         class="formrow"
         [hidden]="!((formType | async) === 'cb-server-managed-aes-key-256')"
      >
        <div class="formrow">
          <label>Encrypt this key with</label>
          <input
             type="radio"
             value="nodeSecretManager"
             formControlName="encryptWith"
             id="for-encryption-service"
          />
          <label for="for-encryption-service">Master Password</label>
          <input
             type="radio"
             value="encryptionKey"
             formControlName="encryptWith"
             id="for-secret"
          />
          <label for="for-secret">Another Encryption Key</label>
        </div>
        <div
           class="error error-form"
           [hidden]="!(httpError | async)?.errors?.data?.encryptWith"
        >
          {{(httpError | async)?.errors?.data?.encryptWith}}
        </div>
        <div
           *ngIf="(form.group.get('generated-secret.encryptWith').valueChanges | async) === 'encryptionKey'"
        >
          <div class="formrow">
            <label>Available Encryption Keys</label>
            <mn-select
               class="inline fix-width-3"
               [group]="form.group.get('generated-secret')"
               [values]="filteredSecrets"
               mnPlaceholder="select key..."
               [valuesMapping]="valuesMapping"
               mnFormControlName="encryptWithKeyId"
            >
            </mn-select>
            <div
               class="error error-form"
               [hidden]="!(httpError | async)?.errors?.data?.encryptWithKeyId"
            >
              {{(httpError | async)?.errors?.data?.encryptWithKeyId}}
            </div>
          </div>
        </div>

        <div class="formrow">
          <input
             type="checkbox"
             formControlName="canBeCached"
             id="for-can-be-cached"
          />
          <label for="for-can-be-cached">Can Be Cached</label>
        </div>
        <div class="formrow">
          <input
             type="checkbox"
             formControlName="autoRotation"
             id="for-auto-rotation"
          />
          <label for="for-auto-rotation">Enable Auto Rotation</label>
        </div>
        <div class="formrow">
          <div class="row flex-left indent-1-5">
            Rotate every
            <input
               formControlName="rotationIntervalInDays"
               type="number"
               class="input-short-1 margin-left-half margin-right-half"
               id="for-rotation-interval"
            />
            <small>days</small>
          </div>
          <div
             class="error error-form indent-1-5"
             [hidden]="!(httpError | async)?.errors?.data?.rotationIntervalInDays"
          >
            {{(httpError | async)?.errors?.data?.rotationIntervalInDays}}
          </div>
        </div>
        <div class="formrow">
          <div class="row flex-left indent-1-5">
            starting on
            <div formGroupName="nextRotationTime" class="row flex-left">
              <input
                 type="date"
                 [disabled]="form.group.get('generated-secret.nextRotationTime.date').status === 'DISABLED'"
                 [value]="form.group.get('generated-secret.nextRotationTime.date').value | date:'yyyy-MM-dd'"
                 (input)="setDate($event.target.value)"
                 class="max-width-2 margin-left-half margin-right-quarter"
              />

              <input
                 class="input-short-0-8 margin-left-quarter margin-right-quarter"
                 type="number"
                 min="0"
                 max="23"
                 placeholder="HH"
                 formControlName="hour"
              />
              :
              <input
                 class="input-short-0-8 margin-left-quarter margin-right-quarter"
                 formControlName="minute"
                 type="number"
                 min="0"
                 max="59"
                 placeholder="MM"
              />
              <span class="flex flex-column line-height-0-7 grayblack-2">
                <span class="text-finer">24-hour clock</span>
                <span class="text-finer">{{mnTimezoneDetailsService.getLocalGMTString()}}</span>
              </span>
              <span *ngIf="item" class="margin-left-quarter"><mn-timezone-details [serverTime]="serverTimeExample"></mn-timezone-details></span>
            </div>
          </div>
          <div
             class="error error-form indent-1-5"
             [hidden]="!(httpError | async)?.errors?.data?.nextRotationTime"
          >
            {{(httpError | async)?.errors?.data?.nextRotationTime}}
          </div>
        </div>
      </div>

      <div
         formGroupName="kmip-secret"
         class="formrow"
         [hidden]="!((formType | async) === 'kmip-aes-key-256')"
      >
        <div class="formrow">
          <label>KMIP Server Configuration</label>
          <div class="flex flex-gap-5">
            <div style="flex: 3">
              <label class="text-small semi-bold" for="for-kmip-host">Host</label>
              <input
                 id="for-kmip-host"
                 type="text"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"
                 formControlName="host"
              />
              <div
                 class="error error-form"
                 [hidden]="!((error | async)?.errors?.data?.host)"
              >
                {{(error | async)?.errors?.data?.host}}
              </div>
            </div>
            <div style="flex: 1">
              <label class="text-small semi-bold" for="for-kmip-port">Port</label>
              <input
                 id="for-kmip-port"
                 type="number"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"
                 formControlName="port"
              />
              <div
                 class="error error-form"
                 [hidden]="!((error | async)?.errors?.data?.port)"
              >
                {{(error | async)?.errors?.data?.port}}
              </div>
            </div>
          </div>
        </div>

        <div class="formrow">
          <label for="for-kmip-reqTimeoutMs">Operation Timeout (in ms)</label>
          <input
             id="for-kmip-reqTimeoutMs"
             type="number"
             class="width-3 inline"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             formControlName="reqTimeoutMs"
             min="0"
             (keydown)="preventMinus($event)"
          />
          <small class="inline"> ms</small>
          <div
             class="error error-form"
             [hidden]="!((error | async)?.errors?.data?.reqTimeoutMs)"
          >
            {{(error | async)?.errors?.data?.reqTimeoutMs}}
          </div>
        </div>

        <div class="formrow">
          <label>Verify Server Certificate</label>
          <input
             type="radio"
             value="useSysAndCbCa"
             formControlName="caSelection"
             id="for-kmip-caSelection-useSysAndCbCa"
          />
          <label for="for-kmip-caSelection-useSysAndCbCa">Use System & Couchbase Trusted Certificates</label>
          <input
             type="radio"
             value="useSysCa"
             formControlName="caSelection"
             id="for-kmip-caSelection-useSysCa"
          />
          <label for="for-kmip-caSelection-useSysCa">Use System CA Certificates</label>
          <input
             type="radio"
             value="useCbCa"
             formControlName="caSelection"
             id="for-kmip-caSelection-useCbCa"
          />
          <label for="for-kmip-caSelection-useCbCa">Use Couchbase Trusted Certificates</label>
          <input
             type="radio"
             value="skipServerCertVerification"
             formControlName="caSelection"
             id="for-kmip-caSelection-skipServerCertVerification"
          />
          <label for="for-kmip-caSelection-skipServerCertVerification">Do not Verify Server Certificate (insecure)</label>
          <div
             class="error error-form"
             [hidden]="!((error | async)?.errors?.data?.caSelection)"
          >
            {{(error | async)?.errors?.data?.caSelection}}
          </div>
        </div>

        <div class="formrow">
          <label class="inline">KMIP Authentication</label>
          <span
             class="fa-stack icon-info"
             ngbTooltip="Certificates should be available at all cluster nodes."
          >
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>

          <label for="for-kmip-certPath" class="text-small semi-bold margin-top-half">Client Certificate Path (PEM format)</label>
          <input
             id="for-kmip-certPath"
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             formControlName="certPath"
          />
          <div
             class="error error-form"
             [hidden]="!((error | async)?.errors?.data?.certPath)"
          >
            {{(error | async)?.errors?.data?.certPath}}
          </div>
          <label for="for-kmip-keyPath" class="text-small semi-bold margin-top-half">Client Private Key Path (PEM format)</label>
          <input
             id="for-kmip-keyPath"
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             formControlName="keyPath"
          />
          <div
             class="error error-form"
             [hidden]="!((error | async)?.errors?.data?.keyPath)"
          >
            {{(error | async)?.errors?.data?.keyPath}}
          </div>
          <label for="for-kmip-keyPassphrase" class="text-small semi-bold margin-top-half">Client Private Key Passphrase</label>
          <input
             id="for-kmip-keyPassphrase"
             type="password"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             formControlName="keyPassphrase"
          />
          <div
             class="error error-form"
             [hidden]="!((error | async)?.errors?.data?.keyPassphrase)"
          >
            {{(error | async)?.errors?.data?.keyPassphrase}}
          </div>

          <label class="text-small semi-bold margin-top-half">Encrypt Private Key Passphrase with</label>
          <input
             type="radio"
             value="nodeSecretManager"
             formControlName="encryptWith"
             id="for-kmip-encryption-service"
          />
          <label for="for-kmip-encryption-service">Master Password</label>
          <input
             type="radio"
             value="encryptionKey"
             formControlName="encryptWith"
             id="for-kmip-secret"
          />
          <label for="for-kmip-secret">Another Encryption Key</label>
          <div
             class="error error-form"
            [hidden]="!((error | async)?.errors?.data?.encryptWith)"
          >
            {{(error | async)?.errors?.data?.encryptWith}}
          </div>
          <div
             *ngIf="(form.group.get('kmip-secret.encryptWith').valueChanges | async) === 'encryptionKey'"
          >
            <div>
              <label class="text-small semi-bold margin-top-half">Available Encryption Keys</label>
              <mn-select
                 class="inline fix-width-3"
                 [group]="form.group.get('kmip-secret')"
                [values]="filteredSecrets"
                mnPlaceholder="select key..."
                [valuesMapping]="valuesMapping"
                mnFormControlName="encryptWithKeyId"
              >
              </mn-select>
            </div>
            <div
               class="error error-form"
              [hidden]="!((error | async)?.errors?.data?.encryptWithKeyId)"
            >
              {{(error | async)?.errors?.data?.encryptWithKeyId}}
            </div>
          </div>
        </div>

        <div class="formrow">
          <label for="for-kmip-activeKey">KMIP Key ID</label>
          <input
             id="for-kmip-activeKey"
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             formControlName="activeKey"
          />
          <div
             class="error error-form"
             [hidden]="!((error | async)?.errors?.data?.activeKey?.kmipId)"
          >
            {{(error | async)?.errors?.data?.activeKey?.kmipId}}
          </div>
        </div>

        <div class="formrow">
          <label>KMIP Encryption/Decryption Approach</label>
          <input
             type="radio"
             value="useGet"
             formControlName="encryptionApproach"
             id="for-kmip-encryption-approach-useGet"
          />
          <label for="for-kmip-encryption-approach-useGet" class="inline margin-right-zero">Use KMIP Get & encrypt locally</label>
          <span
             class="fa-stack icon-info"
             ngbTooltip="Better compatibility; this option is supported by older KMIP servers."
          >
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <input
             type="radio"
             value="useEncryptDecrypt"
             formControlName="encryptionApproach"
             id="for-kmip-encryption-approach-useEncryptDecrypt"
          />
          <label for="for-kmip-encryption-approach-useEncryptDecrypt" class="inline margin-right-zero">Use KMIP native Encrypt/Decrypt operation</label>
          <span
             class="fa-stack icon-info"
             ngbTooltip="This option is more secure as the KMIP key doesn't leave the KMIP server."
          >
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <div
             class="error error-form"
             [hidden]="!((error | async)?.errors?.data?.encryptionApproach)"
          >
            {{(error | async)?.errors?.data?.encryptionApproach}}
          </div>
        </div>
      </div>

      <div class="formrow" [hidden]="((formType | async) === 'cb-server-managed-aes-key-256')">
        <button
           class="outline middle"
           type="button"
           (click)="testSettings.submit.next($event)"
        >
          Test Encryption Key Settings
        </button>
        <span
           *ngIf="testSettings.processing | async"
           class="rebalance-stage-status relative" style="top: -3px">
          <span class="rebalance-stage-inprogress"></span>
        </span>
        <div
           *ngIf="!(testSettings.processing | async)"
           class="inline result-status margin-left-quarter"
           [ngClass]="{success: (isTestResultValid | async), error: (isTestResultValid | async) === false}"
        >
          <span [hidden]="!(isTestResultValid | async)">Settings are valid</span>
          <span [hidden]="(isTestResultValid | async) !== false">Settings are not valid</span>
        </div>
        <div class="error error-field margin-top-half" *ngIf="!(isTestResultValid | async) && (testHttpError | async)?.errors._">
          {{(testHttpError | async)?.errors._}}
        </div>
      </div>

      <div class="panel-footer">
        <a (click)="activeModal.dismiss()">Cancel</a>
        <button type="submit">
          <span>{{item ? 'Save Encryption Key' : 'Add Encryption Key'}}</span>
        </button>
      </div>
    </div>
  </form>
</div>
