<!--
     Copyright 2021-Present Couchbase, Inc.

     Use of this software is governed by the Business Source License included
     in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
     in that file, in accordance with the Business Source License, use of this
     software will be governed by the Apache License, Version 2.0, included in
     the file licenses/APL2.txt.
-->

<div
   class="selectable-nodes-list"
   [mnSpinner]="nodes | async">
  <div class="row margin-bottom-half">
    <span class="row nodes-list-select-all" *ngIf="mnSelectAll">
      <input
         type="checkbox"
         id="thisModule_checkall"
         [checked]="(toggler.state | async)"
         (click)="toggler.click.next();">
      <label for="thisModule_checkall">select all</label>
    </span>
    <mn-input-filter
       class="row filter-log"
       [group]="filter.group"
       mnPlaceholder="filter nodes...">
    </mn-input-filter>
  </div>
  <section
     class="cbui-table"
     *ngFor="let node of (nodes | async); trackBy: trackByMethod">
    <mn-selectable-node-item
       [mnGroup]="mnGroup"
       [mnSelectableNode]="node">
    </mn-selectable-node-item>
  </section>
  <div *ngIf="!((nodes | async)?.length)" class="zero-content">No nodes match this filter term.</div>
</div>
