<!--
Copyright 2021-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div
   ngbDropdown
   class="mn-dropdown-menu indent-1"
   style="position: relative;">
  <button
     ngbDropdownToggle
     class="outline icon btn-small"
     (click)="caret.click.next()"
     [ngClass]="(caret.state | async) ? 'fa-angle-up': 'fa-angle-down'"
     ></button>
  <div
     ngbDropdownMenu
     class="panel dialog dialog-med"
     style="position: absolute; top: auto; left:0">
    <form
       [formGroup]="mnForm.group"
       (ngSubmit)="mnForm.submit.next()">
      <div class="panel-content forms">
        <div class="row formrow">
          <span class="width-6"></span>
          <span class="width-6">
            <input
               id="filter_descending"
               formControlName="descending"
               type="checkbox">
            <label for="filter_descending">descending</label>
          </span>
        </div>
        <div
           class="row formrow"
           *ngIf="true">
          <label class="width-6" for="filter_startkey">startkey</label>
          <input
             id="filter_startkey"
             formControlName="startKey"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off">
        </div>
        <div
           class="row formrow"
           *ngIf="true">
          <label class="width-6" for="filter_endkey">endkey</label>
          <input
             id="filter_endkey"
             formControlName="endKey"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off">
        </div>
        <div
           class="row formrow"
           *ngIf="true">
          <label class="width-6" for="filter_startkey_docid">startkey_docid</label>
          <input
             id="filter_startkey_docid"
             formControlName="startKeyDocId"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off">
        </div>
        <div
           class="row formrow"
           *ngIf="true">
          <label class="width-6" for="filter_endkey_docid">endkey_docid</label>
          <input
             id="filter_endkey_docid"
             formControlName="endKeyDocId"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off">
        </div>
        <div
           class="row formrow"
           *ngIf="true">
          <span class="width-6"></span>
          <span class="width-6">
            <input
               id="filter_group"
               name="group"
               formControlName="group"
               type="checkbox">
            <label for="filter_group">group</label>
          </span>
        </div>
        <div
           class="row formrow"
           *ngIf="true">
          <label class="width-6" for="filter_group_level">group_level</label>
          <input
             id="filter_group_level"
             formControlName="group_level"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
>
        </div>
        <div
           class="row formrow"
           *ngIf="true">
          <span class="width-6"></span>
          <span class="width-6">
            <input
               id="filter_inclusive_end"
               formControlName="inclusive_end"
               type="checkbox"
               ng-false-value="false"
               ng-true-value="true">
            <label class="width-5" for="filter_inclusive_end">inclusive_end</label>
          </span>
        </div>
        <div
           class="row formrow"
           *ngIf="true">
          <label class="width-6" for="filter_key">key</label>
          <input
             id="filter_key"
             formControlName="key"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
>
        </div>
        <div
           class="row formrow"
           *ngIf="true">
          <label class="width-6" for="filter_keys">keys</label>
          <input
             id="filter_keys"
             formControlName="keys"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
>
        </div>
        <div
           class="row formrow"
           *ngIf="true">
          <label class="width-6" for="filter_reduce">reduce</label>
            <div class="checkbox-list width-6">
               <input
                  type="radio"
                  formControlName="reduce"
                  id="reduce_true"
                  value="true">
               <label for="reduce_true">true</label>
               <input
                  type="radio"
                  formControlName="reduce"
                  id="reduce_false"
                  value="false">
               <label for="reduce_false">false</label>
               <input
                  type="radio"
                  formControlName="reduce"
                  id="reduce_none"
                  value="">
               <label for="reduce_none">none</label>
            </div>
        </div>
        <div
           class="row formrow"
           *ngIf="true">
          <label class="width-6" for="filter_stale">stale</label>
            <div class="checkbox-list width-6">
            <input
               type="radio"
               formControlName="stale"
               id="stale_false"
               value="false">
         <label for="stale_false">false</label>
         <input
               type="radio"
               formControlName="stale"
               id="stale_update_after"
               value="update_after">
         <label for="stale_update_after">update_after</label>
         <input
               type="radio"
               formControlName="stale"
               id="stale_ok"
               value="ok">
          <label for="stale_ok">ok</label>
          </div>
        </div>
        <div
           class="row formrow"
           *ngIf="true">
          <label class="width-6" for="filter_connection_timeout">connection_timeout</label>
          <input
             id="filter_connection_timeout"
             formControlName="connection_timeout"
             type="text"
             class="width-6"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             placeholder="milliseconds">
        </div>
      </div>
      <div class="panel-footer">
        <a (click)="onReset()">
          Reset
        </a>
        <button type="submit">
           Save
        </button>
      </div>
    </form>
  </div>
</div>
