<!--
Copyright 2020-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="panel dialog-med dialog dialog-wizard height-85vh">

  <ng-template #tipContent_serviceMem>
    <p>Memory quotas let Couchbase manage its memory usage between different
      services without running out of memory or degrading performance.
      The DATA SERVICE quota, for instance, is the allocation of
      physical RAM you want to set aside for storing your data in Couchbase Server.
      Other services like INDEXING use their memory allocations in different ways.
    </p>
    <p>
      THE DEFAULTS ARE A SAFE PLACE TO START.
    </p>
    <a
       href="https://docs.couchbase.com/server/{{majorMinorVersion | async}}/learn/buckets-memory-and-storage/memory.html"
       target="_blank"
       class="block margin-bottom-1">
      Learn more about memory quotas for Couchbase services.
    </a>
  </ng-template>

  <!-- mn-spinner="clusterConfigurationCtl.viewLoading || !clusterConfigurationCtl.config.selfConfig" -->
  <div class="panel-header flex-left margin-bottom-quarter">
    <img
      src="../cb_logo_bug_white_2.svg"
      width="32"
      height="32"
      class="margin-right-half">
    <h2>Couchbase &gt; New Cluster &gt; Configure </h2>
  </div>
  <form
    class="forms"
    style="height:inherit;"
    [formGroup]="newClusterConfigForm"
    (ngSubmit)="form.submit.next()"
    novalidate>
    <div style="height:calc(100% - 112px);overflow:auto;" class="show-scrollbar">
      <div class="panel-content">
        <mn-hostname-config
           [isHostCfgEnabled]="true"
           [group]="newClusterConfigForm.get('clusterStorage')">
        </mn-hostname-config>
        <div class="formrow">
          <div class="row formrow">
            <span class="row flex-left">
              <label class="margin-right-quarter">Service Memory Quotas</label>
              <span
                 class="fa-stack icon-info"
                 [ngbTooltip]="tipContent_serviceMem"
                 placement="right"
                 [closeDelay]="2000"
                 container="body">
                <span class="icon fa-circle-thin fa-stack-2x"></span>
                <span class="icon fa-info fa-stack-1x"></span>
              </span>
            </span>
            <small class="text-smaller">Per service / per node</small>
          </div>
          <div>
            <div
               class="error error-form"
               [hidden]="!(servicesHttp.error | async)">
              <div *ngFor="let error of (servicesHttp.error | async)">{{error}}</div>
            </div>
            <mn-services-config
               [isFieldEnabled]="true"
               [isFlagEnabled]="true"
               [initDataStream]="memoryQuotasFirst"
               [group]="newClusterConfigForm.get('services')">
            </mn-services-config>
            <div class="content-box text-center margin-top-1">
              <strong>RAM Available</strong> {{totalRAMMegs | async}}MiB &nbsp;
              <strong>Max Allowed Quota</strong> {{maxRAMMegs | async}}MiB
            </div>
            <label>Index Storage Setting</label>
            <mn-storage-mode
               [indexFlag]="newClusterConfigForm.get('services.flag.index')"
               [control]="newClusterConfigForm.get('storageMode')">
            </mn-storage-mode>
            <mn-node-storage-config
               [group]="newClusterConfigForm.get('clusterStorage')">
            </mn-node-storage-config>
            <div class="formrow" *ngIf="isEnterprise | async">
              <div class="row">
                <label for="setup_java_runtime_path_input">Java Runtime Path</label>
                <small class="text-smaller">optional</small>
              </div>
              <input
                 type="text"
                 formControlName="javaPath"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"
                 id="setup_java_runtime_path_input">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="panel-footer scroll-shadow margin-top-quarter">
      <a
        uiSref="app.wizard.termsAndConditions"
        [uiOptions]="{location: false}">&lt; Back</a>
      <button
        [disabled]="isButtonDisabled | async"
        type="submit">Save & Finish</button>
    </div>
  </form>
</div>
