<!--
Copyright 2020-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<ng-template #filterExpressionTemplate>
  <p class="text-smaller">You may filter for values and x-attributes in addition to key names.
    If the filter matches, the document will be replicated; otherwise the document
    won’t be replicated.</p>
  <p class="text-smaller">See the XDCR documentation for possible filter expressions
    (NOTE: regex pattern-matching and many N1QL statements are supported, but there
    are some unique aspects to the XDCR filtering language).</p>
  <p class="text-smaller">You may test if your
    filter expression matches a document by entering the document ID in the test field.</p>
  <p class="text-smaller">IMPORTANT: The filter expression does not apply to document delete operations or expirations;
    the filter expression will not stop any deletes or expirations from replicating.
    This is true even if the filter expression only applies to the document ID.
  </p>
</ng-template>

<ng-template #binaryDocumentsTemplate>
  The Filter Binary Documents option is used to specify whether binary documents should be replicated.<br />
  If the option is selected, binary documents are not replicated, regardless of whether a filter expression is applied.<br />
  If the option is not selected, the behavior depends on the conditions noted in the
  <a href="https://docs.couchbase.com/server/{{majorMinorVersion | async}}/manage/manage-xdcr/filter-xdcr-replication.html#filtering-binary-documents"
     target="_blank"
     rel="noopener noreferrer">documentation</a>.
</ng-template>

<ng-template #filterBinaryOffTemplate>
  <span>
    Binary documents are not replicated.
  </span>
</ng-template>

<ng-template #filterBinaryOnTemplate>
  <ul>
    <li>If a filter expression does <span class="bold">not</span> exist, binary documents are replicated.</li>
    <li>If a filter expression exists and contains key or xattr only expression, binary documents are checked against the filter expression.</li>
    <li>If a filter expression exists and contains references to the document body, binary documents are replicated.</li>
  </ul>
</ng-template>

<div class="row flex-left margin-bottom-half"
   [formGroup]="formHelper.group">
  <label
     class="toggle-control margin-0"
     for="audit-enable-flag">
    <input
       type="checkbox"
       id="audit-enable-flag"
       formControlName="enableFilters">
    <span class="toggle-control-body"></span>
  </label>
  <span class="text-small margin-left-half">Filter Replication</span>
</div>

<div
   *ngIf="formHelper.group.get('enableFilters').valueChanges | async"
   [formGroup]="group">
  <div class="margin-bottom-1-5">
    <label class="inline margin-right-quarter">Filter Expression</label>
    <span
       class="fa-stack icon-info"
       [ngbTooltip]="filterExpressionTemplate"
       placement="right"
       container="body">
      <span class="icon fa-circle-thin fa-stack-2x"></span>
      <span class="icon fa-info fa-stack-1x"></span>
    </span>
    <textarea
       formControlName="filterExpression"
       rows="4"
       autocorrect="off"
       autocompleterg="off"
       spellcheck="false"
       class="xdcr-filter margin-bottom-half">
    </textarea>

    <h5>Test Filter Expression</h5>
    <div
       class="row margin-bottom-half"
       [formGroup]="form.group">
      <mn-keyspace-selector
         *ngIf="compatVersion70 | async"
         class="mn-keyspace-selector width-12 margin-right-half"
         [defaults]="{bucket: bucket}"
         [service]="mnKeyspaceSelector">
      </mn-keyspace-selector>
      <input
         formControlName="docId"
         type="text"
         autocorrect="off"
         autocompleterg="off"
         spellcheck="false"
         placeholder="id of document to test...">
      <button
         type="button"
         class="outline"
         [disabled]="(form.processing | async)"
         (click)="form.submit.next()">
        Test Filter
      </button>
      <div class="xdcrfilter-matching">
        <span
           class="xdcrfilter-nomatch"
           [hidden]="(form.processing | async) || (postRegexpValidation.success | async)?.result">no match</span>
        <span
           class="xdcrfilter-loading loading"
           [hidden]="!(form.processing | async)">...</span>
        <span
           class="xdcrfilter-match"
           [hidden]="(form.processing | async) || !(postRegexpValidation.success | async)?.result">match</span>
      </div>
    </div>

    <div
       class="error"
       [hidden]="!(errors | async)">
      {{(errors | async)}}
    </div>

    <div
       [formGroup]="xdcrGroup">
      <div
         *ngIf="isEditMode"
         class="xdcr-filter-stream formrow">
        <input
           type="radio"
           value="false"
           id="for-save-restart-replication"
           formControlName="filterSkipRestream">
        <label for="for-save-restart-replication">Save filter & restart replication</label>
        <input
           type="radio"
           value="true"
           id="for-save-continue-replicating"
           formControlName="filterSkipRestream">
        <label for="for-save-continue-replicating">Save & continue replicating</label>
      </div>

      <span class="block">
        <label class="margin-top-1 inline margin-right-quarter">Deletion Filters</label>
        <span
           class="fa-stack icon-info"
           ngbTooltip="IMPORTANT: Any filter expression defined above does not apply to document delete operations or expirations,
             i.e. the filter expression will not stop any deletes or expirations from replicating.
             This is true even if the filter expression only applies to the document ID.
             Document deletions and expirations are only replicated to the mapped target collections."
           placement="right"
           container="body">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </span>
      <input
         type="checkbox"
         value="index"
         id="for-do-not-replicate-ttl"
         formControlName="filterExpiration">
      <label for="for-do-not-replicate-ttl" class="margin-right-quarter">
        Do not replicate document expirations
      </label>
      <span
         class="fa-stack icon-info"
         ngbTooltip="Source expirations will not be replicated."
         placement="right"
         container="body">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>

      <div>
        <input
           type="checkbox"
           value="index"
           id="for-do-not-replicate-delete"
           formControlName="filterDeletion">
        <label
           for="for-do-not-replicate-delete"
           class="margin-right-quarter">
          Do not replicate DELETE operations
        </label>
        <span
           class="fa-stack icon-info"
           ngbTooltip="Application-level deletes will not be replicated."
           placement="right"
           container="body">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </div>
      <div class="margin-bottom-1">
        <input
           type="checkbox"
           value="index"
           id="for-do-not-replicate-TTL"
           formControlName="filterBypassExpiry">
        <label for="for-do-not-replicate-TTL" class="margin-right-quarter">
          Remove TTL from replicated items
        </label>
        <span
           class="fa-stack icon-info"
           ngbTooltip="Destination items will have no TTL."
           placement="right"
           container="body">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </div>

      <span class="block">
        <label class="inline margin-right-quarter">Binary Documents</label>
        <span
           class="fa-stack icon-info"
           [ngbTooltip]="binaryDocumentsTemplate"
           placement="right"
           triggers="click"
           container="body">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </span>

      <input
        type="checkbox"
        id="for-filter-binary"
        formControlName="filterBinary">
      <label for="for-filter-binary" class="margin-right-quarter">
        Filter Binary Documents
      </label>
      <span
        class="fa-stack icon-info"
        [ngbTooltip]="xdcrGroup.get('filterBinary').value ? filterBinaryOnTemplate : filterBinaryOffTemplate"
        placement="right"
        container="body">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
    </div>
  </div>
</div>
