<div (click)="$event.stopPropagation();">
  <div [hidden]="!(isExplicitMappingMode | async)">
    <div
       *ngFor="let item of explicitMappingRulesKeys | async"
       class="row padding-quarter margin-top-half margin-bottom-quarter grayblack-bg-7 text-small">
      <span class="break-word">
        {{item[0]}} &gt; {{item[1] || ""}}
      </span>
      <a *ngIf="isEditMode"
         (click)="delExplicitMappingRules(item[0])"
         class="x-close-sml">X</a>
    </div>
  </div>
  <div [hidden]="!(isMigrationMode | async)">
    <div
       *ngFor="let item of explicitMappingMigrationRulesKeys | async"
       class="row padding-quarter margin-top-half margin-bottom-quarter grayblack-bg-7 text-small">
      <span class="break-word">
        {{item[0]}} --&gt; {{item[1]}}
      </span>
      <a *ngIf="isEditMode"
         (click)="delExplicitMappingMigrationRules(item[0])"
         class="x-close-sml">X</a>
    </div>
  </div>
</div>
