<div>
  <h4>Mapping Rules</h4>
  <div *ngFor="let item of explicitMappingRulesKeys | async"
     class="row padding-quarter margin-top-half margin-bottom-quarter grayblack-bg-7 text-small">
    <span>
      {{item[0]}} &gt; {{item[1] || "null"}}
    </span>
    <a
       (click)="delExplicitMappingRules(item[0])"
       class="x-close-sml">X</a>
  </div>

  <div *ngFor="let item of explicitMappingMigrationRulesKeys | async"
     class="row padding-quarter margin-quarter label neutral">
    <span>
      {{item[0]}} --&gt; {{item[1]}}
    </span>
    <a (click)="delExplicitMappingMigrationRules(item[0])">X</a>
  </div>
</div>
