<mn-element-cargo depot="actions">
  <div class="header-controls resp-sml">
    <a
       uiSref="app.admin.replications"
       class="resp-hide-sml">
      <span class="icon fa-arrow-left"></span> BACK
    </a>
  </div>
</mn-element-cargo>

<form
   [formGroup]="form.group"
   (submit)="form.submit.next()"
   class="forms">
  <div class="row flex-left items-stretch resp-sml margin-bottom-2">
    <div class="width-9">
      <div
         class="error"
         [hidden]="!(postCreateReplication.error | async)?._">
        {{(postCreateReplication.error | async)?._}}
      </div>
      <div
         class="error error-field"
         [hidden]="!(postCreateReplication.error | async)?.fromBucket">
        {{(postCreateReplication.error | async)?.fromBucket}}
      </div>
      <div
         class="error error-field"
         [hidden]="!(postCreateReplication.error | async)?.toCluster">
        {{(postCreateReplication.error | async)?.toCluster}}
      </div>
      <div
         class="error error-field"
         [hidden]="!(postCreateReplication.error | async)?.toBucket">
        {{(postCreateReplication.error | async)?.toBucket}}
      </div>

      <div class="formrow row flex-left items-stretch resp-flex-column-s">
        <div class="column flex-grow-1">
          <label for="replication_from_bucket" class="nowrap">Replicate From Bucket</label>
          <select
             formControlName="fromBucket">
            <option value="" disabled="true">
              select a bucket
            </option>
            <option *ngFor="let v of (bucketsMembaseEphemeral | async)" [ngValue]="v.name">
              {{v.name}}
            </option>
          </select>
        </div>
        <div class="column row resp-hide-sml">
          <span class="icon fa-angle-right text-superbig grayblack-2"></span>
        </div>
        <div class="column flex-grow-1">
          <label for="replication_to_cluster" class="nowrap">Remote Cluster</label>
          <select formControlName="toCluster">
            <option value="" disabled="true">
              Pick remote cluster
            </option>
            <option *ngFor="let v of (remoteClusters | async)" [ngValue]="v.name">
              {{v.name}}
            </option>
          </select>
        </div>
        <div class="flex-grow-1">
          <label for="replication_to_bucket">Remote Bucket</label>
          <input
             id="replication_to_bucket"
             formControlName="toBucket"
             type="text"
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off">
        </div>
      </div>
      <div
         class="zero-content margin-bottom-1"
         [hidden]="!form.group.get('fromBucket').value">
        <span [hidden]="!form.group.get('fromBucket').value">
          The bucket <em>{{form.group.get('fromBucket').value}}</em>
          will be replicated to
        </span>
        <span *ngIf="form.group.get('fromBucket').value && !form.group.get('toCluster').value">
          . . .
        </span>
        <span [hidden]="!form.group.get('toCluster').value">
          <em>{{form.group.get('toCluster').value}}</em>.
          Missing targets on the remote will be ignored and that data
          will not be replicated.
        </span>
      </div>
      <mn-xdcr-mapping
         *ngIf="(isEnterprise | async)"
         [explicitMappingRules]="explicitMappingRules"
         [explicitMappingMigrationRules]="explicitMappingMigrationRules"
         [explicitMappingGroup]="explicitMappingGroup"
         class="block"
         [group]="form.group"></mn-xdcr-mapping>

      <mn-xdcr-filter
         [bucket]="form.group.get('fromBucket').value"
         [group]="form.group"
         class="block"
         *ngIf="(isEnterprise | async)"></mn-xdcr-filter>

      <mn-xdcr-settings
         [group]="form.group"
         class="block margin-top-1-5"></mn-xdcr-settings>
    </div>

    <div
       *ngIf="(isEnterprise | async)"
       style="border-left: 1px solid #d1d1d1; margin: 0 16px; flex-basis: 1;"
       class="resp-hide-sml">&nbsp;</div>

    <mn-xdcr-mapping-rules
       *ngIf="(isEnterprise | async)"
       class="width-3 block"
       [group]="form.group"
       [explicitMappingRules]="explicitMappingRules"
       [explicitMappingMigrationRules]="explicitMappingMigrationRules"
       [explicitMappingGroup]="explicitMappingGroup"></mn-xdcr-mapping-rules>
  </div>

  <footer class="footer-save">
    <button type="submit" class="margin-right-2">Save Replication</button>
    <a class="text-medium" uiSref="app.admin.replications">Cancel/Reset</a>
  </footer>
</form>
