<div class="row">

  <div [formGroup]="controls" class="width-12">
    <span class="indent-1">
      <input
         [attr.id]="'dynamic_check_all' + keyspace + parent"
         formControlName="checkAll"
         type="checkbox">
      <label
         [attr.for]="'dynamic_check_all' + keyspace + parent">
        {{(controls.get("checkAll").valueChanges | async) ? "disable" : "enable"}}
        all filtered
        {{isCollection ? "collections" : "scopes"}}
      </label>
    </span>
  </div>

  <mn-input-filter
     class="row flex-right"
     [group]="filter.group"
     [mnPlaceholder]="'filter ' + keyspace + '...'">
  </mn-input-filter>
</div>

<div *ngIf="keyspace == 'scopes'">
  <div class="cbui-table">
    <div class="cbui-table-header min-height-1"></div>
    <div *ngFor="let scope of (scopesPaginator.page | async);">
      <mn-xdcr-add-rep-scope
         [item]="scope"
         [explicitMappingGroup]="explicitMappingGroup"
         [explicitMappingRules]="explicitMappingRules">
      </mn-xdcr-add-rep-scope>
    </div>
  </div>
  <ngb-pagination
     *ngIf="(scopesPaginator.values | async)?.size && (filteredItems | async)?.length"
     [page]="(scopesPaginator.values | async)?.page"
     [maxSize]="5"
     [pageSize]="(scopesPaginator.values | async)?.size"
     [collectionSize]="(filteredItems | async)?.length"
     (pageChange)="scopesPaginator.group.patchValue({page:$event})">
    <ng-template ngbPaginationPrevious>&#60; prev</ng-template>
    <ng-template ngbPaginationNext>next &#62;</ng-template>
  </ngb-pagination>
</div>
<div
   class="cbui-table-body margin-top-1 margin-bottom-2 max-height-280"
   *ngIf="keyspace == 'collections'">
  <span
     [hidden]="(filteredItems | async)?.length"
     class="zero-content">
    there's nothing here
  </span>
  <div
     [hidden]="!(filteredItems | async)?.length"
     style="columns: 2 auto; column-gap:0px">
    <mn-xdcr-add-rep-mapping-item
       *ngFor="let coll of (filteredItems | async); trackBy: trackCollectionsBy"
       class="block nowrap padding-quarter"
       [item]="coll"
       [keyspace]="keyspace"
       [parent]="item.name"
       [explicitMappingGroup]="explicitMappingGroup"
       [explicitMappingRules]="explicitMappingRules">
    </mn-xdcr-add-rep-mapping-item>
  </div>
</div>
