<!--
Copyright 2021-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div class="zero-content margin-bottom-1" [hidden]="!fromBucket">
<!-- add mode -------------------------------------------------------------- -->
  <span *ngIf="!isEditMode">
    <span [hidden]="!fromBucket">
      The bucket <em class="bold">{{fromBucket}}</em>
      will be replicated to the bucket
    </span>
    <div *ngIf="fromBucket && !toBucket" class="loading"></div>
    <span *ngIf="toBucket">
      <em class="bold">{{toBucket}}</em> on the remote cluster
      <div *ngIf="fromBucket && !toCluster" class="loading"></div>
      <span *ngIf="toCluster">
        <em class="bold">{{toCluster}}</em>.
        <div>
          Missing targets on the remote will be ignored and that data will not be replicated.
        </div>
      </span>
    </span>
  </span>
<!-- edit mode ------------------------------------------------------------- -->
  <span *ngIf="isEditMode">
    The bucket <em class="bold">{{fromBucket}}</em> will be replicated to the
    bucket <em class="bold">{{toBucket}}</em> on the remote cluster
    <em class="bold">{{toCluster}}</em>.
    <div>
      Missing targets on the remote will be ignored and that data will not be replicated.
    </div>
  </span>
</div>
