<mn-element-cargo depot="actions">
  <div class="header-controls resp-sml">
    <a
       uiSref="app.admin.replications"
       class="resp-hide-sml">
      <span class="icon fa-arrow-left"></span> BACK
    </a>
  </div>
</mn-element-cargo>

<form
   [formGroup]="form.group"
   (submit)="form.submit.next()"
   class="forms">
  <div class="row flex-left items-stretch resp-flex-column-med margin-bottom-2">
    <div class="width-10">
      <mn-xdcr-rep-message
        [fromBucket]="item.source"
        [toBucket]="toBucket"
        [toCluster]="toCluster | async"
        [isEditMode]="true"></mn-xdcr-rep-message>

      <mn-xdcr-filter
         [xdcrGroup]="form.group"
         [bucket]="item.source"
         [settingsPipe]="replicationSettings"
         [isEditMode]="true"
         [group]="filterRegexpGroup"
         *ngIf="(isEnterprise | async)"></mn-xdcr-filter>

      <mn-xdcr-mapping
         *ngIf="(replicationSettings | async) && (isEnterprise | async)"
         [explicitMappingRules]="explicitMappingRules"
         [explicitMappingMigrationRules]="explicitMappingMigrationRules"
         [explicitMappingGroup]="explicitMappingGroup"
         [group]="form.group"
         [bucket]="item.source"></mn-xdcr-mapping>

      <mn-xdcr-settings
         class="panel-content"
         [group]="form.group"></mn-xdcr-settings>
    </div>
    <div
       *ngIf="(isEnterprise | async)"
       style="border-left: 1px solid #d1d1d1; margin: 0 16px; flex-basis: 1;"
       class="resp-hide-med">&nbsp;</div>
    <div class="width-2">
      <h4
         class="block margin-right-1">
        Mapping Rules
      </h4>
      <mn-xdcr-mapping-rules
         class="block"
         *ngIf="(isEnterprise | async)"
         [isEditMode]="true"
         [isMigrationMode]="isMigrationMode"
         [isExplicitMappingMode]="isExplicitMappingMode"
         [explicitMappingRules]="explicitMappingRules"
         [explicitMappingMigrationRules]="explicitMappingMigrationRules"
         [explicitMappingGroup]="explicitMappingGroup">
      </mn-xdcr-mapping-rules>
    </div>
  </div>

  <footer class="footer-save">
    <button type="submit" class="margin-right-2">Save Replication</button>
    <a class="text-medium" uiSref="app.admin.replications">Cancel/Reset</a>
  </footer>
</form>
