<!--
Copyright 2024-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<ng-template #loggingOptionsScope>
  There are multiple options for the conflict logging target at scope level:
  <ul class="margin-top-half">
    <li>Default collection - the conflicts from this scope are logged into the Default Conflict Log Collection.</li>
    <li>Custom collection - set a custom scope/collection for conflicts to log.</li>
    <li>Do not log - the conflicts from this scope are not logged.</li>
  </ul>
</ng-template>

<div [ngClass]="{'row margin-top-1' : parent === 'root'}">
  <div [formGroup]="group" class="width-12">
    <span class="indent-1 flex flex-items-center flex-gap-10">
      <span *ngIf="parent === 'root'" class="text-medium">
        Default Conflict Log Collection
        <span *ngIf="parent === 'root'"
              class="fa-stack icon-info"
              ngbTooltip="All conflict logs and documents for this replication are logged into this collection. Exceptions can be made by setting a custom log collection at the scope/collection level below."
              placement="auto right"
              container="body">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </span>


      <div *ngIf="parent === 'root'">
        <mn-keyspace-selector
           class="mn-keyspace-selector margin-right-half static"
           [service]="mnKeyspaceSelector"
           customDropdownClass="max-width-5-5">
        </mn-keyspace-selector>
      </div>
    </span>

    <div *ngIf="parent === 'root'" class="margin-left-1 margin-top-1">
      <input
         id="conflict_log_custom_scopes"
         [formControlName]="'conflict_log_custom_scopes'"
         type="checkbox">
      <label for="conflict_log_custom_scopes">
        Customise Conflict Logging at scope level
        <span
           class="fa-stack icon-info"
           [ngbTooltip]="loggingOptionsScope"
           placement="auto right"
           container="body">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
      </label>
    </div>
  </div>
</div>
<div [hidden]="!(customiseChildren | async)">
  <div class="indent-1 margin-top-1 width-3">
    <mn-input-filter
       class="width-12"
       [group]="filter.group"
       [mnPlaceholder]="'filter ' + keyspace + '...'">
    </mn-input-filter>
  </div>
  <div *ngIf="keyspace == 'scopes'">
    <div class="cbui-table">
      <div class="cbui-table-header min-height-1"></div>
      <div *ngFor="let scope of (scopesPaginator.page | async);">
        <mn-xdcr-conflict-log-scope
           [item]="scope"
           [mappingGroup]="mappingGroup"
           [mappingRules]="mappingRules">
        </mn-xdcr-conflict-log-scope>
      </div>
    </div>
    <ngb-pagination
       *ngIf="(scopesPaginator.values | async)?.size && (filteredItems | async)?.length"
       [page]="(scopesPaginator.values | async)?.page"
       [maxSize]="5"
       [pageSize]="(scopesPaginator.values | async)?.size"
       [collectionSize]="(filteredItems | async)?.length"
       (pageChange)="scopesPaginator.group.patchValue({page:$event})">
      <ng-template ngbPaginationPrevious>&#60; prev</ng-template>
      <ng-template ngbPaginationNext>next &#62;</ng-template>
    </ngb-pagination>
  </div>

  <div
     class="margin-top-1 margin-bottom-2 max-height-280 margin-left-1 margin-right-1"
     style="background-color: #f6f7f9; border-radius: 7px; border: 1px solid #d8d8d8; padding: .25rem .5rem; cursor: default !important; margin-bottom: .25rem;"
     *ngIf="keyspace == 'collections'">
  <span
     [hidden]="(filteredItems | async)?.length"
     class="zero-content">
    there's nothing here
  </span>
    <div
       [hidden]="!(filteredItems | async)?.length"
       class="border-0">

      <mn-xdcr-conflict-log-mapping-item
         *ngFor="let coll of (filteredItems | async); trackBy: trackCollectionsBy"
         class="block nowrap padding-quarter"
         [item]="coll"
         [keyspace]="keyspace"
         [parent]="item.name"
         [mappingGroup]="mappingGroup"
         [mappingRules]="mappingRules">
      </mn-xdcr-conflict-log-mapping-item>
    </div>
  </div>
</div>

