<div class="dialog-med">
  <div class="panel-header">
    <h2>Add Replication</h2>
    <a class="ui-dialog-titlebar-close modal-close" (click)="activeModal.dismiss()">X</a>
  </div>
  <form
     [formGroup]="form.group"
     (submit)="form.submit.next()"
     class="forms">
    <div class="panel-content">
      <div
         class="error"
         [hidden]="!(postCreateReplication.error | async)?._">
        {{(postCreateReplication.error | async)?._}}
      </div>
      <div class="formrow">
        <label for="replication_from_bucket">Replicate From Bucket</label>
        <select
           formControlName="fromBucket">
          <option value="" disabled="true" [selected]="true" style="display: none;">
            select a bucket
          </option>
          <option *ngFor="let v of (bucketsMembaseEphemeral | async)" [ngValue]="v.name">
            {{v.name}}
          </option>
        </select>
        <div
           class="error error-field"
           [hidden]="!(postCreateReplication.error | async)?.fromBucket">
          {{(postCreateReplication.error | async)?.fromBucket}}
        </div>
      </div>

      <div
         class="formrow checkbox-list">
        <input
           formControlName="collectionsExplicitMapping"
           id="collections_explicit_mapping"
           type="checkbox">
        <label for="collections_explicit_mapping" class="margin-right-zero">
          Specify scopes, collections, and mapping
        </label>
        <span
           class="fa-stack icon-info"
           ngbTooltip=""
           placement="top">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
        </span>
      </div>

      <div
         class="margin-bottom-1"
         [hidden]="!form.group.get('collectionsExplicitMapping').value">

        <div
           class="formrow checkbox-list">
          <input
             formControlName="collectionsMigrationMode"
             id="collections_migration_mode"
             type="checkbox">
          <label for="collections_migration_mode" class="margin-right-zero">
            Enable Collections Migration Mode
          </label>
          <span
             class="fa-stack icon-info"
             ngbTooltip=""
             placement="top">
            <span class="icon fa-circle-thin fa-stack-2x"></span>
            <span class="icon fa-info fa-stack-1x"></span>
          </span>
        </div>

        <div
           [formGroup]="explicitMappingForm.group"
           [hidden]="form.group.get('collectionsMigrationMode').value">
          <div class="formrow">
            <select
               formControlName="scope">
              <option value="" disabled="true" [selected]="true" style="display: none;">
                choose a scope
              </option>
              <option
                 *ngFor="let v of (selectedBucketScopes | async)"
                 [ngValue]="v">
                {{v.name}}
              </option>
            </select>
          </div>
          <div class="formrow">
            <select
               formControlName="collection">
              <option value="" disabled="true" [selected]="true" style="display: none;">
                or choose a collection
              </option>
              <option
                 *ngFor="let v of explicitMappingForm.group.get('scope').value.collections"
                 [ngValue]="v">
                {{v.name}}
              </option>
            </select>
          </div>
          <div class="formrow">
            <label for="remote_scope_name">Name On Remote</label>
            <input
               id="remote_scope_name"
               formControlName="target"
               placeholder="scope:collection or scope"
               type="text"
               autocorrect="off"
               spellcheck="false"
               autocapitalize="off">
          </div>
          <button
             class="margin-bottom-half"
             type="button"
             (click)="addExplicitMappingRules.next()">Save Mapping</button>

          <div
             class="error error-field"
             [hidden]="!(postCreateReplication.error | async)?.colMappingRules">
            {{(postCreateReplication.error | async)?.colMappingRules}}
          </div>

          <div *ngFor="let item of getExplicitMappingRulesKeys()"
             class="row" style="background: lightgrey;">
            <span>
              {{item}} --> {{explicitMappingRules[item] || 'null'}}
            </span>
            <span (click)="delExplicitMappingRules(item)">X</span>
          </div>
        </div>

        <div
           [formGroup]="explicitMappingForm.group"
           [hidden]="!form.group.get('collectionsMigrationMode').value">
          <div class="formrow">
            <textarea
               placeholder="Expression for source default collection"
               formControlName="key"
               rows="4"
               autocorrect="off"
               autocompleterg="off"
               spellcheck="false"
               class="xdcr-filter margin-bottom-half">
            </textarea>
          </div>
          <div class="formrow">
            <textarea
               placeholder="Expression for specific target collection"
               formControlName="target"
               rows="4"
               autocorrect="off"
               autocompleterg="off"
               spellcheck="false"
               class="xdcr-filter margin-bottom-half">
            </textarea>
          </div>
          <button
             class="margin-bottom-half"
             type="button"
             (click)="addExplicitRuleBasedMappings.next()">Save Mapping</button>

          <div
             class="error error-field"
             [hidden]="!(postCreateReplication.error | async)?.colMappingRules">
            {{(postCreateReplication.error | async)?.colMappingRules}}
          </div>

          <div *ngFor="let item of getExplicitRuleBasedMappingsKeys()"
             class="row" style="background: lightgrey;">
            <span>
              {{item}} --> {{explicitRuleBasedMappings[item]}}
            </span>
            <span (click)="delExplicitRuleBasedMappings(item)">X</span>
          </div>
        </div>

      </div>

      <div class="formrow">
        <label for="replication_to_cluster">Remote Cluster</label>
        <select
           formControlName="toCluster">
          <option value="" disabled="true" [selected]="true" style="display: none;">
            Pick remote cluster
          </option>
          <option *ngFor="let v of (remoteClusters | async)" [ngValue]="v.name">
            {{v.name}}
          </option>
        </select>
        <div
           class="error error-field"
           [hidden]="!(postCreateReplication.error | async)?.toCluster">
          {{(postCreateReplication.error | async)?.toCluster}}
        </div>
      </div>


      <div class="formrow">
        <label for="replication_to_bucket">Remote Bucket</label>
        <input
           id="replication_to_bucket"
           formControlName="toBucket"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
        <div
           class="error error-field"
           [hidden]="!(postCreateReplication.error | async)?.toBucket">
          {{(postCreateReplication.error | async)?.toBucket}}
        </div>
      </div>

      <div class="formrow">
        <label for="replication_priority">Replication Priority</label>
        <select
           id="replication_priority"
           formControlName="priority">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>

      <mn-xdcr-filter
         [bucket]="form.group.get('fromBucket').value"
         [group]="form.group"
         *ngIf="(isEnterprise | async)"></mn-xdcr-filter>

      <mn-xdcr-settings
         [group]="form.group"
         [type]="form.group.get('type').value"></mn-xdcr-settings>
    </div>

    <div class="panel-footer">
      <a (click)="activeModal.dismiss()">Cancel</a>
      <button type="submit">Save</button>
    </div>
  </form>
</div>
