<!--
Copyright 2018-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<form (ngSubmit)="form.submit.next()" [formGroup]="form.group">
  <div class="formrow">
    <h4>Require Client Certificate</h4>
    <input
       type="radio"
       value="disable"
       name="state"
       id="client_cert_disabled"
       formControlName="state">
    <label for="client_cert_disabled" class="checkbox">
      Disable
    </label>
    <br>
    <input
       type="radio"
       value="enable"
       name="state"
       id="client_cert_enabled"
       formControlName="state">
    <label for="client_cert_enabled" class="checkbox">
      Enable
    </label>
    <br>
    <input
       type="radio"
       value="mandatory"
       name="state"
       id="client_cert_mandatory"
       formControlName="state">
    <label for="client_cert_mandatory" class="checkbox">
      Mandatory
    </label>
  </div>

  <div class="error error-field"
       [hidden]="!(isErrorString | async) || (isStateDisabled | async)">
    <span>{{(form.postRequest.error | async)}}</span>
  </div>
  <div class="error error-field"
       *ngFor="let error of (form.postRequest.error | async)"
       [hidden]="(isErrorString | async) || (isStateDisabled | async)">
    <span>{{error}}</span>
  </div>
  <div class="forms"
       formArrayName="prefixes"
       *ngFor="let control of form.group.get('prefixes').controls; index as i;">
    <div class="row fix-width-5" formGroupName="{{i}}">
      <div class="width-5 margin-right-half">
        <label [attr.for]="'client_cert_path_' + 'i'">Path</label>
        <select
           [attr.id]="'client_cert_path_' + 'i'"
           formControlName="path">
          <option value="subject.cn">subject.cn</option>
          <option value="san.dnsname">san.dnsname</option>
          <option value="san.email">san.email</option>
          <option value="san.uri">san.uri</option>
        </select>
      </div>
      <div class="width-5 margin-right-half">
        <label [attr.for]="'client_cert_prefix_' + 'i'">Prefix</label>
        <input
           placeholder="e.g.  couchbase."
           formControlName="prefix"
           [attr.id]="'client_cert_prefix_' + 'i'"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
      </div>
      <div class="width-2">
        <label [attr.for]="'client_cert_delimiter_' + 'i'">Delimiter</label>
        <input
           placeholder="e.g.  ."
           formControlName="delimiter"
           [attr.id]="'client_cert_delimiter_' + 'i'"
           type="text"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off">
      </div>
    </div>
  </div>

  <div class="row flex-left margin-top-half">
    <button
       class="outline btn-small"
       title="Add a prefix"
       [hidden]="!(compatVersion51 | async)"
       [disabled]="(maybeDisableControls | async)"
       (click)="addItem({delimiter: '', prefix: '', path: 'subject.cn'});"
       type="button">+</button>
    &nbsp;
    <button
       class="outline btn-small"
       [hidden]="!(compatVersion51 | async)"
       [disabled]="(maybeDisableControls | async) || (isLastPrefix | async)"
       title="Remove a prefix"
       (click)="removeField()"
       type="button">-</button>
  </div>

  <div class="margin-top-2">
    <button type="submit"
            [disabled]="!(securityWrite | async)">
      Save
    </button>
  </div>
</form>
