<mn-element-cargo
  depot="alerts"
  *ngIf="!(isRebalancing | async)">
  <div
    class="alert alert-warning"
    *ngFor="let warning of (failoverWarnings | async)"
    [ngSwitch]="warning">
    <p *ngSwitchCase="'rebalanceNeeded'">
      Warning: Rebalance required, some data is not currently replicated.</p>
    <p *ngSwitchCase="'hardNodesNeeded'">
      Warning: At least two servers with the data service are required to provide replication.
    </p>
    <p *ngSwitchCase="'softNodesNeeded'">
      Warning: Additional active servers required to provide the desired number of replicas.
    </p>
    <p *ngSwitchCase="'softRebalanceNeeded'">
      Warning: Rebalance recommended, some data does not have the desired replicas configuration.
    </p>
  </div>

  <div
    class="alert alert-warning"
    [hidden]="(isNotCompatMode | async) || (toggleFailover.state | async)">
    <!-- toggle should be in servers service -->
    <p>This cluster contains multiple server versions and is running in {{prettyClusterCompat | async}} compatibility mode.</p>
    <a (click)="toggleFailover.click.next()" class="close">X</a>
  </div>
  <div
    class="alert alert-warning"
    *ngIf="(isLoadingSampleBucket | async)">
    <p>Warning: Rebalance is not available until data loading is completed.</p>
  </div>
  <div
    class="alert alert-warning"
    [hidden]="!(settingsRead | async) || (getAutoFailover | async)?.count == 0">
    <p>A server was automatically failed over.</p>
    <a
      [hidden]="!(settingsWrite | async)"
      (click)="resetAutofaiover.submit.next()">Reset Quota</a>
  </div>
</mn-element-cargo>

<mn-element-cargo depot="actions">
  <div class="header-controls resp-sml">
    <!-- <a -->
    <!--   ui-sref="app.admin.servers.list.groups" -->
    <!--   ng-show="poolDefault.isGroupsAvailable && !poolDefault.rebalancing && poolDefault.isEnterprise && rbac.cluster.server_groups.read" -->
    <!--   class="resp-hide-sml"> -->
    <!--   GROUPS -->
    <!-- </a> -->
    <a
      [hidden]="!(poolsWrite | async) || !(tasksRead | async) || (isRebalancing | async)"
      [attr.disabled]="(isRecoveryMode | async) || (activateNodesWithoutEjected | async)?.length == 1 ? true : null"
      class="resp-hide-sml">
      <!-- convert a into button in order to use disabled instead of [attr.disabled]-->
      <!-- (click)="serversCtl.multipleFailoverDialog()" -->
      FAILOVER
    </a>

    <a
      [hidden]="(isRebalancing | async) || !(poolsWrite | async)"
      class="resp-hide-sml">
      <!-- ng-click="serversCtl.addServer()" -->
      ADD SERVER
    </a>
  </div>
</mn-element-cargo>

  <!-- mn-spinner="!serversCtl.nodes || (rbac.cluster.tasks.read && !adminCtl.tasks) || (rbac.cluster.server_groups.read && !serversCtl.getGroupsByHostname)" -->
<div min-height="300px">
  <div class="row">
    <mn-search-field
      class="row filter-server"
      mnPlaceholder="filter servers..."
      [mnFormGroup]="formHelper">
    </mn-search-field>

    <div [hidden]="!(tasksRead | async)">
      <button
        [hidden]="!(poolsWrite | async) || (isRebalancing | async)"
        [disabled]="(isRecoveryMode | async) ||
                    (!(ejectedNodesLength | async) && (isBalanced | async)) ||
                    (isUnhealthyActiveNodesWithoutEjected | async) ||
                    (isLoadingSampleBucket | async) ||
                    (isOrphanBucket | async)"
        class="orange margin-left-half resp-sml">Rebalance</button>
              <!-- ng-click="serversCtl.postRebalance()" -->
      <button
        class="orange"
        [hidden]="!(isRebalancing | async) || !(poolsWrite | async)">
        <!-- ng-click="serversCtl.stopRebalance()" -->
        <span [hidden]="!(isSubtypeGraceful | async)">Stop Failover</span>
        <span [hidden]="(isSubtypeGraceful | async)">Stop Rebalance</span>
      </button>
      <button
        [hidden]="!(isRecoveryMode | async) || !(bucketRecoveryWrite | async)"
        class="orange">Stop Recovery</button>
      <!-- ng-click="serversCtl.onStopRecovery()" -->
    </div>
  </div>

  <div>
    <div class="cbui-table margin-top-half">
      <div class="cbui-table-header">
        <span class="cbui-table-cell flex-grow-2-5">
          <span
            class="sorter margin-right-4"
            (click)="onSortByClick.next('name')">
            name
          </span>
        </span>
        <span class="cbui-table-cell flex-grow-1-5">
          <!-- <span mn-sortable-title="group" sort-function="serversCtl.sortByGroup(value)" class="sorter"> -->
          <!--   {{ poolDefault.isGroupsAvailable && rbac.cluster.server_groups.read ? "group" : " " }} -->
          <!-- </span> -->
        </span>
        <span class="cbui-table-cell flex-grow-3 resp-hide-xsml">
          <span
            (click)="onSortByClick.next('services')"
            class="sorter">
            services
          </span>
        </span>
        <span class="cbui-table-cell flex-grow-half flex-basis-2 resp-hide-sml">CPU</span>
        <span class="cbui-table-cell flex-grow-half flex-basis-2 resp-hide-sml">RAM</span>
        <span class="cbui-table-cell flex-grow-half flex-basis-2 resp-hide-med">swap</span>
        <span class="cbui-table-cell resp-hide-med">disk used</span>
        <span class="cbui-table-cell resp-hide-med">items</span>
        <span class="cbui-table-cell resp-hide-sml"></span>
      </div>
      <div
        *ngFor="let node of (nodes | async); trackBy: trackByFn">
        <!-- ng-repeat="node in serversCtl.nodes.allNodes | orderBy:mnSortableTable.sortableTableProperties.orderBy:mnSortableTable.sortableTableProperties.invert | mnServersListFilter:serversCtl.filterField:serversCtl.getGroupsByHostname track by node.otpNode" -->
        <mn-servers-item [node]="node"></mn-servers-item>
      </div>

    </div>
  </div>


</div>
