<!--
Copyright 2018-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<mn-element-cargo
  depot="alerts"
  *ngIf="!(isRebalancing | async)">
  <div
    class="alert alert-warning"
    *ngFor="let warning of (failoverWarnings | async)"
    [ngSwitch]="warning">
    <p *ngSwitchCase="'rebalanceNeeded'">
      Warning: Rebalance required, some data is not currently replicated.</p>
    <p *ngSwitchCase="'hardNodesNeeded'">
      Warning: At least two servers with the data service are required to provide replication.
    </p>
    <p *ngSwitchCase="'softNodesNeeded'">
      Warning: Additional active servers required to provide the desired number of replicas.
    </p>
    <p *ngSwitchCase="'softRebalanceNeeded'">
      Warning: Rebalance recommended, some data does not have the desired replicas configuration.
    </p>
  </div>

  <div
    class="alert alert-warning"
    hidden
    [hidden]="(isNotCompatMode | async) || (toggleFailoverWarning.state | async)">
    <p>This cluster contains multiple server versions and is running in {{prettyClusterCompat | async}} compatibility mode.</p>
    <a (click)="toggleFailoverWarning.click.next()" class="close">X</a>
  </div>
  <div
    class="alert alert-warning"
    hidden
    [hidden]="!(isLoadingSampleBucket | async)">
    <p>Warning: Rebalance is not available until data loading is completed.</p>
  </div>
  <div
    class="alert alert-warning"
    hidden
    [hidden]="!(settingsRead | async) || !(getAutoFailover | async)?.count">
    <p>A server was automatically failed over.</p>
    <a
      [hidden]="!(settingsWrite | async)"
      (click)="resetAutofaiover.submit.next()">Reset Quota</a>
  </div>
</mn-element-cargo>

<mn-element-cargo depot="actions">
  <div class="header-controls resp-sml">
    <!-- ui-sref="app.admin.servers.list.groups" -->
    <a
      [hidden]="(isRebalancing | async) ||
                !(isEnterprise | async) ||
                !(serverGroupsRead | async)"
      class="resp-hide-sml">
      GROUPS
    </a>
    <a
      [hidden]="!(poolsWrite | async) ||
                !(tasksRead | async) ||
                (isRebalancing | async)"
      [attr.disabled]="(tasksRead | async) && ((isRecoveryMode | async) ||
                       (activeNodesWithoutEjected | async)?.length == 1 ? true : null)"
      class="resp-hide-sml">
      <!-- convert a into button in order to use disabled instead of [attr.disabled]-->
      <!-- (click)="serversCtl.multipleFailoverDialog()" -->
      FAILOVER
    </a>

    <a
      [hidden]="(isRebalancing | async) || !(poolsWrite | async)"
      class="resp-hide-sml"
      (click)="onAddServer.next()">
      ADD SERVER
    </a>
  </div>
</mn-element-cargo>

  <!-- mn-spinner="!serversCtl.nodes || (rbac.cluster.tasks.read && !adminCtl.tasks) || (rbac.cluster.server_groups.read && !serversCtl.getGroupsByHostname)" -->
<div min-height="300px">
  <div class="row">
    <mn-search-field
      class="row filter-server"
      mnPlaceholder="filter servers..."
      [mnFormGroup]="formHelper">
    </mn-search-field>

    <div [hidden]="!(tasksRead | async)">
      <button
        [hidden]="!(poolsWrite | async) || (isRebalancing | async)"
        [disabled]="(isRecoveryMode | async) ||
                    (!(ejectedNodesLength | async) && (isBalanced | async)) ||
                    (isUnhealthyActiveNodesWithoutEjected | async) ||
                    (isLoadingSampleBucket | async) ||
                    (isOrphanBucket | async)"
        class="orange margin-left-half resp-sml"
        (click)="postRebalance.submit.next()">Rebalance</button>
      <button
        class="orange"
        [hidden]="!(isRebalancing | async) || !(poolsWrite | async)"
        (click)="stopRebalance.submit.next()">
        <span [hidden]="!(isSubtypeGraceful | async)">Stop Failover</span>
        <span [hidden]="(isSubtypeGraceful | async)">Stop Rebalance</span>
      </button>
      <button
        [hidden]="!(isRecoveryMode | async) || !(bucketRecoveryWrite | async)"
        class="orange">Stop Recovery</button>
      <!-- ng-click="serversCtl.onStopRecovery()" -->
    </div>
  </div>

  <div>
    <div class="cbui-table margin-top-half">
      <div class="cbui-table-header">
        <span class="cbui-table-cell flex-grow-2-5">
          <span
            class="sorter margin-right-4"
            (click)="onSortByClick.next('hostname')">
            name
          </span>
        </span>
        <span class="cbui-table-cell flex-grow-1-5">
          <!-- <span mn-sortable-title="group" sort-function="serversCtl.sortByGroup(value)" class="sorter"> -->
          <!--   {{ poolDefault.isGroupsAvailable && rbac.cluster.server_groups.read ? "group" : " " }} -->
          <!-- </span> -->
        </span>
        <span class="cbui-table-cell flex-grow-3 resp-hide-xsml">
          <span
            (click)="onSortByClick.next('services')"
            class="sorter">
            services
          </span>
        </span>
        <span class="cbui-table-cell flex-grow-half flex-basis-2 resp-hide-sml">CPU</span>
        <span class="cbui-table-cell flex-grow-half flex-basis-2 resp-hide-sml">RAM</span>
        <span class="cbui-table-cell flex-grow-half flex-basis-2 resp-hide-med">swap</span>
        <span class="cbui-table-cell resp-hide-med">disk used</span>
        <span class="cbui-table-cell resp-hide-med">items</span>
        <span class="cbui-table-cell resp-hide-sml"></span>
      </div>
      <div
        *ngFor="let node of (nodes | async); trackBy: trackByFn">
        <!-- ng-repeat="node in serversCtl.nodes.allNodes | orderBy:mnSortableTable.sortableTableProperties.orderBy:mnSortableTable.sortableTableProperties.invert | mnServersListFilter:serversCtl.filterField:serversCtl.getGroupsByHostname track by node.otpNode" -->
        <mn-servers-item [node]="node"></mn-servers-item>
      </div>

    </div>
  </div>


</div>
