{erl_first_files, ["src/ns_log_categorizing.erl",
                   "src/replicated_storage.erl",
                   "src/json_settings_manager.erl",
                   "src/memcached_cfg.erl"
                   ]}.

{erl_opts, [{src_dirs, ["src"]},
            {parse_transform, ale_transform}, warnings_as_errors]}.

%% Note: Using a specific commit for pc here because plugins don't get to
%%       the rebar.lock file. Normally this should be the most recent commit
%%       in the couchbase-master branch.
{plugins, [{pc, {git, "https://github.com/couchbasedeps/port_compiler.git", {ref, "03e7c2"}}}]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean,   {pc, clean}}
    ]}
]}.

{port_specs, [{"priv/cb_openssl_nif.so", ["c_src/*.c"]}]}.

{port_env, [
    {"ERL_LDFLAGS", "-L$ERL_EI_LIBDIR -lei"},

    {"darwin", "CFLAGS", "$CFLAGS -fPIC -O3 -std=c99 -finline-functions -Wall -Wmissing-prototypes -Wno-nullability-completeness -I ${OSX_SYSROOT}/usr/include -I ${OPENSSL_INCLUDE_DIR}"},
    {"darwin", "CXXFLAGS", "$CXXFLAGS -fPIC -O3 -finline-functions -Wall -I ${CMAKE_OSX_SYSROOT}/usr/include -I ${OPENSSL_INCLUDE_DIR}"},
    {"darwin", "LDFLAGS", "$LDFLAGS -flat_namespace -undefined suppress -L ${OSX_SYSROOT}/usr/lib -lcrypto -L ${OPENSSL_LIB_DIR} -Wl,-rpath,${OPENSSL_LIB_DIR}"},

    {"linux", "CFLAGS", "$CFLAGS -fPIC -O3 -std=c99 -finline-functions -Wall -Wmissing-prototypes -I ${OPENSSL_INCLUDE_DIR}"},
    {"linux", "CXXFLAGS", "$CXXFLAGS -fPIC -O3 -finline-functions -Wall -I ${OPENSSL_INCLUDE_DIR}"},
    {"linux", "LDFLAGS", "$LDFLAGS -lcrypto -L ${OPENSSL_LIB_DIR} -Wl,-rpath,${OPENSSL_LIB_DIR}"},

    {"win32", "CFLAGS", "$CFLAGS /LD /O2 /DNDEBUG /I$OPENSSL_INCLUDE_DIR"},
    {"win32", "LDFLAGS", "$LDFLAGS ${OPENSSL_CRYPTO_LIBRARY}"}
]}.
