<label>On-Demand Pricing</label>
<div class="formrow">
  <input
     type="checkbox"
     id="odp_enabled"
     ng-model="settingsODPCtl.odpSettings.reporting_enabled">
  <label for="odp_enabled" class="margin-right-zero">Enable on-demand pricing </label>
  <span
     class="fa-stack icon-info"
     uib-tooltip="With On-Demand Pricing you pay for Couchbase usage based on
                  the number of nodes, cores, and RAM available to the cluster.
                  This configuration data will be updated hourly. On-Demand Pricing
                  requires an ID and authorization token obtained from Couchbase Sales."
     tooltip-placement="auto right">
    <span class="icon fa-circle-thin fa-stack-2x"></span>
    <span class="icon fa-info fa-stack-1x"></span>
  </span>
</div>
<div class="formrow">
  <label>On-Demand Pricing ID</label>
  <input
     id="odp_id"
     type="text"
     ng-disabled="!settingsODPCtl.odpSettings.reporting_enabled"
     autocorrect="off"
     spellcheck="false"
     autocapitalize="off"
     maxlength="256"
     ng-model="settingsODPCtl.odpSettings.contract_id">
</div>
<div class="formrow">
  <label>Authorization Token</label>
  <input
     id="odp_token"
     type="text"
     ng-disabled="!settingsODPCtl.odpSettings.reporting_enabled"
     autocorrect="off"
     spellcheck="false"
     autocapitalize="off"
     maxlength="256"
     ng-model="settingsODPCtl.odpSettings.customer_token">
</div>

<div ng-show="settingsODPCtl.odpSettings.reporting_enabled">
  <span class="error" ng-show="settingsODPCtl.errors">
    <span class="icon fa-warning"></span>
    {{settingsODPCtl.errors}}
  </span>
  <span class="success" ng-show="!settingsODPCtl.errors && settingsODPCtl.valid">
    <span class="icon fa-check"></span>
    On-Demand Pricing enabled and updating
  </span>
</div>
