<!--
Copyright 2015-Present Couchbase, Inc.

Use of this software is governed by the Business Source License included in
the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
file, in accordance with the Business Source License, use of this software will
be governed by the Apache License, Version 2.0, included in the file
licenses/APL2.txt.
-->

<div>
  <h5>Warmup Progress</h5>
  <hr>
  <div class="column indent-1 text-smaller" ng-init="limitTo = 3">
    <div ng-repeat="task in warmUpTasks | orderBy:sortBy | limitTo:limitTo">
      <span title="task[$parent.sortBy]" class="ellipsis">{{task[$parent.sortBy]}}</span>
      <span>{{task | formatWarmupMessage}}</span>
    </div>
    <a
       ng-show="warmUpTasks.length > 3 && limitTo === 3"
       ng-click="limitTo = undefined; $event.stopPropagation();">... more</a>
    <a
       ng-show="warmUpTasks.length > 3 && limitTo === undefined"
       ng-click="limitTo = 3; $event.stopPropagation();">less</a>
  </div>
</div>
