<div class="dialog-lg">
  <div class="panel-header">
    <h2>Chart Builder</h2>
  </div>
  <form
    class="forms"
    mn-spinner="chartBuilderCtl.viewLoading"
    ng-submit="chartBuilderCtl.create()">
    <div class="panel-content">
      <div class="row">
        <a ng-repeat="(name, block) in chartBuilderCtl.statsDirectoryBlocks track by name"
           ng-if="chartBuilderCtl.filterStats(name)"
           ng-class="{selected: chartBuilderCtl.selectedBlock == name}"
           ng-click="chartBuilderCtl.selectTab(name)">
          {{name | mnFormatStatsSections | mnFormatServices}}
        </a>
      </div>

      <div>
        <ui-select
          ng-if="chartBuilderCtl.statsDirectoryBlocks[chartBuilderCtl.selectedBlock + '-' + chartBuilderCtl.newChart.bucket]"
          style="width:200px"
          class="cbui-select"
          ng-model="chartBuilderCtl.newChart.bucket"
          theme="selectize"
          ng-disabled="!rbac.bucketNames['.stats!read'].length"
          on-select="chartBuilderCtl.onSelectBucket($item)">
          <ui-select-match
            class="ui-select-match">{{$select.selected}}</ui-select-match>
          <ui-select-choices
            class="ui-select-choices"
            repeat="name in rbac.bucketNames['.stats!read'] | filter: $select.search">
            <span class="select-item ellipsis" ng-bind-html="name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>

        <ui-select
          ng-if="chartBuilderCtl.statsDirectoryBlocks[chartBuilderCtl.selectedBlock + '-' + chartBuilderCtl.newChart.bucket]['@items']"
          style="width:200px"
          class="cbui-select"
          ng-model="chartBuilderCtl.groupItem"
          theme="selectize"
          ng-disabled="!rbac.bucketNames['.stats!read'].length">
          <ui-select-match
            class="ui-select-match">{{$select.selected.key}}</ui-select-match>
          <ui-select-choices
            class="ui-select-choices"
            repeat="stat.key as (key, stat) in chartBuilderCtl.statsDirectoryBlocks[chartBuilderCtl.selectedBlock + '-' + chartBuilderCtl.newChart.bucket]['@items'] | filter: {'key':$select.search}">
            <span class="select-item ellipsis" ng-bind-html="stat.key | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>

        <div ng-if="chartBuilderCtl.selectedBlock == '@kv'">
          <div class="formrow checkbox-list"
               ng-repeat="(name, _) in chartBuilderCtl.kvGroups">
            <input
              id="kv-filter-{{name}}"
              type="checkbox"
              ng-model="chartBuilderCtl.selectedKVFilters[name]">
            <label
              for="kv-filter-{{name}}"
              class="checkbox">{{name}}</label>
          </div>

          <div ng-repeat="(name1, group) in chartBuilderCtl.kvGroups">
            <div ng-repeat="name in group"
                 ng-if="chartBuilderCtl.selectedKVFilters[name1]">
              <input
                id="stat-{{name}}-checkbox"
                type="checkbox"
                ng-true-value="'{{chartBuilderCtl.selectedBlock + '-' + '.' + name}}'"
                ng-change="chartBuilderCtl.onStatChecked(
                           chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-'][name],
                           chartBuilderCtl.newChart.stats[name],
                           [chartBuilderCtl.selectedBlock, chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-'][name].title]
                           )"
                ng-disabled="chartBuilderCtl.maybeDisableField(chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-'][name], name)"
                ng-model="chartBuilderCtl.newChart.stats[name]">
              <label for="stat-{{name}}-checkbox"
                     ng-attr-title="{{chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-'][name].desc}}">
                {{::chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + "-"][name].title}}</label>
              <small>
                ({{::chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + "-"][name].unit}})</small>
            </div>
          </div>
        </div>

        <div
          ng-repeat="(name, stat) in chartBuilderCtl.statsDirectoryBlocks[chartBuilderCtl.selectedBlock + '-' + chartBuilderCtl.newChart.bucket]['@items'][chartBuilderCtl.groupItem]"
          ng-if="chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-']['@items'][name]"
          ng-style="{opacity: chartBuilderCtl.maybeDisableField(chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-']['@items'][name], name) ? '0.3' : '1'}">
          <input
            id="stat-{{name}}-checkbox"
            type="checkbox"
            ng-true-value="'{{chartBuilderCtl.selectedBlock + '-' + '.' + '@items' + '.' + name}}'"
            ng-change="chartBuilderCtl.onStatChecked(
                       chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-']['@items'][name],
                       chartBuilderCtl.newChart.stats[chartBuilderCtl.groupItem + '/' + name],
                       [chartBuilderCtl.selectedBlock, chartBuilderCtl.groupItem, chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-']['@items'][name].title]
                       )"
            ng-disabled="chartBuilderCtl.maybeDisableField(chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-']['@items'][name], name)"
            ng-model="chartBuilderCtl.newChart.stats[chartBuilderCtl.groupItem + '/' + name]">
          <label for="stat-{{name}}-checkbox">
            {{::chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + "-"]["@items"][name].title}}</label>
          <small>({{::chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + "-"]["@items"][name].unit}})</small>
        </div>

        <div
          ng-repeat="(name, stat) in chartBuilderCtl.statsDirectoryBlocks[chartBuilderCtl.selectedBlock + '-' + chartBuilderCtl.newChart.bucket]"
          ng-if="chartBuilderCtl.selectedBlock !== '@kv' && chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-'][name] && name !== '@items'"
          ng-style="{opacity: chartBuilderCtl.maybeDisableField(chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-'][name], name) ? '0.3' : '1'}">
          <input
            id="stat-{{name}}-checkbox"
            type="checkbox"
            ng-true-value="'{{chartBuilderCtl.selectedBlock + '-' + '.' + name}}'"
            ng-change="chartBuilderCtl.onStatChecked(
                       chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-'][name],
                       chartBuilderCtl.newChart.stats[name],
                       [chartBuilderCtl.selectedBlock, chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-'][name].title]
                       )"
            ng-disabled="chartBuilderCtl.maybeDisableField(chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-'][name], name)"
            ng-model="chartBuilderCtl.newChart.stats[name]">
          <label for="stat-{{name}}-checkbox"
                 ng-attr-title="{{chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + '-'][name].desc}}">
            {{::chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + "-"][name].title}}</label>
          <small>
            ({{::chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock + "-"][name].unit}})</small>
        </div>

        <div
          ng-repeat="(name, stat) in chartBuilderCtl.statsDirectoryBlocks[chartBuilderCtl.selectedBlock] track by name"
          ng-if="chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock][name] && name !== '@items'"
          ng-style="{opacity: chartBuilderCtl.maybeDisableField(chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock][name], name) ? '0.3' : '1'}">
          <input
            id="stat-{{name}}-checkbox"
            type="checkbox"
            ng-true-value="'{{chartBuilderCtl.selectedBlock + '.' + name}}'"
            ng-change="chartBuilderCtl.onStatChecked(
                       chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock][name],
                       chartBuilderCtl.newChart.stats[name],
                       [chartBuilderCtl.selectedBlock, chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock][name].title]
                       )"
            ng-disabled="chartBuilderCtl.maybeDisableField(chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock][name], name)"
            ng-model="chartBuilderCtl.newChart.stats[name]">
          <label for="stat-{{name}}-checkbox">
            {{chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock][name].title}}</label>
          <!-- ng-true-value="{{stat | json}}" -->
          <!-- {{::stat.title}} -  -->
          <small>
            ({{::chartBuilderCtl.statsDesc[chartBuilderCtl.selectedBlock][name].unit}})</small>
        </div>
      </div>

      <h4 class="margin-top-1">Selected Stats:</h4>
      <div ng-repeat="(breadcrumb, _val) in chartBuilderCtl.breadcrumbs">
        {{breadcrumb}}
      </div>

      <h4 class="margin-top-1">Show Data For:</h4>
      <div class="formrow checkbox-list">
        <input
          type="radio"
          id="for-whole-cluster"
          ng-model="chartBuilderCtl.newChart.specificStat"
          name="specificStat"
          ng-change="chartBuilderCtl.onSpecificChecked()"
          value="false">
        <label for="for-whole-cluster">whole cluster</label> <!--  default value -->
        <input
          type="radio"
          id="for-individual-nodes"
          ng-model="chartBuilderCtl.newChart.specificStat"
          ng-change="chartBuilderCtl.onSpecificChecked()"
          name="specificStat"
          value="true">
        <label for="for-individual-nodes">individual nodes</label>
      </div>

      <h4 class="margin-top-1">Chart Size</h4>
      <select ng-model="chartBuilderCtl.newChart.size">
        <option value="small">S</option>
        <option value="medium">M</option>
        <option value="large">L</option>
      </select>

      <h4 class="margin-top-1">Group</h4>
      <select ng-model="chartBuilderCtl.newChart.group">
        <option
          ng-repeat="group in chartBuilderCtl.groups"
          value="{{group.id}}">{{group.name}}</option>
      </select>
    </div>

    <div class="panel-footer">
      <a href="" ng-click="$dismiss()">Cancel</a>
      <button type="submit">Display Selected Stat<span ng-show="!chartBuilderCtl.newChart.specificStat">s</span></button>
    </div>
  </form>
</div>
