{deps, [
        {chronicle, {git, "https://github.com/couchbase/chronicle.git",
                     {branch, "master"}}}
       ]}.

{escript_main_app, config_remap}.
{escript_name, config_remap}.
{escript_emu_args, "%%! -escript main config_remap\n"}.

{erl_opts, [debug_info, warn_export_vars,
            {i, ["src"]},
            {parse_transform, ale_transform}]}.

{provider_hooks,
    [{post, [{compile, escriptize}]}]}.

{artifacts, ["{{profile_dir}}/bin/config_remap"]}.
