<div class="formrow checkbox-list">
  <input
     type="checkbox"
     id="for-xdcr-advanced-filtering"
     ng-model="mnReplication.enableAdvancedFiltering">
  <label for="for-xdcr-advanced-filtering">
    Enable advanced filtering
  </label>
</div>

<div ng-if="mnReplication.enableAdvancedFiltering">
  <div class="margin-bottom-1-5">
    <label class="inline">Filter Expression</label>
    <span
       class="fa-stack icon-info"
       uib-tooltip="You may filter for values and x-attributes in addition to key names.
       If the filter matches, the document will be replicated; otherwise the document
       won’t be replicated. See the XDCR documentation for possible filter expressions
       (NOTE: regex pattern-matching and many N1QL statements are supported, but there
       are some unique aspects to the XDCR filtering language). You may test if your
       filter expression matches a document by entering its ID in the test field below."
       tooltip-placement="right">
      <span class="icon fa-circle-thin fa-stack-2x"></span>
      <span class="icon fa-info fa-stack-1x"></span>
    </span>
    <textarea
       ng-model="mnReplication.filterExpression"
       rows="4"
       autocorrect="off"
       autocompleterg="off"
       spellcheck="false"
       class="xdcr-filter margin-bottom-half">
    </textarea>
    <div ng-if="mnIsEditing" class="xdcr-filter-stream formrow">
      <strong>After saving filter changes</strong>&nbsp;&nbsp;
      <input
         type="radio"
         value="false"
         id="for-save-restart-replication"
         ng-model="mnReplication.filterSkipRestream">
      <label for="for-save-restart-replication">restart replication</label>
      <input
         type="radio"
         value="true"
         id="for-save-continue-replicating"
         ng-model="mnReplication.filterSkipRestream">
      <label for="for-save-continue-replicating">continue replicating</label>
    </div>
    <div class="formrow form-inline">
      <input
         type="checkbox"
         value="index"
         id="for-do-not-replicate-ttl"
         ng-model="mnReplication.filterExpiration">
      <label for="for-do-not-replicate-ttl">
        Do not replicate TTL
      </label>
      <span
         class="fa-stack icon-info"
         uib-tooltip="Destination items will have no TTL and source
                      expirations will not be replicated."
         tooltip-placement="right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
    </div>
    <div class="formrow form-inline">
      <input
         type="checkbox"
         value="index"
         id="for-do-not-replicate-delete"
         ng-model="mnReplication.filterDeletion">
      <label for="for-do-not-replicate-delete">
        Do not replicate Delete operations
      </label>
      <span
         class="fa-stack icon-info"
         uib-tooltip="application-level deletes will not be replicated."
         tooltip-placement="right">
        <span class="icon fa-circle-thin fa-stack-2x"></span>
        <span class="icon fa-info fa-stack-1x"></span>
      </span>
    </div>
    <div class="row margin-bottom-half">
      <input
         ng-model="xdcrFilterCtl.testDocID"
         type="text"
         autocorrect="off"
         autocompleterg="off"
         spellcheck="false"
         placeholder="id of document to test..."
         class="margin-right-half">
      <button
         type="button"
         class="outline"
         ng-disabled="xdcrFilterCtl.filterExpressionSpinner"
         ng-click="xdcrFilterCtl.onExpressionUpdate()">
        Test Filter
      </button>
      <div
         class="xdcrfilter-matching"
         ng-class="{dynamic_match: xdcrFilterCtl.filterExpressionResult.data.result,
                   dynamic_spinner: xdcrFilterCtl.filterExpressionSpinner,
                   hidden: xdcrFilterCtl.filterExpressionResult == null}">
        <span class="xdcrfilter-nomatch">no match</span>
        <span class="xdcrfilter-loading loading">...</span>
        <span class="xdcrfilter-match">match</span>
      </div>
    </div>

    <div class="error"
         ng-show="xdcrFilterCtl.filterExpressionResult.data.error ||
                  xdcrFilterCtl.filterExpressionError ||
                  mnErrors.filterExpression">
      {{xdcrFilterCtl.filterExpressionResult.data.error ||
      xdcrFilterCtl.filterExpressionError ||
      mnErrors.filterExpression}}
    </div>
  </div>
</div>
