<div class="panel-header">
  <h2>Modal Chart</h2>
</div>
<div class="panel-content">
  <div class="row">
    <div class="chart-title cursor-pointer"
         tooltip-append-to-body="true"
         uib-tooltip-html="'{{chartFocusDialogCtl.desc}}'"
         tooltip-trigger="'mouseenter'"
         tooltip-placement="auto right">
      {{chartFocusDialogCtl.title}}
    </div>
    <span class="text-right">
      <select ng-model="chartFocusDialogCtl.selectedZoom"
              ng-change="chartFocusDialogCtl.onSelectZoom(chartFocusDialogCtl.selectedZoom)">
        <option value="3600000">hour</option>
        <option value="86400000">day</option>
        <option value="604800000">week</option>
        <option value="2628000000">month</option>
      </select>
    </span>
  </div>
  <nvd3
    api="chartFocusDialogCtl.chartApi"
    options="chartFocusDialogCtl.chartOptions"
    data="chartFocusDialogCtl.chartData"
    ></nvd3>
</div>

<div class="panel-footer">
  <a ng-click="$dismiss()">Cancel</a>
</div>
