<div class="row flex-left margin-bottom-half">
  <div class="inline margin-right-half"
       ng-controller="mnScenarioDialogController as scenarioCtrl">
    <mn-dropdown
       ng-click="$event.stopPropagation();"
       on-select="statisticsNewCtl.onSelectScenario(scenario);"
       model="statisticsNewCtl.scenario"
       class="scenario-dropdown">
      <inner-select>
        {{statisticsNewCtl.scenario.selected.name}}
      </inner-select>
      <inner-body ng-class="{'body-shorter' : scenarioCtrl.showRestOfMenu}">
        <mn-dropdown-item
           ng-repeat="scenario in statisticsNewCtl.scenarios | orderBy:'-preset' track by scenario.id"
           mn-item="scenario">
          <p>{{scenario.name}}</p>
          <p ng-if="scenario.desc">{{scenario.desc}}</p>
          <div
             ng-if="!scenario.preset"
             class="scenario-controls"
             ng-click="$event.stopPropagation();"
             title="delete/edit scenario">
            <span
               title="delete scenario"
               class="icon fa-trash"
               ng-click="scenarioCtrl.deleteScenario(scenario.id)"
               ng-show="showScenarioControls"></span>
            <span
               title="edit scenario"
               class="icon fa-edit"
               ng-click="scenarioCtrl.editScenario(scenario)"
               ng-show="showScenarioControls"></span>
            <span
               class="icon fa-ellipsis-v"
               ng-click="showScenarioControls = !showScenarioControls">
            </span>
          </div>
        </mn-dropdown-item>
      </inner-body>
      <inner-footer
>
        <form
           novalidate
           ng-submit="scenarioCtrl.onSubmit(statisticsNewCtl.scenario.selected)"
           name="form"
           class="forms">
          <div class="scenario-add" ng-class="{'scenario-add-ext' : scenarioCtrl.showRestOfMenu}">
            <input
               type="text"
               ng-model="scenarioCtrl.scenario.name"
               placeholder="new scenario..."
               autocorrect="off"
               ng-click="scenarioCtrl.showRestOfMenu = true"
               spellcheck="false"
               autocapitalize="off"
               ng-disabled="!rbac.bucketNames['.stats!read'].length">
            <span class="icon fa-plus-square" ng-show="!scenarioCtrl.showRestOfMenu"></span>
          </div>

          <input
             type="text"
             ng-model="scenarioCtrl.scenario.desc"
             placeholder="add optional description..."
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             ng-disabled="!rbac.bucketNames['.stats!read'].length"
             ng-show="scenarioCtrl.showRestOfMenu"
             class="scenario-desc">
          <div class="checkbox-list margin-bottom-half"
               ng-show="!scenarioCtrl.isEditingMode && scenarioCtrl.showRestOfMenu">
            <input
               type="radio"
               value="true"
               ng-model="scenarioCtrl.copyScenario"
               id="for-bucket-type-current">
            <label for="for-bucket-type-current">save current charts</label>
            <input
               type="radio"
               value="false"
               ng-model="scenarioCtrl.copyScenario"
               id="for-bucket-type-blank">
            <label for="for-bucket-type-blank">start blank</label>
          </div>
          <div class="scenario-save-controls" ng-show="scenarioCtrl.showRestOfMenu">
            <button type="submit">Save</button>
            <a class="width-12 text-center" ng-click="scenarioCtrl.clear()">Cancel</a>
          </div>
        </form>
      </inner-footer>
    </mn-dropdown>
  </div>

  <select
     ng-model="statisticsNewCtl.zoom"
     ng-change="statisticsNewCtl.onSelectZoom()"
     class="margin-right-half">
    <option value="minute">minute</option>
    <option value="hour">hour</option>
    <option value="day">day</option>
    <option value="week">week</option>
    <option value="month">month</option>
  </select>

  <select
     ng-model="statisticsNewCtl.selectedBucket"
     class="max-width-4"
     ng-change="statisticsNewCtl.onBucketChange(statisticsNewCtl.selectedBucket)">
    <option ng-repeat="name in rbac.bucketNames['.stats!read']" value="{{name}}">
      {{name}}
    </option>
  </select>

  <button
     ng-disabled="!statisticsNewCtl.scenarios.length"
     ng-click="statisticsNewCtl.openGroupDialog(statisticsNewCtl.scenario.selected)"
     class="tight"
     ng-hide="statisticsNewCtl.scenario.selected.preset"
     style="margin-left: auto;">
    <span class="icon fa-plus-circle"></span> Add Group
  </button>

</div>

<div class="width-12">
  <div
     ng-repeat="groupID in statisticsNewCtl.scenario.selected.groups track by ($index + groupID)"
     ng-controller="mnStatisticsGroupsController as mnStatsGroupsCtl"
     class="charts-group">
    <div
       ng-click="mnStatsGroupsCtl.isDetailsOpened = !mnStatsGroupsCtl.isDetailsOpened;"
       class="charts-group-row disclosure"
       ng-class="{disclosed: mnStatsGroupsCtl.isDetailsOpened}">
      <form novalidate
            ng-if="!mnStatsGroupsCtl.group.preset"
            style="display: inline-block;"
            ng-mouseleave="mnStatsGroupsCtl.hideGroupControls();"
            ng-click="$event.stopPropagation();"
            ng-submit="mnStatsGroupsCtl.onGroupSubmit();">
        <input
           ng-model="mnStatsGroupsCtl.group.name"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           type="text"
           class="charts-group-name"
           ng-focus="mnStatsGroupsCtl.onGroupFocus();"
           ng-blur="mnStatsGroupsCtl.onGroupNameBlur();"
           ng-attr-size="{{mnStatsGroupsCtl.group.name.length + 3}}">
        <button
           type="submit"
           title="save chart"
           class="outline icon fa-check"
           mn-focus="mnStatsGroupsCtl.focusOnSubmit"
           ng-show="mnStatsGroupsCtl.showGroupControls"
           ng-mousedown="mnStatsGroupsCtl.onControlClick = true;">
        </button>
        <span
           title="delete group"
           class="icon fa-trash"
           ng-show="mnStatsGroupsCtl.showGroupControls"
           ng-mousedown="mnStatsGroupsCtl.onGroupDelete();">
        </span>
      </form>
      <span class="charts-preset-group-name"
            ng-if="mnStatsGroupsCtl.group.preset">{{mnStatsGroupsCtl.group.name}}</span>
    </div>

    <div ng-if="mnStatsGroupsCtl.isDetailsOpened" class="row charts">
      <div
         ng-repeat="chartID in mnStatsGroupsCtl.group.charts track by ($index + chartID)"
         ng-controller="mnStatisticsChartsController as mnStatsChartsCtl"
         ng-class="'statistics-' + mnStatsChartsCtl.chart.size"
         class="panel relative">
        <div class="chart-controls"
             title="show/hide chart controls"
             ng-show="!mnStatsChartsCtl.chart.preset">
          <span
             title="delete chart"
             class="icon fa-trash"
             ng-click="mnStatsChartsCtl.deleteChart()"
             ng-show="mnStatsChartsCtl.showChartControls"></span>
          <span
             title="edit chart"
             class="icon fa-edit"
             ng-click="mnStatsChartsCtl.editChart(mnStatsGroupsCtl.group,
                       statisticsNewCtl.scenario.selected)"
             ng-show="mnStatsChartsCtl.showChartControls"></span>
          <span
             class="icon fa-ellipsis-v"
             ng-model="mnStatsChartsCtl.showChartControls"
             ng-click="mnStatsChartsCtl.showChartControls = !mnStatsChartsCtl.showChartControls"></span>
        </div>
        <mn-statistics-chart
           ng-if="!mnStatsChartsCtl.reloadChartDirective"
           style="display:block;"
           sync-scope="statisticsNewCtl.mnStatisticsNewScope"
           get-nvd3-options="mnStatsChartsCtl.getNvd3Options()"
           bucket="{{statisticsNewCtl.bucket}}"
           zoom="{{statisticsNewCtl.zoom}}"
           rbac="rbac"
           config="mnStatsChartsCtl.chart"></mn-statistics-chart>
      </div>
      <div
         class="chart-adder"
         ng-show="!statisticsNewCtl.scenario.selected.preset"
         ng-click="statisticsNewCtl.openChartBuilderDialog(
                   mnStatsGroupsCtl.group, statisticsNewCtl.scenario.selected)">
      </div>
    </div>
  </div>
  <div
     ng-if="statisticsNewCtl.scenario.selected &&
            !statisticsNewCtl.scenario.selected.groups.length"
     class="zero-content">
    No charts to display yet. Use Add Group to first add groups and then charts.<br>
    NOTE: All your changes will be auto-saved.
  </div>
</div>
