<div>
  <div class="row margin-bottom-1">
    <ui-select
      style="width:200px"
      class="cbui-select"
      ng-model="statisticsNewCtl.statisticsService.scenarios.selected"
      on-select="statisticsNewCtl.onSelectScenario($item)"
      theme="selectize">
      <ui-select-match
        class="ui-select-match">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices
        class="ui-select-choices"
        repeat="scenario as scenario in statisticsNewCtl.statisticsService.scenarios | filter: $select.search">
        <span class="select-item ellipsis"
              ng-bind-html="scenario.name | highlight: $select.search"></span>
        <small ng-bind-html="scenario.desc | highlight: $select.search"></small>
      </ui-select-choices>
    </ui-select>

    <small>
      <a ng-disabled="!statisticsNewCtl.statisticsService.scenarios.length"
         ng-click="statisticsNewCtl.openGroupDialog(
                   statisticsNewCtl.statisticsService.scenarios.selected)">Add Group</a>
      |
      <a ng-disabled="!rbac.bucketNames['.stats!read'].length"
         ng-click="statisticsNewCtl.openScenarioDialog()">Add Scenario</a>
      |
      <a ng-disabled="!statisticsNewCtl.statisticsService.scenarios.selected"
         ng-click="statisticsNewCtl.openScenarioDialog(
                   statisticsNewCtl.statisticsService.scenarios.selected)">Manage Scenario</a>
    </small>

    <select ng-model="statisticsNewCtl.statisticsService.scenarios.selected.zoom"
            ng-change="statisticsNewCtl.onSelectZoom(
                       statisticsNewCtl.statisticsService.scenarios.selected.zoom)">
      <option value="minute">minute</option>
      <option value="hour">hour</option>
      <option value="day">day</option>
      <option value="week">week</option>
      <option value="month">month</option>
    </select>

    <select ng-model="statisticsNewCtl.selectedBucket"
            ng-change="statisticsNewCtl.onBucketChange(statisticsNewCtl.selectedBucket)">
      <option ng-repeat="name in rbac.bucketNames['.stats!read']" value="{{name}}">{{name}}</option>
    </select>

  </div>
  <div style="width:100%">
    <div ng-repeat="group in statisticsNewCtl.statisticsService.scenarios.selected.groups">
      <div ng-click="isDetailsOpened = !isDetailsOpened;"
           ng-init="isDetailsOpened = true;"
           class="disclosure"
           ng-class="{disclosed: isDetailsOpened}">
        {{group.name}}
      </div>
      <div ng-if="statisticsNewCtl.isDetailsOpened(group.id)" class="row charts items-top">
        <div
          ng-repeat="config in group.charts track by config.id"
          ng-class="'statistics-' + config.size"
          mn-statistics-chart
          nodes="statisticsNewCtl.nodes"
          class="panel"
          rbac="rbac"
          config="config"></div>
        <div class="chart-adder"
             ng-click="statisticsNewCtl.openChartBuilderDialog(group)">
        </div>
      </div>
    </div>
    <div ng-show="statisticsNewCtl.statisticsService.scenarios.selected &&
                  !statisticsNewCtl.statisticsService.scenarios.selected.groups.length"
         class="zero-content">
      No charts to display yet. Use Add Group to add groups and charts.<br>
      NOTE: All your changes will be auto-saved.
    </div>
  </div>
</div>
