<div class="dialog-small">
  <div class="panel-header">
    <h2>{{scenarioDialogCtl.isNew ? 'New' : 'Edit'}}
      {{scenarioDialogCtl.isGroup ? 'Group' : 'Scenario'}}</h2>
  </div>
  <form
    ng-submit="scenarioDialogCtl.submit()"
    class="forms">
    <div class="panel-content">
      <div class="formrow">
        <label for="for-scenario-name">
          {{scenarioDialogCtl.isGroup ? 'Group' : 'Scenario'}} Name</label>
        <input
          type="text"
          id="for-scenario-name"
          autocorrect="off"
          spellcheck="false"
          autocapitalize="off"
          ng-model="scenarioDialogCtl.scenario.name">
      </div>
      <div class="formrow">
        <label for="for-scenario-description">
          {{scenarioDialogCtl.isGroup ? 'Group' : 'Scenario'}} Description</label>
        <input
          type="text"
          id="for-scenario-description"
          autocorrect="off"
          spellcheck="false"
          autocapitalize="off"
          ng-model="scenarioDialogCtl.scenario.desc">
      </div>
      <div class="panel-footer">
        <button
          ng-if="!scenarioDialogCtl.isNew"
          type="button"
          ng-click="scenarioDialogCtl.submit(true)">
          Delete
        </button>
        <a ng-click="$dismiss()">Cancel</a>
        <button
          type="submit">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
