<div class="row flex-left margin-bottom-half">
  <div class="inline margin-right-half">
    <mn-dropdown
       ng-click="$event.stopPropagation();"
       on-select="statisticsNewCtl.onSelectScenario(scenario);"
       model="statisticsNewCtl.statisticsService.scenarios"
       class="scenario-dropdown">
      <inner-select>
        {{statisticsNewCtl.statisticsService.scenarios.selected.name}}
      </inner-select>
      <inner-body ng-class="{'body-shorter' : statisticsNewCtl.scenarioCtrl.showRestOfMenu}">
        <mn-dropdown-item
           ng-repeat="scenario in statisticsNewCtl.statisticsService.scenarios | orderBy:'-preset' track by scenario.id"
           mn-item="scenario">
          <p>{{scenario.name}}</p>
          <p ng-if="scenario.desc">{{scenario.desc}}</p>
          <div
             ng-if="!scenario.preset"
             class="scenario-controls"
             ng-click="$event.stopPropagation();"
             title="delete/edit scenario">
            <span
               title="delete scenario"
               class="icon fa-trash"
               ng-click="statisticsNewCtl.scenarioCtrl.deleteScenario(scenario)"
               ng-show="showScenarioControls"></span>
            <span
               title="edit scenario"
               class="icon fa-edit"
               ng-click="statisticsNewCtl.scenarioCtrl.editScenario(scenario)"
               ng-show="showScenarioControls"></span>
            <span
              class="icon fa-ellipsis-v"
              ng-click="showScenarioControls = !showScenarioControls">
            </span>
          </div>
        </mn-dropdown-item>
      </inner-body>
      <inner-footer
         ng-controller="mnScenarioDialogController as scenarioCtrl"
         ng-init="statisticsNewCtl.scenarioCtrl = scenarioCtrl">
        <form
           novalidate
           ng-submit="scenarioCtrl.onSubmit()"
           name="form"
           class="forms">
          <div class="scenario-add" ng-class="{'scenario-add-ext' : scenarioCtrl.showRestOfMenu}">
            <input
               type="text"
               ng-model="scenarioCtrl.scenario.name"
               placeholder="new scenario..."
               autocorrect="off"
               ng-click="scenarioCtrl.showRestOfMenu = true"
               spellcheck="false"
               autocapitalize="off"
               ng-disabled="!rbac.bucketNames['.stats!read'].length">
            <span class="icon fa-plus-square" ng-show="!scenarioCtrl.showRestOfMenu"></span>
          </div>

          <input
             type="text"
             ng-model="scenarioCtrl.scenario.desc"
             placeholder="add optional description..."
             autocorrect="off"
             spellcheck="false"
             autocapitalize="off"
             ng-disabled="!rbac.bucketNames['.stats!read'].length"
             ng-show="scenarioCtrl.showRestOfMenu"
             class="scenario-desc">
          <div class="checkbox-list margin-bottom-half"
               ng-show="!scenarioCtrl.isEditingMode && scenarioCtrl.showRestOfMenu">
            <input
               type="radio"
               value="true"
               ng-model="scenarioCtrl.copyScenario"
               id="for-bucket-type-current">
            <label for="for-bucket-type-current">save current charts</label>
            <input
               type="radio"
               value="false"
               ng-model="scenarioCtrl.copyScenario"
               id="for-bucket-type-blank">
            <label for="for-bucket-type-blank">start blank</label>
          </div>
          <div class="scenario-save-controls" ng-show="scenarioCtrl.showRestOfMenu">
            <button type="submit">Save</button>
            <a class="width-12 text-center" ng-click="scenarioCtrl.clear()">Cancel</a>
          </div>
        </form>
      </inner-footer>
    </mn-dropdown>
  </div>

  <select
     ng-model="statisticsNewCtl.zoom"
     ng-change="statisticsNewCtl.onSelectZoom()"
     class="margin-right-half">
    <option value="minute">minute</option>
    <option value="hour">hour</option>
    <option value="day">day</option>
    <option value="week">week</option>
    <option value="month">month</option>
  </select>

  <select
     ng-model="statisticsNewCtl.selectedBucket"
     ng-change="statisticsNewCtl.onBucketChange(statisticsNewCtl.selectedBucket)">
    <option ng-repeat="name in rbac.bucketNames['.stats!read']" value="{{name}}">
      {{name}}
    </option>
  </select>

  <button
     ng-disabled="!statisticsNewCtl.statisticsService.scenarios.length"
     ng-click="statisticsNewCtl.openGroupDialog(statisticsNewCtl.statisticsService.scenarios.selected)"
     class="tight"
     ng-hide="statisticsNewCtl.statisticsService.scenarios.selected.preset"
     style="margin-left: auto;">
    <span class="icon fa-plus-circle"></span> Add Group
  </button>

</div>

<div class="width-12">
  <div
     ng-repeat="group in statisticsNewCtl.statisticsService.scenarios.selected.groups track by group.id"
     class="charts-group">
    <div
       ng-click="scope.isDetailsOpened = !scope.isDetailsOpened;"
       ng-init="scope.isDetailsOpened = true;"
       class="charts-group-row disclosure"
       ng-class="{disclosed: scope.isDetailsOpened}">
      <form novalidate
            ng-show="!group.preset"
            style="display: inline-block;"
            ng-mouseleave="statisticsNewCtl.hideGroupControls(scope, group);"
            ng-click="$event.stopPropagation();"
            ng-submit="scope.initName = group.name;
                       statisticsNewCtl.saveScenarios();
                       statisticsNewCtl.hideGroupControls(scope, group);
                       scope.focusOnSubmit = true;">
        <input
           ng-model="group.name"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           type="text"
           class="charts-group-name"
           ng-focus="scope.showGroupControls = true;
                     scope.initName = group.name;"
           ng-blur="statisticsNewCtl.onGroupNameBlur(scope, group)"
           ng-attr-size="{{group.name.length + 3}}">
        <button
           type="submit"
           title="save chart"
           class="outline icon fa-check"
           mn-focus="scope.focusOnSubmit"
           ng-show="scope.showGroupControls"
           ng-mousedown="scope.onControlClick = true;">
        </button>
        <span
           title="delete group"
           class="icon fa-trash"
           ng-show="scope.showGroupControls"
           ng-mousedown="scope.onControlClick = true;
                         statisticsNewCtl.deleteGroup(group);
                         statisticsNewCtl.hideGroupControls(scope, group)">
        </span>
      </form>
      <span class="charts-preset-group-name" ng-show="group.preset">{{group.name}}</span>
    </div>

    <div ng-if="scope.isDetailsOpened" class="row charts">
      <div
         ng-repeat="config in group.charts track by config.id"
         ng-class="'statistics-' + config.size"
         class="panel relative">
        <div class="chart-controls" title="show/hide chart controls" ng-show="!config.preset">
          <span
             title="delete chart"
             class="icon fa-trash"
             ng-click="statisticsNewCtl.deleteChart(config)"
             ng-show="showChartControls"></span>
          <span
             title="edit chart"
             class="icon fa-edit"
             ng-click="statisticsNewCtl.editChart(config)"
             ng-show="showChartControls"></span>
          <span
            class="icon fa-ellipsis-v"
            ng-model="showChartControls"
            ng-click="showChartControls = !showChartControls"></span>
        </div>
        <mn-statistics-chart
           style="display:block;"
           sync-scope="statisticsNewCtl.mnStatisticsNewScope"
           get-nvd3-options="statisticsNewCtl.getNvd3Options(config)"
           bucket="{{statisticsNewCtl.bucket}}"
           zoom="{{statisticsNewCtl.zoom}}"
           rbac="rbac"
           config="config"></mn-statistics-chart>
      </div>
      <div
         class="chart-adder"
         ng-show="!statisticsNewCtl.statisticsService.scenarios.selected.preset"
         ng-click="statisticsNewCtl.openChartBuilderDialog(group)">
      </div>
    </div>
  </div>
  <div
     ng-if="statisticsNewCtl.statisticsService.scenarios.selected &&
              !statisticsNewCtl.statisticsService.scenarios.selected.groups.length"
     class="zero-content">
    No charts to display yet. Use Add Group to first add groups and then charts.<br>
    NOTE: All your changes will be auto-saved.
  </div>
</div>
