<div class="panel-content">
  <mn-statistics-chart
     ng-if="!detailedChartCtl.reloadChartDirective"
     bucket="{{detailedChartCtl.bucket}}"
     zoom="{{detailedChartCtl.zoom}}"
     node="{{detailedChartCtl.node || 'all'}}"
     mn-d3="detailedChartCtl.options"
     rbac="rbac"
     items="detailedChartCtl.items"
     config="detailedChartCtl.chart"></mn-statistics-chart>
</div>

<div class="row flex-center relative search-filter-focus margin-bottom-1-5 margin-top-half">

    <select ng-model="detailedChartCtl.zoom"
            ng-change="detailedChartCtl.onSelectZoom()">
      <option value="minute">minute</option>
      <option value="hour">hour</option>
      <option value="day">day</option>
      <option value="week">week</option>
      <option value="month">month</option>
    </select>

  <span class="desc margin-left-half">
    Choose a time range to display in the focus bar above. Click and drag in
    the focus bar to select a custom range for the main chart.
  </span>
</div>
