<mn-element-cargo depot="alerts">
  <div
     class="interim alert alert-warning"
     ng-repeat="message in gsiCtl.state.warnings">
    <p>Warning: {{message}}</p>
  </div>
</mn-element-cargo>

<div mn-spinner="!gsiCtl.state">

  <div class="row flex-left margin-top-half">
    <span class="text-smaller">
      view by
    </span>
    <div class="simple-select">
      <select ng-model="viewby" ng-init="viewby = 'viewby_node'" class="margin-left-half">
        <option value="viewby_node">server node</option>
        <option value="viewby_bucket">bucket</option>
        <option value="viewby_index">index</option>
      </select>
    </div>
    <div
       class="row  margin-left-1"
       mn-placeholder="filter indexes..."
       mn-hide-button="true"
       mn-search="gsiCtl.filterField">
    </div>
  </div>

  <div ng-if="gsiCtl.state.indexes.length">
    <div
       ng-if="viewby == 'viewby_node'"
       ng-repeat="(nodeName, group) in gsiCtl.state.nodes track by nodeName">
      <h4 class="margin-top-1-5">{{nodeName}}</h4>
      <mn-gsi-table
         list="group"
         rbac="rbac"
         pools="pools"
         hide-column="node"
         filter-field="gsiCtl.filterField">
      </mn-gsi-table>
    </div>

    <div
       ng-if="viewby == 'viewby_bucket'"
       ng-repeat="(bucketName, group) in gsiCtl.state.groups track by bucketName">
      <h4 class="margin-top-1-5">{{bucketName}}</h4>
      <mn-gsi-table
         list="group"
         rbac="rbac"
         pools="pools"
         hide-column="bucket"
         filter-field="gsiCtl.filterField">
      </mn-gsi-table>
    </div>

    <mn-gsi-table
       ng-if="viewby == 'viewby_index'"
       list="gsiCtl.state.indexes"
       rbac="rbac"
       pools="pools"
       filter-field="gsiCtl.filterField">
    </mn-gsi-table>
  </div>

  <div ng-if="!gsiCtl.state.indexes.length" class="zero-content">
    You have no GSI indexes yet.
  </div>

</div>
