<div class="cbui-table" mn-sortable-table>
  <div class="cbui-table-header">
    <span class="cbui-table-cell flex-grow-1-5">
      <span
         mn-sortable-title="index"
         sort-by-default="true"
         class="sorter">index name</span>
    </span>
    <span class="cbui-table-cell"
          ng-if="mnGsiTableCtl.hideColumn !== 'bucket'">
      <span
         mn-sortable-title="bucket"
         class="sorter">bucket</span>
    </span>
    <span class="cbui-table-cell"
          ng-if="mnGsiTableCtl.hideColumn !== 'node'">
      <span
         mn-sortable-title="hosts[0]"
         class="sorter">node</span>
    </span>
    <span class="cbui-table-cell">
      <span
         mn-sortable-title="storageMode | mnFormatStorageMode:mnGsiTableCtl.pools.isEnterprise"
         class="sorter">storage type</span>
    </span>
    <span class="cbui-table-cell flex-grow-half">build progress</span>
  </div>
  <section
     ng-repeat="row in mnGsiTableCtl.list
                | orderBy:mnSortableTable.sortableTableProperties.orderBy
                : mnSortableTable.sortableTableProperties.invert
                | filter:mnGsiTableCtl.filterField
                as listFiltered
                track by mnGsiTableCtl.generateIndexId(row)"
     ng-class="{
               'disabled-tag': row.awaitingRemoval,
               'dynamic_healthy': row.status == 'Ready' && mnGsiTableCtl.isDetailsOpened(mnGsiTableCtl.generateIndexId(row)),
               'dynamic_unhealthy': row.status !== 'Ready' && mnGsiTableCtl.isDetailsOpened(mnGsiTableCtl.generateIndexId(row))
               }"
     ng-click="mnGsiTableCtl.toggleDetails(mnGsiTableCtl.generateIndexId(row))"
     class="has-hover">
    <div
       class="cbui-tablerow"
       ng-class="{
                 'dynamic_healthy': row.status == 'Ready' && !mnGsiTableCtl.isDetailsOpened(mnGsiTableCtl.generateIndexId(row)),
                 'dynamic_unhealthy': row.status !== 'Ready' && !mnGsiTableCtl.isDetailsOpened(mnGsiTableCtl.generateIndexId(row))
                 }">
      <span
         class="cbui-table-cell flex-grow-1-5"
         title="{{row.index}}">
        {{row.index}}<span
                        class="label lt-blue"
                        ng-if="row.partitioned">partitioned</span></span>
      <span
         ng-if="mnGsiTableCtl.hideColumn !== 'bucket'"
         class="cbui-table-cell">
        {{row.bucket}}</span>
      <span
         ng-if="mnGsiTableCtl.hideColumn !== 'node'"
         class="cbui-table-cell"
         title="{{row.hosts.join(', ')}}">
        {{row.hosts.join(', ')}}</span>
      <span class="cbui-table-cell">
        {{row.storageMode | mnFormatStorageMode:mnGsiTableCtl.pools.isEnterprise}}</span>
      <span class="cbui-table-cell flex-grow-half">
        <span ng-show="row.status == 'Replicating'">Replicating</span>
        <span ng-show="row.progress">{{row.progress}}%</span>
      </span>
    </div>
    <div
       class="cbui-tablerow-expanded"
       ng-if="mnGsiTableCtl.isDetailsOpened(mnGsiTableCtl.generateIndexId(row))">
      <div
         class="content-box cursor-auto"
         ng-click="$event.stopPropagation();">
        <p><strong>Definition</strong><br>{{row.definition}}</p>
        <p ng-show="row.hosts.length > 1"><strong>Nodes</strong><br>{{row.hosts.join(', ')}}</p>
        <button
           class="outline"
           ui-sref="app.admin.query.workbench({query: row.definition})">
          Open in Workbench
        </button>
        <span
           ng-if="mnGsiTableCtl.hasQueryService() &&
                  mnGsiTableCtl.rbac.cluster.bucket[row.bucket].n1ql.select.execute">
          <!-- blank spaces in index name mean replica, can't drop -->
          <button
             ng-show="row.index.indexOf(' ') == -1"
             class="outline"
             ng-click="mnGsiTableCtl.dropIndex(row)">Drop</button>
        </span>
      </div>
    </div>
  </section>
  <div ng-if="!listFiltered.length" class="zero-content text-left">no result</div>
</div>
