<div class="indent-1 cursor-auto">
  <div class="row items-top margin-bottom-1">
    <div class="margin-right-half">
      <div ng-click="$event.stopPropagation();">
        <strong>Definition</strong> &nbsp;{{row.definition}}
      </div>
      <div>
        <strong>Storage Mode</strong> &nbsp;{{row.storageMode | mnFormatStorageMode:mnGsiTableCtl.pools.isEnterprise}} &nbsp;
        <span ng-show="row.hosts.length > 1" class="margin-bottom-0">
          <strong>Nodes</strong> &nbsp; {{mnGsiItemDetailsCtl.hosts}}
        </span>
      </div>
    </div>
    <div class="nowrap margin-right-1">
      <button
         class="outline"
         ui-sref="app.admin.query.workbench({query: row.definition})">
        Open in Workbench
      </button>
      <button
         ng-if="rbac.cluster.bucket[row.bucket].n1ql.select.execute"
         class="outline"
         ng-click="mnGsiItemDetailsCtl.dropIndex(row)">Drop</button>
    </div>
  </div>
  <mn-detail-stats
     bucket="{{row.bucket}}"
     title="Index Stats"
     item-id="{{row.index}}"
     service="index"
     ></mn-detail-stats>
  <!-- nodes="statisticsNewCtl.nodes" -->
</div>
