<div class="indent-1 cursor-auto">
  <div class="row items-top margin-bottom-1">
    <div class="margin-right-half">
      <div ng-click="$event.stopPropagation();">
        <strong>Definition</strong> &nbsp;{{row.definition}}
      </div>
      <div>
        <strong>Storage Mode</strong> &nbsp;{{row.storageMode | mnFormatStorageMode:mnGsiTableCtl.pools.isEnterprise}} &nbsp;
        <span ng-show="row.hosts.length > 1" class="margin-bottom-0">
          <strong>Nodes</strong> &nbsp; {{mnGsiItemDetailsCtl.hosts}}
        </span>
      </div>
    </div>
    <div class="nowrap margin-right-1">
      <button
         class="outline"
         ui-sref="app.admin.query.workbench({query: row.definition})">
        Open in Workbench
      </button>
      <button
         ng-if="rbac.cluster.bucket[row.bucket].n1ql.select.execute"
         class="outline"
         ng-click="mnGsiItemDetailsCtl.dropIndex(row)">Drop</button>
    </div>
  </div>
  <div ng-controller="mnGsiItemStatsController as gsiItemStatsCtl">
    <div class="row flex-left min-height-2">
      <h5
         class="disclosure inline margin-right-1"
         ng-class="{'disclosed' : showStats}"
         ng-click="showStats = !showStats; $event.stopPropagation();">
        Index Stats
      </h5>
      <select
         ng-if="showStats"
         ng-model="gsiItemStatsCtl.zoom"
         ng-change="gsiItemStatsCtl.onSelectZoom()"
         ng-click="$event.stopPropagation();">
        <option value="minute">minute</option>
        <option value="hour">hour</option>
        <option value="day">day</option>
        <option value="week">week</option>
        <option value="month">month</option>
      </select>
    </div>
    <div ng-if="showStats"
         ng-click="$event.stopPropagation();">
      <div class="row charts">
        <mn-statistics-chart
           ng-repeat="config in gsiItemStatsCtl.charts track by config.id"
           get-nvd3-options="gsiItemStatsCtl.getNvd3Options(config)"
           ng-class="'statistics-' + config.size"
           bucket="{{row.bucket}}"
           zoom="{{gsiItemStatsCtl.zoom}}"
           class="panel"
           config="config"></mn-statistics-chart>
      </div>
    </div>
  </div>
  <!-- nodes="statisticsNewCtl.nodes" -->
</div>
