<div
   ng-if="rbac.cluster.settings.read"
   mn-launchpad
   launchpad-source="adminCtl.launchpadSource"
   launchpad-id="adminCtl.launchpadId"></div>
<div
   ui-view="lostConnection">
</div>

<div class="row">
  <div class="red-1 nowrap text-smaller margin-left-1">6.5 BETA
    <span ng-show="adminCtl.isDeveloperPreview">&#8231; PREVIEW MODE &#8231; UNSUPPORTED &#8231; NOT FOR USE IN PRODUCTION</span>
  </div>
  <nav class="nav-header">
    <a ng-click="adminCtl.toggleProgressBar()" class="activities" ng-if="rbac.cluster.tasks.read">
      activity
      <span
         ng-if="adminCtl.filterTasks(adminCtl.tasks.running).length > 0"
         class="label badge">
        {{adminCtl.filterTasks(adminCtl.tasks.running).length}}
      </span>
    </a>
<!-- rebalance menu ******************************************************** -->
    <div class="relative inline" ng-if="rbac.cluster.tasks.read">
      <div
         mn-drag-and-drop
         base-corner-right="true"
         class="tasks-progress panel dialog-med rebalance-panel enable-ng-animation"
         ng-if="!adminCtl.isProgressBarClosed">
        <div class="row">
          <h3>Rebalance</h3>
          <span ng-click="adminCtl.toggleProgressBar()" class="cursor-pointer">X</span>
        </div>
        <div ng-if="adminCtl.tasks.tasksRebalance">
          <p class="desc relative">
            <span class="nowrap" ng-if="adminCtl.tasks.tasksRebalance.stageInfo.startTime">
              start: {{adminCtl.tasks.tasksRebalance.stageInfo.startTime | date:'d MMM HH:mm:ss Z'}}
            </span>
            <span ng-show="adminCtl.tasks.tasksRebalance.stageInfo.completedTime.status" class="nowrap pipe">
              complete: {{adminCtl.tasks.tasksRebalance.stageInfo.completedTime.time | date:'d MMM HH:mm:ss Z'}}
            </span>
            <span class="nowrap pipe" ng-class="{'rebalance-status-inprogress' : adminCtl.tasks.tasksRebalance.status == 'running'}">
              status: {{adminCtl.tasks.tasksRebalance.status == "running" ? "in progress" :
              adminCtl.tasks.tasksRebalance.errorMessage ? "failed" : "completed"}}
            </span>
          </p>
          <div class="alert"
               ng-show="adminCtl.tasks.tasksRebalance.completionMessage"
               ng-class="{'alert-error': adminCtl.tasks.tasksRebalance.errorMessage,
                         'alert-success': !adminCtl.tasks.tasksRebalance.errorMessage}">
            <p>{{adminCtl.tasks.tasksRebalance.completionMessage}}</p>
          </div>
<!-- rebalance timeline ****************************************************
          <div class="timeline">
            <div
               class="timeline-stage"
               ng-class="{highlight: !(service.timeTaken === false)}"
               ng-repeat="service in adminCtl.tasks.tasksRebalance.stageInfo.services track by (service.name + $index)">
              <label class="initialcaps">{{service.name}}</label>
              <div class="timeline-dot"></div>
            </div>
          </div>
-->
<!-- rebalance per stage info ********************************************** -->
          <div ng-repeat="service in adminCtl.tasks.tasksRebalance.stageInfo.services track by (service.name + $index)">
            <div class="row">
              <label
                 class="initialcaps"
                 ng-click="showModule = !showModule"
                 ng-class="{disclosed: showModule && service.name == 'data',
                            disclosure: service.name == 'data',
                            'cursor-pointer': service.name == 'data',
                            'indent-1': service.name !== 'data'}">
                {{service.name}}
              </label>
              <span
                 ng-show="service.timeTaken !== false"
                 class="rebalance-stage-status">
                <span
                   ng-show="service.completedTime"
                   class="rebalance-stage-success">
                  completed
                </span>
                <span
                   ng-show="!service.completedTime && !adminCtl.tasks.tasksRebalance.errorMessage"
                   class="rebalance-stage-inprogress"
                   ng-class="{'rebalance-stage-inprogress-paused' : adminCtl.tasks.tasksRebalance.status !== 'running'}">
                  elapsed
                </span>
                <span
                   ng-show="!service.completedTime && adminCtl.tasks.tasksRebalance.errorMessage"
                   class="rebalance-stage-error">
                  failed
                </span>
                {{service.timeTaken | mnMsToTime}}
              </span>
              <span ng-show="service.timeTaken === false">- - -</span>
            </div>
<!-- per bucket info ******************************************************* -->
            <div ng-if="showModule" class="margin-bottom-1">
              <div ng-repeat="bucketInfo in service.details track by bucketInfo.name" class="indent-1">
                <label
                   ng-click="hideBucket = !hideBucket"
                   class="reverse disclosed cursor-pointer margin-bottom-half"
                   ng-class="{disclosure: hideBucket}">
                    {{bucketInfo.name}}
                </label>
                <div ng-if="!hideBucket" class="indent-1-5">
                  <h6 ng-show="bucketInfo.vbucketLevelInfo">vBucket Moves</h6>
                  <div class="rebalance-stage-details"
                       ng-if="!hidevbucket && bucketInfo.vbucketLevelInfo">
                    <div class="cbui-table-header padding-left-0 border-0">
                      <div class="cbui-table-cell">stage</div>
                      <div class="cbui-table-cell">average time</div>
                    </div>
                    <div class="cbui-tablerow padding-left-0"
                         ng-repeat="(key, v) in bucketInfo.vbucketLevelInfo track by key"
                         ng-if="key !== 'vbucketInfo'">
                      <div class="cbui-table-cell initialcaps">{{key}}</div>
                      <div class="cbui-table-cell">{{v.averageTime / 1000 | number:4}}</div>
                    </div>
                  </div>

                  <h6
                     ng-show="bucketInfo.compactionInfo"
                     ng-click="hideCompaction = !hideCompaction"
                     class="reverse disclosed cursor-pointer"
                     ng-class="{disclosure: hideCompaction}">
                    Compaction
                  </h6>
                  <div ng-if="!hideCompaction && bucketInfo.compactionInfo"
                       class="rebalance-stage-details">
                    <div class="cbui-table-header padding-left-0 border-0">
                      <div class="cbui-table-cell">node</div>
                      <div class="cbui-table-cell">average time</div>
                    </div>
                    <div class="cbui-tablerow padding-left-0"
                         ng-repeat="(node, v) in bucketInfo.compactionInfo.perNode track by node">
                      <div class="cbui-table-cell">{{node}}</div>
                      <div class="cbui-table-cell">{{v.averageTime / 1000 | number:4}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-show="service.subStages.deltaRecovery" ng-if="!hideBucket" class="row indent-2-5">
                <h6>Delta Recovery</h6>
                <span
                   ng-show="service.subStages.deltaRecovery.timeTaken !== false"
                   class="rebalance-stage-status">
                  <span
                     ng-show="service.subStages.deltaRecovery.completedTime"
                     class="rebalance-stage-success">
                    completed
                  </span>
                  <span
                     ng-show="!service.subStages.deltaRecovery.completedTime && !adminCtl.tasks.tasksRebalance.errorMessage"
                     class="rebalance-stage-inprogress">
                    elapsed
                  </span>
                  <span
                     ng-show="!service.subStages.deltaRecovery.completedTime && adminCtl.tasks.tasksRebalance.errorMessage"
                     class="rebalance-stage-error">
                    failed
                  </span>
                  {{service.subStages.deltaRecovery.timeTaken | mnMsToTime}}
                </span>
                <span ng-show="service.subStages.deltaRecovery.timeTaken === false">- - -</span>
              </div>
            </div>
          </div>
          <div
             class="text-right margin-bottom-1 margin-top-1"
             ng-hide="!poolDefault.rebalancing || !rbac.cluster.pools.write">
            <button
               class="red"
               ng-click="adminCtl.postStopRebalance()">
              Stop
            </button>
          </div>
        </div>
        <div ng-repeat="task in adminCtl.filterTasks(adminCtl.tasks.running)" class="zero-content margin-top-1">
          <div class="text-small text-left">
            {{task | formatProgressMessage}}
            <span ng-if="task.progress != undefined">{{(task.progress | number:1) + '%'}}</span>
          </div>
          <div
             class="bar-wrapper"
             ng-show="task.type !== 'loadingSampleBucket' && task.type !== 'orphanBucket'">
            <div
               class="bar positive"
               ng-style="{'width': task.progress + '%'}">
              <div></div>
            </div>
            <div
               class="bar negative"
               ng-style="{'width': (100 - task.progress) + '%'}">
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- End of rebalance/activity menu **************************************** -->
    <a
       ng-click="adminCtl.runInternalSettingsDialog();"
       ng-show="adminCtl.enableInternalSettings && rbac.cluster.admin.settings.write">
      Edit internal settings
    </a>
    <span uib-dropdown>
      <a uib-dropdown-toggle>
        help <span class="has-menu">&nbsp;</span>
      </a>
      <div uib-dropdown-menu class="dropdown-menu-select-like">
        <a ng-href="https://developer.couchbase.com/documentation/server/{{::(adminCtl.implementationVersion | parseVersion)[0].split('.').splice(0,2).join('.')}}/introduction/whats-new.html" target="_blank">
          Documentation<br>
          <desc>For version {{::(adminCtl.implementationVersion | parseVersion)[0].split('.').splice(0,2).join('.')}}</desc>
        </a>
        <a ng-href="{{adminCtl.poolDefault.isEnterprise  ? 'http://support.couchbase.com' : 'http://www.couchbase.com/communities/'}}" target="cbforums">
          Couchbase Support<br>
          <desc>For Enterprise Edition subscription customers</desc>
        </a>
        <a ng-click="adminCtl.showClusterInfoDialog()">
          Get Cluster Summary Info<br>
          <desc>For complete info, use
            <span
               ng-click="$event.stopPropagation()"
               ui-sref="app.admin.logs.collectInfo.form"
               class="blue-1">
              Collect Info
            </span>
          </desc>
        </a>
      </div>
    </span>
    <span uib-dropdown>
      <a uib-dropdown-toggle class="nowrap ellipsis max-width-3">
        {{adminCtl.user.id}}
        <span class="has-menu">&nbsp;</span>
      </a>
      <div uib-dropdown-menu class="dropdown-menu-select-like">
        <a
           ng-show="pools.isEnterprise && poolDefault.compat.atLeast50 && (adminCtl.user.domain === 'local' || adminCtl.user.domain === 'admin')"
           ng-click="adminCtl.showResetPasswordDialog()">
          Change Password
        </a>
        <a
           ng-click="adminCtl.logout()"
           class="ellipsis max-width-4">
          Sign Out {{adminCtl.user.id}}
        </a>
      </div>
    </span>
  </nav>
</div>

<header>
  <a ui-sref="app.admin.overview.statistics" class="logobug-wrapper">
    <img src="../cb_logo_bug_white_2.svg" width="48" height="48" alt="Couchbase Server" class="logobug" title="Couchbase Server {{::adminCtl.implementationVersion | mnPrettyVersion}}">
  </a>
  <h1>
    <a ui-sref="app.admin.overview.statistics" class="resp-txt-xsml ellipsis">
      {{adminCtl.tabName}} <!-- the cluster name -->
    </a>
    <span class="resp-hide-xsml" ng-show="adminCtl.tabName">
      <span class="icon fa-angle-right"></span>
    </span>
    <span ng-if="adminCtl.$state.current.data.child">
      <a
        ui-state="adminCtl.$state.current.data.child"
        ui-state-params="('merge' | lodash:{}:adminCtl.$state.params:adminCtl.$state.current.data.childParams)">
        {{adminCtl.$state.get(adminCtl.$state.current.data.child).data.title}} <!-- the back-to-parent page name -->
      </a>
    </span>
    <span ng-if="adminCtl.$state.current.data.child" class="icon fa-angle-right"></span>
    <span>
      {{adminCtl.$state.current.data.title}} <!-- the current page name -->
    </span>
  </h1>

  <!-- Depots are the placeholders for page-specific controls/content -->
  <div class="row flex-right">
    <mn-element-depot name="header"></mn-element-depot>
    <mn-element-depot name="actions"></mn-element-depot>
    <span class="menu-icon" ng-click="showRespMenu = !showRespMenu">
      <span class="icon fa-navicon"></span>
    </span>
  </div>
</header>

<mn-element-depot name="subnav"></mn-element-depot>

<main>
  <nav
     class="nav-sidebar"
     ng-class="{'resp-show-menu' : showRespMenu, 'nav-sidebar-hidden' : poolDefault.hideNavSidebar}"
     ng-click="showRespMenu = !showRespMenu"
     mn-pluggable-ui-tabs
     mn-tab-bar-name="adminTab">

    <a
       mn-tab="overview"
       ui-sref="app.admin.overview.statistics"
       ui-sref-active="currentnav">
      Dashboard
    </a>
    <a
       mn-tab="servers"
       ui-sref-active="currentnav"
       ui-sref="app.admin.servers.list">
      Servers
    </a>
    <a
       mn-tab="buckets"
       ng-show="rbac.cluster.bucket['.'].settings.read"
       ui-sref="app.admin.buckets"
       ui-sref-active="currentnav">
      Buckets
    </a>
    <a
       ng-show="rbac.cluster.tasks.read"
       mn-tab="replications"
       ui-sref-active="currentnav"
       ui-sref="app.admin.replications">
      XDCR
    </a>
    <a
       ng-show="rbac.cluster.admin.security.read"
       mn-tab="security"
       ng-class="{currentnav: ('app.admin.security' | includedByState)}"
       ui-sref="app.admin.security">
      Security
    </a>
    <a
       mn-tab="settings"
       ng-class="{currentnav: ('app.admin.settings' | includedByState)}"
       ui-sref="app.admin.settings.cluster">
      <span
         ng-show="adminCtl.updates.sendStats && !!adminCtl.updates.newVersion"
         class="label neutral badge notify"
         uib-tooltip="A newer version of Couchbase Server is available on the General Settings page..."
         tooltip-placement="auto right"
         tooltip-append-to-body="true">i</span>
      Settings
    </a>
    <a
       mn-tab="logs"
       ui-sref="app.admin.logs.list"
       ng-class="{currentnav: ('app.admin.logs' | includedByState)}"
       ng-show="rbac.cluster.logs.read">
      Logs
    </a>
    <div class="margin-bottom-1"></div>
    <nav
       mn-pluggable-ui-tabs
       mn-tab-bar-name="workbenchTab">
    </nav>
    <a
       ng-show="rbac.cluster.bucket['.'].settings.read && rbac.cluster.bucket['.'].views.read"
       ui-state="'app.admin.views.list'"
       ui-state-params="{bucket: rbac.bucketNames['.views!read'][0] || null}"
       ng-class="{currentnav: ('app.admin.views' | includedByState)}">Views</a>
    <a
       ng-show="rbac.cluster.bucket['.'].n1ql.index.read"
       ui-sref="app.admin.gsi"
       ng-class="{currentnav: ('app.admin.gsi' | includedByState)}">Indexes</a>

    <div
        class="sidebar-closer resp-hide-med"
        title="hide sidebar"
        ng-click="poolDefault.hideNavSidebar = true">
      <span class="icon fa-chevron-left"></span>
    </div>
  </nav>

  <div
     class="sidebar-opener"
     title="show sidebar"
     ng-class="{'show' : poolDefault.hideNavSidebar}"
     ng-click="poolDefault.hideNavSidebar = false">
    <span class="icon fa-chevron-right"></span>
  </div>

  <!-- all page content goes here -->
  <div
     ui-view="main"
     autoscroll="false"
     class="main-content min-width-zero width-12"
     mn-spinner="showMainSpinner"
     opacity="true"></div>
</main>

<div class="alert-wrapper fix-position-bl">
  <mn-element-depot name="alerts"></mn-element-depot>
  <div
     class="alert alert-warning ng-hide"
     ng-show="adminCtl.retryRebalance && (adminCtl.retryRebalance.retry_rebalance !== 'not_pending')">
    <p>
      <span ng-show="adminCtl.retryRebalance.type == 'rebalance'">Rebalance</span>
      <span ng-show="adminCtl.retryRebalance.type == 'graceful_failover'">Graceful Failover</span>
      failed. It will be automatically retried in {{adminCtl.retryRebalance.retry_after_secs}}<br>
      <a
         ng-click="adminCtl.postCancelRebalanceRetry(adminCtl.retryRebalance.rebalance_id)"
         ng-show="rbac.cluster.pools.write">
        CANCEL RETRY
      </a>
    </p>
  </div>
  <div
     class="alert alert-warning"
     ng-show="adminCtl.lostConnState.isActive">
    <p>Difficulties communicating with the cluster. Displaying cached information.</p>
  </div>
  <div
     ng-repeat="alert in adminCtl.alerts"
     class="animate-alert alert enable-ng-animation"
     ng-class="['alert-' + alert.type]">
    <p>{{alert.msg}}</p>
    <a
       ng-click="adminCtl.closeAlert(alert)"
       class="close"
       ng-hide="alert.type == 'success'">X</a>
  </div>
</div>
