<div class="cbui-table" mn-sortable-table>
  <div class="cbui-table-header">
    <span class="cbui-table-cell flex-grow-1-5">
      <span
         mn-sortable-title="index"
         sort-by-default="true"
         class="sorter">
        index name
      </span>
    </span>
    <span class="cbui-table-cell flex-grow-half resp-hide-xsml">
      <span mn-sortable-title="num_requests" class="sorter">
        requests/sec
      </span>
    </span>
    <span class="cbui-table-cell flex-grow-half resp-hide-sml">
      <span mn-sortable-title="index_resident_percent" class="sorter">
        resident ratio
      </span>
    </span>
    <span class="cbui-table-cell flex-grow-half">
      <span mn-sortable-title="items_count" class="sorter">
        items
      </span>
    </span>
    <span class="cbui-table-cell flex-grow-half resp-hide-xsml">
      <span mn-sortable-title="data_size" class="sorter">
        data size
      </span>
    </span>
    <span class="cbui-table-cell">
      <span mn-sortable-title="keyspace" class="sorter">
        keyspace
      </span>
    </span>
    <span class="cbui-table-cell">
      <span mn-sortable-title="status" class="sorter">
        status
      </span>
    </span>
  </div>
  <section
     ng-repeat="row in mnGsiTableCtl.paginatorPage track by mnGsiTableCtl.generateIndexId(row)"
     ng-class="[(row.awaitingRemoval ? 'disabled-tag' : ''),
                (mnGsiTableCtl.isDetailsOpened(mnGsiTableCtl.generateIndexId(row)) ?
                mnGsiTableCtl.getStatusClass(row) : '')]"
     ng-click="mnGsiTableCtl.toggleDetails(mnGsiTableCtl.generateIndexId(row))"
     class="has-hover">
    <div
       class="cbui-tablerow"
       ng-class="[(!mnGsiTableCtl.isDetailsOpened(mnGsiTableCtl.generateIndexId(row)) ?
              mnGsiTableCtl.getStatusClass(row) : '')]"
       ng-controller="mnGsiItemController as gsiItemCtl">
      <span class="cbui-table-cell flex-grow-1-5 row flex-left" ng-attr-title="{{row.index}}">
        {{row.indexName || row.index}}
        <span class="flex-inline flex-wrap">
          <span class="label lt-blue" ng-if="row.partitioned">
            partitioned
          </span>
          <span class="label warning" ng-if="row.stale">
            stale
          </span>
          <span
             class="label lt-blue" ng-if="row.index.indexOf('(replica') > -1"
             uib-tooltip="Index replicas are always active and automatically load-balance scan requests."
             tooltip-append-to-body="true"
             tooltip-placement="auto top"
             tooltip-trigger="mouseenter">
            replica {{row.index.split("(replica ")[1].slice(0,-1)}}
          </span>
        </span>
      </span>
      <span class="cbui-table-cell flex-grow-half resp-hide-xsml">
        {{row.num_requests | mnFormatQuantity:1000}}
      </span>
      <span class="cbui-table-cell flex-grow-half resp-hide-sml">
        {{(row.index_resident_percent | number:0) || 0}}%
      </span>
      <span class="cbui-table-cell flex-grow-half">
        {{row.items_count | mnFormatQuantity:1000}}
      </span>
      <span class="cbui-table-cell flex-grow-half resp-hide-xsml">
        {{row.data_size | mnFormatQuantity}}
      </span>
      <span class="cbui-table-cell">
        {{mnGsiTableCtl.getRowKeyspace(row)}}
      </span>
      <span class="cbui-table-cell flex-wrap text-smaller">
        <div
           ng-show="row.status == 'Building'"
           uib-tooltip="{{mnGsiTableCtl.getStatusDescription(row)}}"
           tooltip-append-to-body="true"
           tooltip-trigger="mouseenter"
           ng-click="$event.stopPropagation();">
          building {{row.progress}}%
        </div>
        <div
           ng-show="row.status != 'Building'"
           uib-tooltip="{{mnGsiTableCtl.getStatusDescription(row)}}"
           tooltip-append-to-body="true"
           tooltip-trigger="mouseenter"
           ng-click="$event.stopPropagation();"
           class="nocaps">
          {{row.status}}
        </div>
        <div ng-if="row['num_docs_pending+queued']"
           class="label warning">
          {{row['num_docs_pending+queued'] | mnFormatQuantity:1000}}
          mutations remaining
        </div>
      </span>
    </div>
    <mn-gsi-item-details
       row="row"
       node-name="{{nodeName}}"
       rbac="rbac"
       pools="pools"
       class="cbui-tablerow-expanded"
       ng-if="mnGsiTableCtl.isDetailsOpened(mnGsiTableCtl.generateIndexId(row))">
    </mn-gsi-item-details>
  </section>
  <div ng-if="!mnGsiTableCtl.paginatorPage.length" class="zero-content margin-top-1-5">
    No indexes found for this bucket.scope combination. Try another bucket.scope.
  </div>
  <div class="row">
    <select
       ng-model="mnGsiTableCtl.paginatorValues.size"
       ng-change="mnGsiTableCtl.sizeChanged()"
       class="cbui-select-small margin-top-half">
      <option ng-repeat="value in [10,20,40,80]" ng-value="value">{{value}}</option>
    </select>
    <div
       uib-pagination
       ng-if="list.length"
       ng-model="mnGsiTableCtl.paginatorValues.page"
       max-size="5"
       items-per-page="mnGsiTableCtl.paginatorValues.size"
       total-items="mnGsiTableCtl.listFiltered.length"
       ng-change="mnGsiTableCtl.pageChanged()"></div>
  </div>
</div>
