<div class="panel-content">
  <div class="row flex-center width-10 margin-auto margin-top-neg-half">
    <mn-select
      class="fix-width-1-5 margin-0"
      ng-model="detailedChartCtl.zoom"
      on-select="detailedChartCtl.onSelectZoom(selectedOption)"
      values="['minute', 'hour', 'day', 'week', 'month']"
      capitalize="true">
    </mn-select>
  </div>
  <mn-statistics-chart
     ng-class="detailedChartCtl.zoom + '-chart'"
     ng-if="!detailedChartCtl.reloadChartDirective"
     stats-poller="detailedChartCtl.statsPoller"
     bucket="{{detailedChartCtl.bucket}}"
     zoom="{{detailedChartCtl.zoom}}"
     node="{{detailedChartCtl.node || 'all'}}"
     mn-d3="detailedChartCtl.options"
     rbac="rbac"
     items="detailedChartCtl.items"
     config="detailedChartCtl.chart"
     class="detailed-chart"></mn-statistics-chart>
</div>
