<!--
     Copyright 2020-Present Couchbase, Inc.

     Use of this software is governed by the Business Source License included
     in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
     in that file, in accordance with the Business Source License, use of this
     software will be governed by the Apache License, Version 2.0, included in
     the file licenses/APL2.txt.
-->
<mn-main-spinner
   mn-spinner-value="(settingsClusterCtl.querySettings === undefined)">
</mn-main-spinner>

<div>
  <form
     name="settingsForm"
     ng-submit="settingsClusterCtl.saveVisualInternalSettings()"
     class="forms">

    <div ng-if="poolDefault.compat.atLeast55 && rbac.cluster.settings.read" class="margin-top-1">

    <!-- Left Panel of query options -->
    <div class="row flex-left items-stretch resp-flex-column-med margin-bottom-3">
      <div class="width-5">

        <div class="formrow">
          <label>CURL() Function Access</label>
          <input
                  type="radio"
                  ng-value="false"
                  name="all_access"
                  id="n1ql_curl_access_restricted"
                  ng-disabled="!rbac.cluster.settings.write"
                  ng-model="settingsClusterCtl.querySettings.queryCurlWhitelist.all_access">
          <label for="n1ql_curl_access_restricted" class="checkbox">
            Restricted
          </label>
          <br>
          <input
                  type="radio"
                  ng-value="true"
                  name="all_access"
                  id="n1ql_curl_access_unrestricted"
                  ng-disabled="!rbac.cluster.settings.write"
                  ng-model="settingsClusterCtl.querySettings.queryCurlWhitelist.all_access">
          <label for="n1ql_curl_access_unrestricted" class="checkbox">
            Unrestricted
          </label>
        </div>
        <div class="formrow margin-bottom-half"
             ng-if="!settingsClusterCtl.querySettings.queryCurlWhitelist.all_access">
          <label>Allowed CURL URLs</label>
          <div
                  class="margin-bottom-half row"
                  ng-repeat="url in settingsClusterCtl.querySettings.queryCurlWhitelist.allowed_urls track by $index">
            <input
                    type="text"
                    autocorrect="off"
                    spellcheck="false"
                    autocapitalize="off"
                    ng-disabled="!rbac.cluster.settings.write"
                    ng-model="settingsClusterCtl.querySettings.queryCurlWhitelist.allowed_urls[$index]">
            <button
                    class="outline btn-small margin-left-half"
                    title="Remove field"
                    ng-disabled="!rbac.cluster.settings.write || settingsClusterCtl.querySettings.queryCurlWhitelist.allowed_urls.length == 1"
                    ng-click="settingsClusterCtl.querySettings.queryCurlWhitelist.allowed_urls.splice($index, 1);"
                    type="button">-</button>
          </div>
          <div class="row flex-right items-top">
            <div
                    class="error error-form"
                    ng-show="!!settingsClusterCtl.curlWhitelistErrors.allowed_urls">
              {{settingsClusterCtl.curlWhitelistErrors.allowed_urls}}
            </div>
            <button
                    class="outline btn-small margin-quarter"
                    title="Add field"
                    ng-disabled="!rbac.cluster.settings.write"
                    ng-click="settingsClusterCtl.querySettings.queryCurlWhitelist.allowed_urls.push('')"
                    type="button">+</button>
          </div>
        </div>

      <div class="formrow"
           ng-if="!settingsClusterCtl.querySettings.queryCurlWhitelist.all_access">
        <label>Disallowed CURL URLs</label>
        <div
                class="margin-bottom-half row"
                ng-repeat="url in settingsClusterCtl.querySettings.queryCurlWhitelist.disallowed_urls track by $index">
          <input
                  type="text"
                  autocorrect="off"
                  spellcheck="false"
                  autocapitalize="off"
                  ng-disabled="!rbac.cluster.settings.write"
                  ng-model="settingsClusterCtl.querySettings.queryCurlWhitelist.disallowed_urls[$index]">
          <button
                  class="outline btn-small margin-left-half"
                  title="Remove field"
                  ng-disabled="!rbac.cluster.settings.write || settingsClusterCtl.querySettings.queryCurlWhitelist.disallowed_urls.length == 1"
                  ng-click="settingsClusterCtl.querySettings.queryCurlWhitelist.disallowed_urls.splice($index, 1);"
                  type="button">-</button>
        </div>
        <div class="row flex-right items-top">
          <div
                  class="error error-form"
                  ng-show="!!settingsClusterCtl.curlWhitelistErrors.disallowed_urls">
            {{settingsClusterCtl.curlWhitelistErrors.disallowed_urls}}
          </div>
          <button
                  class="outline btn-small margin-quarter"
                  title="Add field"
                  ng-click="settingsClusterCtl.querySettings.queryCurlWhitelist.disallowed_urls.push('')"
                  ng-disabled="!rbac.cluster.settings.write"
                  type="button">+</button>
        </div>
      </div>

      <div class="margin-bottom-1">
        <div class="row items-top resp-sml">
          <div class="column width-9">
            <label for="setup_query_temp_input">Query Temp Disk Path</label>
            <input
                    type="text"
                    autocorrect="off"
                    spellcheck="false"
                    autocapitalize="off"
                    id="setup_query_temp_input"
                    ng-disabled="!rbac.cluster.settings.write"
                    ng-model="settingsClusterCtl.querySettings.queryTmpSpaceDir">
            <div
                    class="error error-form"
                    ng-show="!!settingsClusterCtl.querySettingsErrors.queryTmpSpaceDir">
              {{settingsClusterCtl.querySettingsErrors.queryTmpSpaceDir}}
            </div>
          </div>
          <div class="width-3">
            <label for="setup_query_gb_input">Quota</label>
            <div class="relative">
              <div class="inside-label">MiB</div>
              <input
                      type="text"
                      autocorrect="off"
                      spellcheck="false"
                      autocapitalize="off"
                      id="setup_query_gb_input"
                      ng-init="5"
                      ng-disabled="!rbac.cluster.settings.write"
                      ng-model="settingsClusterCtl.querySettings.queryTmpSpaceSize"
                      class="input-inside-label"
                      maxlength="12">
            </div>
            <div
                    class="error error-form"
                    ng-show="!!settingsClusterCtl.querySettingsErrors.queryTmpSpaceSize">
              {{settingsClusterCtl.querySettingsErrors.queryTmpSpaceSize}}
            </div>
          </div>
        </div>
      </div>

        <mn-field
                mn-name="queryPipelineBatch"
                mn-type="number"
                mn-id="query-pipeline-batch"
                mn-label="Pipeline Batch"
                mn-disabled="!rbac.cluster.settings.write"
                mn-model="settingsClusterCtl.querySettings"
                mn-errors="settingsClusterCtl.querySettingsErrors">
        </mn-field>

        <mn-field
                mn-name="queryPipelineCap"
                mn-type="number"
                mn-id="query-pipeline-cap"
                mn-label="Pipeline Cap"
                mn-disabled="!rbac.cluster.settings.write"
                mn-model="settingsClusterCtl.querySettings"
                mn-errors="settingsClusterCtl.querySettingsErrors">
        </mn-field>

        <mn-field
                mn-name="queryScanCap"
                mn-type="number"
                mn-id="query-scan-cap"
                mn-label="Scan Cap"
                mn-disabled="!rbac.cluster.settings.write"
                mn-model="settingsClusterCtl.querySettings"
                mn-errors="settingsClusterCtl.querySettingsErrors">
        </mn-field>

        <mn-field
                mn-name="queryTimeout"
                mn-type="number"
                mn-id="query-timeout"
                mn-label="Timeout"
                mn-disabled="!rbac.cluster.settings.write"
                mn-model="settingsClusterCtl.querySettings"
                mn-errors="settingsClusterCtl.querySettingsErrors">
        </mn-field>


        <mn-field
                mn-name="queryPreparedLimit"
                mn-type="number"
                mn-id="query-prepared-limit"
                mn-label="Prepared Limit"
                mn-disabled="!rbac.cluster.settings.write"
                mn-model="settingsClusterCtl.querySettings"
                mn-errors="settingsClusterCtl.querySettingsErrors">
        </mn-field>

        <mn-field
                mn-name="queryCompletedLimit"
                mn-type="number"
                mn-id="query-completed-limit"
                mn-label="Completed Limit"
                mn-disabled="!rbac.cluster.settings.write"
                mn-model="settingsClusterCtl.querySettings"
                mn-errors="settingsClusterCtl.querySettingsErrors">
        </mn-field>

        <mn-field
                mn-name="queryCompletedThreshold"
                mn-type="number"
                mn-id="query-completed-threshold"
                mn-label="Completed Threshold"
                mn-disabled="!rbac.cluster.settings.write"
                mn-model="settingsClusterCtl.querySettings"
                mn-errors="settingsClusterCtl.querySettingsErrors">
        </mn-field>

      </div>

      <div class="vertical-page-splitter resp-hide-med">&nbsp;</div>

      <!-- Right Panel of query options -->

      <div class="width-6">

          <mn-field
                  mn-name="queryLogLevel"
                  mn-type="select"
                  mn-items="['debug', 'trace', 'info', 'warn', 'error', 'severe', 'none']"
                  mn-id="query-log-level"
                  mn-label="Log Level"
                  mn-disabled="!rbac.cluster.settings.write"
                  mn-model="settingsClusterCtl.querySettings"
                  mn-errors="settingsClusterCtl.querySettingsErrors">
          </mn-field>

            <mn-field
               mn-name="queryMaxParallelism"
               mn-type="number"
               mn-id="query-max-parallelism"
               mn-label="Max Parallelism"
               mn-disabled="!rbac.cluster.settings.write"
               mn-model="settingsClusterCtl.querySettings"
               mn-errors="settingsClusterCtl.querySettingsErrors">
            </mn-field>

            <mn-field
               mn-name="queryN1QLFeatCtrl"
               mn-type="number"
               mn-id="query-N1QL-feat-ctrl"
               mn-label="N1QL Feature Controller"
               mn-disabled="!rbac.cluster.settings.write"
               mn-model="settingsClusterCtl.querySettings"
               mn-errors="settingsClusterCtl.querySettingsErrors">
            </mn-field>

            <mn-field
               ng-if="adminCtl.poolDefault.compat.atLeast70"
               mn-name="queryTxTimeout"
               mn-type="text"
               mn-id="query-transaction-timeout"
               mn-label="Transaction Timeout"
               mn-disabled="!rbac.cluster.settings.write"
               mn-model="settingsClusterCtl.querySettings"
               mn-errors="settingsClusterCtl.querySettingsErrors">
            </mn-field>

            <mn-field
               ng-if="adminCtl.poolDefault.compat.atLeast70"
               mn-name="queryMemoryQuota"
               mn-type="text"
               mn-id="query-memory-quota"
               mn-label="Memory Quota (MB)"
               mn-disabled="!rbac.cluster.settings.write"
               mn-model="settingsClusterCtl.querySettings"
               mn-errors="settingsClusterCtl.querySettingsErrors">
            </mn-field>

            <mn-field
               ng-if="adminCtl.poolDefault.compat.atLeast70 && adminCtl.poolDefault.isEnterprise"
               mn-name="queryUseCBO"
               mn-type="checkbox"
               mn-id="query-use-cbo"
               mn-label="Use Cost-Based Optimizer"
               mn-disabled="!rbac.cluster.settings.write"
               mn-model="settingsClusterCtl.querySettings"
               mn-errors="settingsClusterCtl.querySettingsErrors">
            </mn-field>

            <div ng-show="adminCtl.poolDefault.compat.atLeast75" class="formrow">
              <label>Use Replica</label>
              <input
                 type="radio"
                 id="for-useReplica-unset"
                 name="use_replica_options"
                 ng-model="settingsClusterCtl.querySettings.queryUseReplica"
                 ng-disabled="!rbac.cluster.settings.write"
                 value="unset">
              <label for="for-useReplica-unset">
                Unset
              </label>
              <br>
              <input
                 type="radio"
                 id="for-useReplica-on"
                 name="use_replica_options"
                 ng-model="settingsClusterCtl.querySettings.queryUseReplica"
                 ng-disabled="!rbac.cluster.settings.write"
                 value="on">
              <label for="for-useReplica-on">
                On
              </label>
              <br>
              <input
                 type="radio"
                 id="for-useReplica-off"
                 name="use_replica_options"
                 ng-model="settingsClusterCtl.querySettings.queryUseReplica"
                 ng-disabled="!rbac.cluster.settings.write"
                 value="off">
              <label for="for-useReplica-off">
                Off
              </label>
              <div
                 class="error"
                 ng-show="settingsClusterCtl.querySettingsErrors.queryUseReplica">
                {{settingsClusterCtl.querySettingsErrors.queryUseReplica}}
              </div>
            </div>

            <div ng-show="adminCtl.poolDefault.compat.atLeast80">
              <label>Activity Workload Reporting</label>
              <input
                      type="checkbox"
                      id="workload_reporting_enabled"
                      ng-model="settingsClusterCtl.querySettings.queryActivityWorkloadReporting.enabled">
              <label for="workload_reporting_enabled" class="checkbox">
                Enable Activity Workload Reporting
              </label>

              <label for="workload_reporting_location"
                     ng-class="{'disabled': !settingsClusterCtl.querySettings.queryActivityWorkloadReporting.enabled}">
                Location
                <span
                        class="fa-stack icon-info"
                        uib-tooltip="The name of the keyspace for storing workload data. E.g. MyBucket.MyScope.MyCollection"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-enable="settingsClusterCtl.querySettings.queryActivityWorkloadReporting.enabled">
                <span class="icon fa-circle-thin fa-stack-2x"></span>
                <span class="icon fa-info fa-stack-1x"></span>
              </span>
              </label>
              <input
                      type="text"
                      autocorrect="off"
                      spellcheck="false"
                      autocapitalize="off"
                      id="workload_reporting_location"
                      ng-disabled="!rbac.cluster.settings.write || !settingsClusterCtl.querySettings.queryActivityWorkloadReporting.enabled"
                      ng-model="settingsClusterCtl.querySettings.queryActivityWorkloadReporting.location">

              <label for="workload_reporting_interval"
                     ng-class="{'disabled': !settingsClusterCtl.querySettings.queryActivityWorkloadReporting.enabled}">
                Reporting Interval
                <span
                        class="fa-stack icon-info"
                        uib-tooltip="The period at which gathered workload data is written. A duration (Go format) or an integer (milliseconds)"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-enable="settingsClusterCtl.querySettings.queryActivityWorkloadReporting.enabled">
                <span class="icon fa-circle-thin fa-stack-2x"></span>
                <span class="icon fa-info fa-stack-1x"></span>
              </span>
              </label>
              <input
                      type="text"
                      autocorrect="off"
                      spellcheck="false"
                      autocapitalize="off"
                      id="workload_reporting_interval"
                      ng-disabled="!rbac.cluster.settings.write || !settingsClusterCtl.querySettings.queryActivityWorkloadReporting.enabled"
                      ng-model="settingsClusterCtl.querySettings.queryActivityWorkloadReporting.interval">

              <label for="workload_reporting_threshold"
                     ng-class="{'disabled': !settingsClusterCtl.querySettings.queryActivityWorkloadReporting.enabled}">
                Reporting Threshold
                <span
                        class="fa-stack icon-info"
                        uib-tooltip="The minimum elapsed time before a statement is included in the workload reporting data. A duration (Go format) or an integer (milliseconds)"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-enable="settingsClusterCtl.querySettings.queryActivityWorkloadReporting.enabled">
                <span class="icon fa-circle-thin fa-stack-2x"></span>
                <span class="icon fa-info fa-stack-1x"></span>
              </span>
              </label>
              <input
                      type="text"
                      autocorrect="off"
                      spellcheck="false"
                      autocapitalize="off"
                      id="workload_reporting_threshold"
                      ng-disabled="!rbac.cluster.settings.write || !settingsClusterCtl.querySettings.queryActivityWorkloadReporting.enabled"
                      ng-model="settingsClusterCtl.querySettings.queryActivityWorkloadReporting.threshold">

              <label for="workload_reporting_num_statements"
                     ng-class="{'disabled': !settingsClusterCtl.querySettings.queryActivityWorkloadReporting.enabled}">
                # of Statements
                <span
                        class="fa-stack icon-info"
                        uib-tooltip="The maximum number of unique statements per interval included in the reporting data."
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-enable="settingsClusterCtl.querySettings.queryActivityWorkloadReporting.enabled">
                <span class="icon fa-circle-thin fa-stack-2x"></span>
                <span class="icon fa-info fa-stack-1x"></span>
              </span>
              </label>
              <input
                      type="number"
                      id="workload_reporting_num_statements"
                      ng-disabled="!rbac.cluster.settings.write || !settingsClusterCtl.querySettings.queryActivityWorkloadReporting.enabled"
                      ng-model="settingsClusterCtl.querySettings.queryActivityWorkloadReporting.num_statements">

            </div>

        </div>
    </div>
    </div>
    <footer
       class="footer-save"
       ng-show="rbac.cluster.pools.write || rbac.cluster.settings.indexes.write">
      <button
         type="submit"
         ng-disabled="settingsForm.$pristine"
         class="margin-right-2">
        Save
      </button>
      <a
         class="text-medium"
         ng-click="settingsClusterCtl.reloadState()">Cancel/Reset</a>
    </footer>
  </form>
</div>
